{{#invoiceSummary}}
    <h2 class="ui-title">Invoice - Summary</h2>
    <div class="ui-body ui-body-d">
        {{#accountNumber}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/accountNumber}}
        {{#availableCredit}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/availableCredit}}
        {{#currentBalance}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}<br/><em><small>{{asOfValue}}</small></em></p>
        {{/currentBalance}}
    </div>
    <br />
    <div class="ui-body ui-body-d">
        {{#paymentDueDate}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/paymentDueDate}}
        {{#minimumPaymentDue}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/minimumPaymentDue}}
        {{#invoiceNumber}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/invoiceNumber}}
        {{#closingDate}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/closingDate}}
    </div>

    {{#permissions.MOBILE_PAYMENT_MAKE}}
        {{#unableToMakePaymentMessage}}
            <br />
            <div id="unableToMakePaymentMessage" class="ui-body ui-body-d">
                <p>{{unableToMakePaymentMessage}}</p>
            </div>
        {{/unableToMakePaymentMessage}}

        {{#makePaymentButton}}
            {{#visible}}
                <br />
                <a href="#paymentAdd" class="ui-btn ui-btn-c ui-corner-all">{{label}}</a>
            {{/visible}}
        {{/makePaymentButton}}
    {{/permissions.MOBILE_PAYMENT_MAKE}}
{{/invoiceSummary}}
