<ion-view view-title="{{::vm.config.title}}" class="page-alerts">

  <ion-content ion-sticky>

      <div class="widget-filter-transaction-list widget-filter-card-transaction-list">
          <ion-refresher class="wex-refresher" on-refresh="resetSearchResults()"></ion-refresher>

          <wex-infinite-list on-reload="loadNextPage"
                             is-pending="infiniteScrollService.isPending"
                             reload-distance="::config.reloadDistance"
                             loading-complete="infiniteScrollService.isLoadingComplete">

              <!-- Notifications Banner -->
              <ion-item class="notifications-banner-wrapper">
                  <enable-notifications-banner />
              </ion-item>

              <div collection-repeat="notification in vm.notifications.collection | groupNotificationsByDate : 'data.authorizationDate'"
                   item-height="notification.renderHeight">

                      <notification-item />

              </div>
          </wex-infinite-list>
      </div>

      <div ng-show="infiniteScrollService.isLoadingComplete && vm.notifications.collection.length <= 0" class="no-transactions">{{::vm.config.emptyList}}</div>

  </ion-content>

</ion-view>
