@import "../../styles/card";
@import "../../styles/driver";

page-transactions {
  ion-toolbar.toolbar-md {
    padding: 0;
    min-height: auto;
  }
  ion-header {
    padding: 0;
    &.header-md::after {
      display: none;
    }
  }
}
