<ion-header #header>
  <ion-navbar *ngIf="isListSelectionLocked">
    <ion-title>{{ CONSTANTS.title }}</ion-title>
  </ion-navbar>

  <ion-toolbar *ngIf="!isListSelectionLocked">
    <ion-segment [ngModel]="selectedListView.type" color="primary">
      <ion-segment-button #date value="Date" (ionSelect)="onSelectList(date)">
        Date
      </ion-segment-button>
      <ion-segment-button #driverName value="DriverName" (ionSelect)="onSelectList(driverName)">
        Driver Name
      </ion-segment-button>
      <ion-segment-button #cardNumber value="CardNumber" (ionSelect)="onSelectList(cardNumber)">
        Card Number
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-nav [hidden]="isDateView" #listNav></ion-nav>

<ion-content [hidden]="!isDateView">
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <wex-static-list-page-content [page]="this">
    <ng-template #itemTemplate let-item>
      <div class="content transaction-content">
        <span class="details">
          <div class="card-id">{{ item.details.embossedCardNumber | wexCardNumber }}</div>
          <div text-wrap>{{ item.details.customVehicleId }}</div>
          <div text-wrap>{{ item.details.merchantName }}</div>
          <div text-wrap>{{ item.details.productDescription }}</div>
        </span>

        <span class="transaction-amount">{{ getTransactionAmount(item) | wexCurrency }}</span>
      </div>
    </ng-template>
  </wex-static-list-page-content>


  <ion-infinite-scroll *ngIf="hasMoreItems" threshold="25%" (ionInfinite)="onInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

