@import "../../styles/card";
@import "../../styles/driver";

page-transactions {

  wex-static-list-page-header:not(.active) {
    wex-list-header ion-list-header.item.list-header {
      background-color: #eee;
      color: color($colors, gray);
    }
  }

  .content {
    @extend %wex-list-item-content;

    &.driver-content {
      @extend %wex-list-item-driver;
    }

    &.card-content {
      @extend %wex-list-item-card;
    }
  }

  .transaction-amount {
    padding-right: 1rem;
    text-align: right;
    font-size: $h2-font-size;
    font-weight: bold;
    color: color($colors, dark-gray);
  }
}
