@import "includes/ionic.app";
@import "includes/wex-brand";
@import "includes/wex-mixins";
@import "includes/wex-styles";

/**------------------------------------------------------
 User Login Page
 ------------------------------------------------------**/
$user-login-gradient-top: #7f7f7f;
$user-login-gradient-bottom: #414141;

.user-login-view {
  background: -webkit-linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);
  background: linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);

  color: $inverse-font-color;

  form .list {
    background: none;
  }

  .header-login {
    height: $input-height-base * 2;
  }

  .align-center {
    text-align: center;
  }
}

.landing-view {
  img {
    border: 10px solid #989898;
  }
}

/**-----Make Payment----**/

.fleetlogo {
  margin-top: 0px !important;
}

.align_center {
  text-align:center;
}

.btn_align {
  float:left;
}

.block_align {
  display:inline-block;
}

.content_align {
  display: inline-block;
  float:right;
}

 .menu_height {
   display:block;
   line-height:0px;
 }

