@import "includes/ionic.app";
@import "includes/wex-brand";
@import "includes/wex-mixins";
@import "includes/wex-styles";

/**------------------------------------------------------
 User Login Page
 ------------------------------------------------------**/
$user-login-gradient-top: #7f7f7f;
$user-login-gradient-bottom: #414141;

.user-login-view {
  background: -webkit-linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);
  background: linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);

  color: $inverse-font-color;

  form .list {
    background: none;
  }

  .header-login {
    height: $input-height-base * 2;
  }
}


/**-----Make Payment----**/

 .fleetlogo {
  margin-top: 0px !important;
  color: #ffffff;
  width:75%;
  display:inline-block;
 }
/**Content Alignment**/
 .align_center {
  text-align:center;
 }

 .btn_align {
  float:left;
   font-weight:bold;
 }

 .block_align {
  display:inline-block;
   color:#807f7f;
 }

 .content_align {
  display: inline-block;
  float:right;
   color:#807f7f;
 }
/**Menu Bar**/
 .menu_height {
   display:block;
   line-height:0px;
   color: #ffffff;
   margin-bottom:10px;
   font-size: 10px;
 }

 .item-content {
   background-color:#424242;
   color: #ffffff;
   border-color:#333333;
 }

 .menu_logo,.menu_logo:hover,.menu_logo:active,.menu_logo:focus {
   line-height:20px;
   padding-bottom:0px;
   color:#fff;

 }

  .green {
    color:green;
  }
  .content_border {
    text-decoration: none;
    border:0px;
  }
  .shadow{
    box-shadow: 5px 5px 2px #e5e5e5;
  }

 .body-text {
   color:#807f7f;
 }
 .black{
   color:#333 !important;
 }

.divider {
  border-bottom: 1px solid #ccc;
}
.arrow-align {
  padding-bottom:0px! important;
}