@import "includes/wex-brand";
@import "includes/ionic.app";
@import "includes/flexbox";
@import "includes/wex-mixins";
@import "includes/wex-styles";

$container-background-color: #f0f0f0;

/**------------------------------------------------------
 Version Update Page
 ------------------------------------------------------**/
$user-login-image-header-offset-ios: -8%;
$user-login-image-header-offset-android: 22%;
$user-login-image-form-offset: 27%;
$user-login-error-message-animation: all linear 0.5s;

.version-update-view {

    .button,
    .button-stable:hover {
        color: #FFFFFF;
    }

    .title {
        padding-top: 10px;
    }

    .title-bar {
        color: $inverse-font-color;
        background: url("../img/titlebar.svg") no-repeat center scroll;
        background-size: cover;
        height: 12%;
    }
}

/**------------------------------------------------------
 User Login Page
 ------------------------------------------------------**/
$user-login-image-header-offset-ios: -8%;
$user-login-image-header-offset-android: 22%;
$user-login-image-form-offset: 27%;
$user-login-error-message-animation: all linear 0.5s;

.user-login-view {

     .title-bar{
        color: $inverse-font-color;
        background: url("../img/titlebar.svg") no-repeat center scroll;
        background-size: cover;
        height: 12%;
    }
    @at-root .platform-ios.keyboard-open & {
        position: absolute;
        top: $user-login-image-header-offset-ios;
        bottom: 100% + $user-login-image-header-offset-ios;
        width: 100%;
    }

    @at-root .platform-android.keyboard-open & {
        background-position: center $user-login-image-header-offset-android;
    }

    #errorMessage {

        &.ng-enter, &.ng-leave {
            -webkit-transition: $user-login-error-message-animation;
            transition: $user-login-error-message-animation;
        }

        &, &.ng-leave, &.ng-enter.ng-enter-active {
            top: 0;
            opacity: 1;
        }

        &.ng-enter, &.ng-leave.ng-leave-active {
            top: -100%;
            opacity: 0;
        }
    }

    form {

        top: $user-login-image-form-offset;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;

        .list {
            background: none;
        }

        .item {
            vertical-align: middle;
        }

        .toggle-align {
            padding: 6px 0 5px 0;

            div {
                display:inline-block;
            }
        }

        .item-input {
            width: 100%;
            text-align: center;
            display: inline-block;

                .item-toggle {
                    border-style: none;
                    padding-right: 0px;

                    .toggle {
                        top: 0px;
                        position: relative;
                    }
            }
        }

        .button {
          &.btn-enrollment {
            color: $default-positive;
          }
        }
    }
}

/**Content Alignment**/

.align_center {
    text-align: center;
}

.btn_align {
    float: left;
}

.block_align {
    display: inline-block;
    text-align: left;
}


.content_align {
    display: inline-block;
    float: right;
    text-align: right;
}

.green {
    color: #6d9940 !important;
}

.content_border {
    text-decoration: none;
    border: 0px;
}

.body-text {
    color: #807f7f;
}

.black {
    color: #000000 !important;
}

.divider {
    padding-top: 5px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}

.arrow-align {
    padding-bottom: 0px ! important;
    padding-top: 5px !important;
}

.button-width {
    width: 75% !important;
    display: inline-block;
}

.inner-container {
    background-color: $container-background-color;
}

.button-menu {
    margin-right: 10px;
}

/**------------------------------------------------------
 Side Menu
 ------------------------------------------------------**/
.menu-view {
    background-color: $charcoal-light;
    padding-top: $bar-height;

    .item, .item-content {
        background-color: $charcoal-light;
        color: $inverse-font-color;
        border-color: $charcoal;
    }
    a:active {
        background-color: $charcoal !important;
    }
}

/**------------------------------
 Landing view
----------------------------------**/
.landing-view {
    background-color: #fff;

    .main-container {
        border-bottom: 0;
        background-color: #fff;
        padding: 0;

        .row {
            padding: 8px;

            .col {
                padding: 0;
            }

            .content_align {
                padding-right: 8px;
            }
        }

        .header {
            border-bottom: 1px #ddd solid;
            padding-bottom: 2px;
            padding-top: 10px;
            margin-bottom: 8px;

            .brand-logo {
                float: right;
                width: 100%;
                height: 100%;
               svg {
                   max-height: 75px;
                }
            }
        }
    }

    .chart-container {
        padding-left: 16px;
    }

    .inner-container {
        background-color: $container-background-color;
        margin: 8px;

        .row {
            padding-right: 0;
        }
    }

    #companyDetails {
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;

        .body-text {
            font-weight: normal;
            font-size: 14px;
            color: #000;
        }
    }

    .graph-amounts {
        line-height: 13px;
        padding-top: 12px;

        .label {
            float: right;
            font-weight: normal;
            font-size: 13px;
        }

        .value {
            font-weight: bold;
            font-size: 14px;
        }
    }

    #availableCredit {
        line-height: 18px;
        padding-top: 0;

        .value {
            font-size: 22px;
        }
    }

    #billedAmount {
        color: #334c5b;
    }

    #unbilledAmount {
        color: #3799b3;
    }

    .balance-positive {
        color: #39802b;
    }

    .balance-negative {
        color: #B30308;
    }

    .invoice-divider {
        border-bottom: 1px solid #fff;
        padding: 8px;

        .label {
            color: #000;
            font-size: 14px;
        }

        .value {
            color: #000;
            font-size: 14px;
        }
    }

    .current-balance {
        .label {
            font-weight: bold;
        }

        .value {
            font-weight: bold;
            font-size: 16px;
        }
    }

    .button-container {
        background-color: #d9d9d9;
        padding: 8px;

        .button-divider {
            margin-bottom: 0;
            border-bottom: 1px solid #71a6c8;
        }

        .button-group {
            margin: 8px 0 0;

            .button {
                margin: 0;
            }
        }

        .button {
            font-size: 18px;
            font-weight: normal;
            margin: 0;
            padding: 0;

            .row {
                padding: 0 8px;
            }

            .ion-chevron-right {
                margin: 0;
                right: 0;
            }
        }

        .button-stable {
            color: #fff;
        }

        .badge {
            font-size: 12px;
            float: right;
            padding-top: 7px;
            position: absolute;
        }
    }
}

/**----------------------------------------------------------
 Warning Messaging
 ---------------------------------------------------------**/
.card.card-warning {
    background-color: $warning-message-fill;
    color: $warning-message-color;
    border: 1px solid $warning-message-color;
    @include box-shadow(none);

    .item-divider {
        background-color: $warning-message-fill;
        color: $warning-message-color;
        border: none;
    }
}

/**--------------------------------
  Card Activity Page
 ----------------------------------**/
.card-list-view {
    .card-search-header {
        background-color: #d9d9d9;

        form {
            width: 100%;
        }

        .item-input-wrapper {
            background-color: #fff;
        }
    }

    .scroll-content {
        padding-right: 0;
    }

    .row {
        padding: 5px;
        font-size: 15px;

        &.list-header {
            background-color: $wex-blue;
            color: #fff;
            font-weight: bold;
            margin-top: 0;
            padding: 10px 5px 10px 5px;
        }

        .col {
            padding: 0;
        }
    }

    .row+.row {
        margin-top: 0;
    }

    .margin {
       margin-top: 12px;
    }

    .no-cards {
        font-style: italic;
        text-align: center;
        display: block;
    }
}

/**--------------------------------
  Payment Maintenance Page
 ----------------------------------**/
.payment-maintenance-form {
    .single-value {
        .ellipsis {
            width: 80%;
        }
    }
}

/**--------------------------------
  Payment Amount Input Page
 ----------------------------------**/
.platform-ios {
    .payment-amount-input-view {
        .title {
            left: inherit !important;
            right: inherit !important;
        }
    }
}

.payment-amount-input-view {

    .scroll-content, .scroll {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
    }

    .amount-input {
        font-size: 2.5em;
        font-weight: bold;
    }

}

/**--------------------------------
  Payment Bank Account Input Page
 ----------------------------------**/
.payment-bank-account-input-view {

    .scroll-content {
        background-color: $container-background-color;

        .instructions {
            text-align: center;
        }

        .item p .active-link {
            color: $wex-link-color;
        }

    }

}

/**--------------------------------
  Transaction Activity Page
 ----------------------------------**/
.no-transactions {
    font-style: italic;
    text-align: center;
    display: block;
}
 .transaction-row {
     background-color: #f0f0f0;
 }

/**------ Chevron Alignment -------**/

.label_align {
    vertical-align: middle;
    width:96%;
    display: inline-block;
    }

.value_align {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    float: right;
}

.chevron_align {
    vertical-align: middle;
}

.list_align {
    vertical-align: middle;
    width: 50%;
}
/** Hyperlink Color **/
.active-link {
    color: $wex-link-color;
}

/* Fix for content alignment in ipad-mini */
@media (min-width: 679px) {

    .label_align {
        width: 98%;
    }
}

/* No payments Schedules */
.no-payments {
    font-style: italic;
    text-align: center;
    display: block;
}

/**Fix for Bug-377 **/

/* Note: collection-repeat uses absolute positioning such that the last element in the container isn't normally the last
 * item in the list. Until this gets fixed, we need to ignore the :last-child selector when in a collection-repeat list.
 */
:not(.collection-repeat-container) > .divider:last-child {
    border-bottom: none !important;
}

.collapsible-item {
    margin-bottom: 0px !important;
}

.collapsible-item .body {
    border: none !important;
}

/**** Fix for Bug-412*****/
.ellipsis {
    width: 50%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wordwrap {
    width: 50%;
    float: right;
    text-align: right;
    white-space: normal;
}
.wrap {
    white-space: normal;
}
.right-align {
    text-align: right;
}

/** Flex minimum content sizing **/
.shrink {
    dislay: inline-block;
    width: 70% !important;
}

.form-item {
    @extend .item;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);

    padding: 5px 26px 0;

    span {
        font-size: 14px;
    }

    #onlyShippingMethod {
        line-height: 42px;
    }

    .button {
        background-color: $inverse-font-color;
    }

    .right-padding {
        padding-right: 28px;
    }
    .float-right {
        float:right;
        text-align: right;
    }
    .wordwrap {
        width:65%;
    }
}

.currency {
    font-size: 16px;
    font-weight: bold;
}

.text-normal {
    font-weight: normal; }

/** Button-bar **/

.button-bar {
    //max font size for ngFitText
    [fittext] {
        font-size: 14px;
    }
    .button:first-child {
        border-radius : 10px 0px 0px 10px;
    }
    .button:last-child {
        border-radius : 0px 10px 10px 0px;
    }
    .button {
        border: 1px solid #fff;
    }
    .bar-positive .button-activated {
        background-color: #ab112f;
    }

}
/** Button-bar End**/

.ion-chevron-right {
    color: $wex-link-color;
    float: right;
    font-size:20px;
}

@media (max-width: 320px) {
    [fittext] {
        font-size: 10.71px !important;
    }
}

#pendingAuth {
    font-size: 14px;
    background: #7f7f7f;
    color: #fff;
}

#date {
    font-size: 14px;
    background: #e2e3e4;
    color: #333;
}

.filter-list {

    .item-divider {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .item {
        color: #333;
        border-color: #ccc;
    }
}