@import "includes/wex-brand";
@import "includes/ionic.app";
@import "includes/flexbox";
@import "includes/wex-mixins";
@import "includes/wex-styles";

/**------------------------------------------------------
 User Login Page
 ------------------------------------------------------**/
$user-login-gradient-top: #7f7f7f;
$user-login-gradient-bottom: #414141;

.user-login-view {
    background: -webkit-linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);
    background: linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);

    color: $inverse-font-color;

    form .list {
        background: none;
    }

    .header-login {
        height: $input-height-base * 2;
    }
}

/**Content Alignment**/

.align_center {
    text-align: center;
}

.btn_align {
    float: left;
}

.block_align {
    display: inline-block;
    text-align: left;
}


.content_align {
    display: inline-block;
    float: right;
    text-align: right;
}

.green {
    color: #6d9940 !important;
}

.content_border {
    text-decoration: none;
    border: 0px;
}

.body-text {
    color: #807f7f;
}

.black {
    color: #000000 !important;
}

.divider {
    padding-top: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.arrow-align {
    padding-bottom: 0px ! important;
    padding-top: 5px !important;
}

.button-width {
    width: 75% !important;
    display: inline-block;
}

.inner-container {
    background-color: #eeedec;
}

.button-menu {
    margin-right: 10px;
}

/**------------------------------------------------------
 Side Menu
 ------------------------------------------------------**/
.menu-view {
    background-color: $charcoal-light;
    padding-top: $bar-height;

    .item, .item-content {
        background-color: $charcoal-light;
        color: $inverse-font-color;
        border-color: $charcoal;
    }
    a:active {
        background-color: $charcoal !important;
    }
}

/**------------------------------
 Landing view
----------------------------------**/
.landing-view {
    background-color: #fff;

    .main-container {
        border-bottom: 0;
        background-color: #fff;
        padding: 0;

        .row {
            padding: 8px;

            .col {
                padding: 0;
            }

            .content_align {
                padding-right: 8px;
            }
        }

        .header {
            border-bottom: 1px #ddd solid;
            padding-bottom: 2px;
            padding-top: 10px;
            margin-bottom: 8px;
        }
    }

    .chart-container {
        padding-left: 16px;
    }

    .inner-container {
        background-color: #f0f0f0;
        margin: 8px;

        .row {
            padding-right: 0;
        }
    }

    #companyDetails {
        font-weight: bold;
        font-size: 14px;
        line-height: 13px;

        .body-text {
            font-weight: normal;
            font-size: 10px;
            color: #414141;
        }
    }

    .graph-amounts {
        line-height: 12px;
        padding-top: 12px;

        .label {
            float: right;
            font-weight: normal;
            font-size: 12px;
        }

        .value {
            font-weight: bold;
            font-size: 13px;
        }
    }

    #availableCredit {
        line-height: 18px;
        padding-top: 0;

        .value {
            font-size: 22px;
        }
    }

    #billedAmount {
        color: #334c5b;
    }

    #unbilledAmount {
        color: #3799b3;
    }

    .balance-positive {
        color: #39802b;
    }

    .balance-negative {
        color: #B30308;
    }

    .invoice-divider {
        border-bottom: 1px solid #fff;
        padding: 8px;

        .label {
            color: #000;
            font-weight: bold;
            font-size: 13px;
        }
        .label1 {
            color: #000;
            font-size: 13px;
        }
        #currentBalance {
            font-size: 16px;
        }

        .value {
            color: #000;
            font-weight: bold;
            font-size: 13px;
        }
        .value1 {
            color: #000;
            font-size: 13px;
        }
    }

    .button-container {
        background-color: #d9d9d9;
        padding: 8px;

        .button-divider {
            margin-bottom: 0;
            border-bottom: 1px solid #71a6c8;
        }

        .button-group {
            margin: 8px 0 0;

            .button {
                margin: 0;
            }
        }

        .button {
            font-size: 18px;
            font-weight: normal;
            margin: 0;
            padding: 0;

            .row {
                padding: 0 8px;
            }

            .ion-chevron-right {
                margin: 0;
                right: 0;
            }
        }

        .button-stable {
            color: #fff;
        }

        .badge {
            font-size: 12px;
            float: right;
            padding-top: 7px;
            position: absolute;
        }
    }
}

/**----------------------------------------------------------
 Warning Messaging
 ---------------------------------------------------------**/
.card.card-warning {
    background-color: $warning-message-fill;
    color: $warning-message-color;
    border: 1px solid $warning-message-color;
    @include box-shadow(none);

    .item-divider {
        background-color: $warning-message-fill;
        color: $warning-message-color;
        border: none;
    }
}

/**--------------------------------
  Card Activity Page
 ----------------------------------**/
.card-list {
    .bar-subheader {
        background-color: #eee;

        .item-input-wrapper {
            background-color: #fff;
        }
    }

    .margin {
       margin-top: 12px !important;
    }

    .top-padding {
         padding-top: 10px;
    }

    .no-cards {
        font-style: italic;
        text-align: center;
        display: block;
    }

}
.bold {
    font-weight: bold !important;
}

/**--------------------------------
  Payment Input Page
 ----------------------------------**/
.payment-maintenance-form-item {

    @extend .item;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);

    padding: 5px 26px 0;

    span {
        font-size: 14px;
    }

    .button {
        background-color: $inverse-font-color;
    }

    .right-padding {
        padding-right: 28px;
    }
}

/**--------------------------------
  Payment Amount Input Page
 ----------------------------------**/
.platform-ios {
    .payment-amount-input-view {
        .title {
            left: inherit !important;
            right: inherit !important;
        }
    }
}

.payment-amount-input-view {

    .scroll-content {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
    }

    .amount-input {
        font-size: 2.5em;
        font-weight: bold;
    }

}

/**--------------------------------
  Payment Bank Account Input Page
 ----------------------------------**/
.payment-bank-account-input-view {

    .scroll-content {
        background-color: #bfbfbf;

        .instructions {
            text-align: center;
        }
    }
}

/**--------------------------------
  Transaction Activity Page
 ----------------------------------**/
.no-transactions {
    font-style: italic;
    text-align: center;
    display: block;
}


/**------ Chevron Alignment -------**/

.label_align {
    vertical-align: middle;
    width:96%;
    display: inline-block;
    }

.value_align {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    float: right;
}

.chevron_align {
    vertical-align: middle;
}

.list_align {
    vertical-align: middle;
    width: 50%;
}
/** Hyperlink Color **/
.active-link {
    color: #32819b !important;
}

/* Fix for content alignment in ipad-mini */
@media (min-width: 679px) {

    .label_align {
        width: 98%;
    }
}

/* No payments Schedules */
.no-payments {
    font-style: italic;
    text-align: center;
    display: block;
}

/**Fix for Bug-377 **/

.divider:last-child {
    border-bottom: none !important;
}

.collapsible-item {
    margin-bottom: 0px !important;
}

.collapsible-item .body {
    border: none !important;
}

/**** Fix for Bug-412*****/
.wordwrap {
    width: 50%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right-align {
    text-align: right;
}

/** Flex minimum content sizing **/
.shrink {
    dislay: inline-block;
    width: 70% !important;
}
