@import "includes/wex-brand";
@import "includes/ionic.app";
@import "includes/flexbox";
@import "includes/wex-mixins";
@import "includes/wex-styles";

/**------------------------------------------------------
 User Login Page
 ------------------------------------------------------**/
$user-login-gradient-top: #7f7f7f;
$user-login-gradient-bottom: #414141;

.user-login-view {
    background: -webkit-linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);
    background: linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);

    color: $inverse-font-color;

    form .list {
        background: none;
    }

    .header-login {
        height: $input-height-base * 2;
    }
}

/**Content Alignment**/

.align_center {
    text-align: center;
}

.btn_align {
    float: left;
    font-weight: bold;
}

.block_align {
    display: inline-block;
    color: #807f7f;
}

.content_align {
    display: inline-block;
    float: right;
    color: #807f7f;
    text-align: right;
    padding-right: 10px !important;
}

.green {
    color: #6d9940 !important;
}

.content_border {
    text-decoration: none;
    border: 0px;
}

.body-text {
    color: #807f7f;
}

.black {
    color: #000000 !important;
}

.divider {
    padding-top: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.arrow-align {
    padding-bottom: 0px ! important;
    padding-top: 5px !important;
}

.button-width {
    width: 75% !important;
    display: inline-block;
}

.inner-container {
    background-color: #eeedec;
}

.button-menu {
    margin-right: 10px;
}

/**------------------------------------------------------
 Side Menu
 ------------------------------------------------------**/
.menu-view {
    background-color: $charcoal-light;
    padding-top: $bar-height;

    .item, .item-content {
        background-color: $charcoal-light;
        color: $inverse-font-color;
        border-color: $charcoal;
    }
    a:active {
        background-color: $charcoal !important;
    }
}

/**------------------------------
 Landing view
----------------------------------**/
.landing-view {
    background-color: #989898;

    .main-container {
        border-bottom: 0px;
        background-color: #989898;
    }
    .inner-container {
        background-color: #eeedec;
    }
}

/**----------------------------------------------------------
 Warning Messaging
 ---------------------------------------------------------**/
.card.card-warning {
    background-color: $warning-message-fill;
    color: $warning-message-color;
    border: 1px solid $warning-message-color;
    @include box-shadow(none);

    .item-divider {
        background-color: $warning-message-fill;
        color: $warning-message-color;
        border: none;
    }
}

/**--------------------------------
  Payment Input Page
 ----------------------------------**/
.payment-maintenance-form-item {

    @extend .item;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);

    padding: 5px 26px 0;

    span {
        font-size: 14px;
    }

    .button {
        background-color: $inverse-font-color;
    }

    .right-padding {
        padding-right: 28px;
    }
}

/**--------------------------------
  Payment Amount Input Page
 ----------------------------------**/
.platform-ios {
    .payment-amount-input-view {
        .title {
            left: inherit !important;
            right: inherit !important;
        }
    }
}

.payment-amount-input-view {

    .scroll-content {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
    }

    .amount-input {
        font-size: 2.5em;
        font-weight: bold;
    }

}

/**--------------------------------
  Payment Bank Account Input Page
 ----------------------------------**/
.payment-bank-account-input-view {

    .scroll-content {
        background-color: #bfbfbf;

        .instructions {
            text-align: center;
        }
    }
}

/**------ Chevron Alignment -------**/

.label_align {
    vertical-align: middle;
    width:96%;
    display: inline-block;
    }

.value_align {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    float: right;
}

.chevron_align {
    vertical-align: middle;
}

.list_align {
    vertical-align: middle;
    width: 50%;
}
/** Hyperlink Color **/
.active-link {
    color: #32819b !important;
}

/* Fix for content alignment in ipad-mini */
@media (min-width: 679px) {

    .label_align {
        width: 98%;
    }
}

/* No payments Schedules */
.no-payments {
    font-style: italic;
    text-align: center;
    display: block;
}

/**Fix for Bug-377 **/

.divider:last-child {
    border-bottom: none !important;
}

.collapsible-item {
    margin-bottom: 0px !important;
}

.collapsible-item body {
    border: 0 !important;
}
