@import "includes/ionic.app";
@import "includes/wex-brand";
@import "includes/wex-mixins";
@import "includes/wex-styles";

/**------------------------------------------------------
 User Login Page
 ------------------------------------------------------**/
$user-login-gradient-top: #7f7f7f;
$user-login-gradient-bottom: #414141;

.user-login-view {
  background: -webkit-linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);
  background: linear-gradient($user-login-gradient-top, $user-login-gradient-bottom);

  color: $inverse-font-color;

  form .list {
    background: none;
  }

  .header-login {
    height: $input-height-base * 2;
  }

  .align-center {
    text-align: center;
  }
}

.user-land-view {
  border: 10px solid #989898;
}

