<ion-view class="page-settings" view-title="{{ ::vm.config.title }}"
                                wex-hide-back-button="true"
                                wex-back-state="landing">
    <ion-content>
        <div class="content">
            <div class="alert alert-success" ng-class="{ 'is-visible': vm.fingerprintProfileSuccessMessage }">
              <div class="alert-content">{{ ::vm.fingerprintProfileSuccessMessage }}</div>
            </div>

            <div class="list">
              <ion-toggle ng-model="vm.fingerprintProfileAvailable"
                          ng-change="vm.handleFingerprintProfileChange()">
                {{ ::vm.config.fingerprintAuthTextLabel }} {{ vm.platformContent.fingerprintAuthName }}
              </ion-toggle>
            </div>
        </div>
    </ion-content>
</ion-view>
