option-amount {
  #custom-input-label, .item-md p, .item-ios p {
    font-size: 1.4rem;
    color: color($colors, light-header-text);
  }

  #custom-input {
    text-align: left !important;
  }

  .custom-input-item {
    .item-inner {
      border-bottom: none !important;
    }

    @extend .item-radio-checked;
  }
}