<ion-item *ngIf="!isOtherAmountOption">
  <ion-label>
    <h2>{{ label }}</h2>
    <p>{{ option.value | wexCurrency }}</p>
  </ion-label>
  <ion-radio [value]="option"></ion-radio>
</ion-item>

<ion-item *ngIf="isOtherAmountOption" [hidden]="isSelected">
  <ion-label> {{ label }} </ion-label>
  <ion-radio #radio [value]="option"></ion-radio>
</ion-item>
<div *ngIf="isOtherAmountOption && isSelected">
<ion-item class="custom-input-item">
  <div id="custom-input-label"> {{ label }} </div>
  <input id="custom-input"
         Autofocus
         type="tel"
         currencyMask [options]="{ prefix: '$', thousands: '', decimal: '.' }"
         [(ngModel)]="otherAmount">
</ion-item>
</div>
