<ion-item *ngIf="!isOtherAmountOption">
  <ion-label>
    <h2>{{option.label}}</h2>
    <p>{{option.value | wexCurrency}}</p>
  </ion-label>
  <ion-radio [value]="option"></ion-radio>
</ion-item>

<ion-item *ngIf="isOtherAmountOption" [hidden]="isSelected">
  <ion-label> {{option.label}} </ion-label>
  <ion-radio #radio [value]="option"></ion-radio>
</ion-item>
<div *ngIf="isOtherAmountOption && isSelected">
<ion-item>
  <ion-label floating> {{option.label}} </ion-label>
  <ion-input #otherAmountInput
             floating
             autofocus
             name="{{keyOtherAmount}}"
             type="tel"
             [(ngModel)]="otherAmount">
  </ion-input>
</ion-item>
</div>
