<div class="ui-body ui-body-e">{{{message}}}</div>

{{#driver}}
    {{#driverName}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/driverName}}
    {{#id}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/id}}
    {{#department}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/department}}
    {{#status}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/status}}
    {{#statusDate}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/statusDate}}
{{/driver}}
