<div class="ui-body ui-body-e">{{{message}}}</div>

{{#driver}}
    {{#driverName}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/driverName}}
    {{#driverId}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/driverId}}
    {{#driverDepartment}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/driverDepartment}}
    {{#driverStatus}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/driverStatus}}
    {{#driverStatusDate}}
        <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
    {{/driverStatusDate}}
{{/driver}}
