<h2 class="ui-title">Driver - Add</h2>

{{#driver}}
    <form id="driverAddForm" class="ui-body ui-body-d">
        {{#firstName}}
            <div class="ui-field-contain">
                <label for="firstName">{{label}}:</label>
                <input type="text"
                       name="{{name}}"
                       placeholder="{{placeholder}}"
                       maxlength="{{maxLength}}"
                       id="firstName"
                       value="{{value}}"/>
            </div>
        {{/firstName}}

        {{#lastName}}
            <div class="ui-field-contain">
                <label for="lastName">{{label}}:</label>
                <input type="text"
                       name="{{name}}"
                       placeholder="{{placeholder}}"
                       maxlength="{{maxLength}}"
                       id="lastName"
                       value="{{value}}" />
            </div>
        {{/lastName}}

        {{#middleName}}
            <div class="ui-field-contain">
                <label for="middleName">{{label}}:</label>
                <input type="text"
                       name="{{name}}"
                       placeholder="{{placeholder}}"
                       maxlength="{{maxLength}}"
                       id="middleName"
                       value="{{value}}" />
            </div>
        {{/middleName}}

        {{#requiredFields.DRIVER_ID}}
            {{#id}}
                <div class="ui-field-contain">
                    <label for="id">{{label}}:</label>
                    <input type="text"
                           name="{{name}}"
                           placeholder="{{placeholder}}"
                           maxlength="{{maxLength}}"
                           id="id"
                           value="{{value}}" />
                </div>
            {{/id}}
        {{/requiredFields.DRIVER_ID}}

        {{#departmentId}}
            <div class="ui-field-contain">
                <label for="departmentId">{{label}}:</label>
                <select id="departmentId" name="{{name}}" {{^enabled}} disabled=disabled {{/enabled}}>
                    {{#values}}
                        <option value="{{id}}" {{#selected}} selected {{/selected}}>{{name}}</option>
                    {{/values}}
                </select>
            </div>
        {{/departmentId}}
    </form>

    {{#submitButton}}
        <button id="submitDriverAdd-btn" class="ui-btn ui-btn-c ui-corner-all">{{label}}</button>
    {{/submitButton}}
{{/driver}}
