{{#driver}}
    <a href="{{url.value}}"
       class="text-left"
       data-theme="d"
       data-ajax="false"
       data-role="button"
       data-icon="carat-r"
       data-iconpos="right">
        {{#driverName}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/driverName}}
        {{#driverId}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/driverId}}
        {{#driverDepartment}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/driverDepartment}}
        {{#driverStatus}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/driverStatus}}
    </a>
{{/driver}}
