{{#driver}}
    <h2 class="ui-title">Driver - Details</h2>

    <div class="ui-body ui-body-d">
        {{#driverName}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/driverName}}
        {{#id}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/id}}
        {{#department}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/department}}
        {{#status}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/status}}
        {{#statusDate}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/statusDate}}
    </div>

    {{#permissions.MOBILE_DRIVER_EDIT}}
        {{#submitButton}}
            <button id="submitChangeStatus-btn" data-role="button" data-theme="b">{{label}}</button>
        {{/submitButton}}
    {{/permissions.MOBILE_DRIVER_EDIT}}
{{/driver}}
