<h2 class="ui-title">Driver - Search</h2>
<form id="driverSearchForm" class="ui-body ui-body-d">
    {{#filterFirstName}}
    <div data-role="fieldcontain">
        <label for="filterFirstName">{{label}}:</label>
        <input type="text" name="{{name}}" id="filterFirstName" value="{{value}}" />
    </div>
    {{/filterFirstName}}
    {{#filterLastName}}
    <div data-role="fieldcontain">
        <label for="filterLastName">{{label}}:</label>
        <input type="text" name="{{name}}" id="filterLastName" value="{{value}}" />
    </div>
    {{/filterLastName}}
    {{#filterDriverId}}
    <div data-role="fieldcontain">
        <label for="filterDriverId">{{label}}:</label>
        <input type="text" name="{{name}}" id="filterDriverId" value="{{value}}" />
    </div>
    {{/filterDriverId}}
    {{#filterStatus}}
    <div data-role="fieldcontain">
        <label for="filterStatus">{{label}}:</label>
        <select id="filterStatus" name="{{name}}" data-theme="c">
        {{#values}}
        <option value="{{id}}">{{name}}</option>
        {{/values}}
        </select>
    </div>
    {{/filterStatus}}
    {{#filterDepartmentId}}
    <div data-role="fieldcontain">
        <label for="filterDepartmentId">{{label}}:</label>
        <select id="filterDepartmentId" name="{{name}}" {{^enabled}} disabled=disabled {{/enabled}} data-theme="c">
            {{#values}}
            <option value="{{id}}">{{name}}</option>
            {{/values}}
        </select>
    </div>
    {{/filterDepartmentId}}
</form>
{{#submitButton}}
<button id="submitDriverSearch-btn" data-role="button" data-theme="b">{{label}}</button>
{{/submitButton}}
