<h2 class="ui-title">Driver - Search</h2>
<form id="driverSearchForm" class="ui-body ui-body-d">
    {{#firstName}}
    <div class="ui-field-contain">
        <label for="firstName">{{label}}:</label>
        <input type="text" name="{{name}}" id="firstName" value="{{value}}" />
    </div>
    {{/firstName}}
    {{#lastName}}
    <div class="ui-field-contain">
        <label for="lastName">{{label}}:</label>
        <input type="text" name="{{name}}" id="lastName" value="{{value}}" />
    </div>
    {{/lastName}}
    {{#id}}
    <div class="ui-field-contain">
        <label for="id">{{label}}:</label>
        <input type="text" name="{{name}}" id="id" value="{{value}}" />
    </div>
    {{/id}}
    {{#status}}
    <div class="ui-field-contain">
        <label for="status">{{label}}:</label>
        <select id="status" name="{{name}}">
        {{#values}}
        <option value="{{id}}">{{name}}</option>
        {{/values}}
        </select>
    </div>
    {{/status}}
    {{#departmentId}}
    <div class="ui-field-contain">
        <label for="departmentId">{{label}}:</label>
        <select id="departmentId" name="{{name}}" {{^enabled}} disabled=disabled {{/enabled}}>
            {{#values}}
            <option value="{{id}}">{{name}}</option>
            {{/values}}
        </select>
    </div>
    {{/departmentId}}
</form>
{{#submitButton}}
<button id="submitDriverSearch-btn" class="ui-btn ui-btn-c ui-corner-all">{{label}}</button>
{{/submitButton}}
