page-login {

  $checkbox-size: 16px;

  /**
   * Styles to apply when keyboard is open
  **/
  .keyboard-open {

    #enrollment-link {
      visibility: hidden;
    }
  }

  /**
   * Content
  **/
  .scroll-content {
    .card-md .list-md .item-md, .card-ios .list-ios .item-ios{
      &.item-block .item-inner {
        border-bottom: none;
      }
    }

    $statusbar-height-ios: 0;
    $max-banner-height-x: 1.65;
    $scroll-offset-md: $toolbar-md-height * $max-banner-height-x;
    $scroll-offset-ios: $toolbar-ios-height * $max-banner-height-x + $statusbar-height-ios;
    overflow: hidden !important;
    position: fixed;

    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-end);

    padding-top: $toolbar-md-height !important;
    padding-bottom: 0 !important;
    background: no-repeat bottom url(../assets/pages/login/background-street-dark.jpg);
    background-position-x: center;
    background-size: cover;

    @at-root .md .has-banner & {
      padding-top: $scroll-offset-md !important;
    }

    @at-root .ios .has-banner & {
      padding-top: $scroll-offset-ios !important;
    }

    #title-heading-bar {
      @extend .fade-transition;
      @include flex-grow(1);

      background: no-repeat center center url("../assets/pages/login/logo.png");
      background-size: contain;

      width: 70%;
    }

    #login-content {
      @include flex-shrink(0);

      height: 42%;
      width: 100%;
      max-width: 32rem;
      max-height: 32rem;

      #card-form {
        overflow: visible;
      }

      ion-input, ion-label {
        color: white;
      }

      ion-input {
        font-size: 16px;

        > input[disabled] {
          opacity: 1;
        }
      }

      @at-root .ios & .item-label-floating ion-label {
        font-weight: bold;
      }

      ion-label[floating].label {
        opacity: .4;
        letter-spacing: 1.1px;
      }
    }

    ion-card {
      background: transparent;
      
      &.card-ios, &.card-md {
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }

    #loading-indicator {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      ion-spinner.action-spinner * {
        stroke: white;
      }
      height: 20rem;
    }
    
    form {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);

      height: 95%;
      margin-bottom: -8px;

      ion-list {
        margin-bottom: 8px;
      }

      ion-item {
        background-color: transparent;
        border-bottom: none;
        font-size: 13px;
      }

      ion-list {
        ion-item {
          background-color: transparent;

          &.item-block:last-child, & {
              border-bottom: 1px solid white;
              
              @at-root .md & {
                border-bottom-color: rgba(255,255,255,.4);
              }
          }

          &.item-block:first-child {
            border-top: none;
          }

          /* overrides ionic's .item font-size and margin to fix inheritance discrepencies */
          &.item {
            font-size: inherit;
            margin: 0;
          }

          .item-inner, .item-ios.item-block .item-inner {
            padding: 0;
          }

          ion-input {
            font-weight: bold;
          }
        }
      }

      #password-field {
        margin-top: 1rem;

        ion-icon {
          @include align-self(flex-end);
          margin: 0px 0px 5px 5px;
          background-color: transparent;
          box-shadow: none;
          font-size: 2.8rem;
          padding: 0px;
        }
      }

      #login-settings {
        padding-top: 1rem;

        ion-item {
          padding-left: 0px;
        }

        ion-label {
          overflow: initial;
          color: #d9d9d9;
          font-weight: normal;
        }

        ion-checkbox {
          margin-right: 0;

          @at-root .checkbox-md .checkbox-icon {
            border-color: rgba(255, 255, 255, 0.7);
          }
          @at-root .checkbox-ios, .checkbox-md {
            .checkbox-icon {
              background-color: transparent;
            }
            .checkbox-checked .checkbox-inner {
              border-color: black;
            }
          }

          .checkbox-checked {
            @at-root .ios & {
              border-color: #00e5ad;
              background-color: #00e5ad;
            }
            @at-root .md & {
              border-color: #8efbdb;
              background-color: #8efbdb;
            }
          }
        }
      }

      #form-actions button {
        margin-top: 1.5rem;
        @include action-indicator-color(color($colors, primary));
        @at-root .ios & {
          border-radius: 3px;
        }

        @at-root .md & {
          border-radius: 2px;
          box-shadow: none;
        }
        
        &.button-ios {
          height: 5.5rem;
        }
        
        &.button-md {
          height: 4.5rem;
        }

        color: #088dd1;
        background-color: white;

        font-weight: 500;

        &[disabled] {
          background-color: rgba(204, 204, 204, 0.6);
          color: rgba(255, 255, 255, 0.6);
          @include action-indicator-color(white);
        }
      }
    }

    #enrollment-link {
      width: 100%;
      height: 5%;
      margin-bottom: 2rem;

      button {
        font-size: 13px;
        .text {
          color: #C8C8C8;
        }
        .link {
          color: white;
          font-weight: bold;
        }
      }
    }

    #keyboard-spacer {
      @include flex-shrink(0);

      width: 100%;
      height: 0;
      min-height: 25%;
      transition: height .2s ease-in-out;
    }
  }
}
