page-login {
  $color-primary:   #3a97b5;
  $color-white:     #fff;
  $color-black:     #000;
  $color-dark-gray: #444;

  $checkbox-size: 16px;

  $small-device: 480px;

  /**
   * Alerts
  **/
  .alerts-wrapper {
    position: absolute;
    width: 100%;

    .bar {
      position: relative;
    }

    @media (max-height: $small-device) {
      @at-root .keyboard-open & {
        display: none;
      }
    }
  }

  /**
   * Content
  **/
  .scroll-content {
    $scroll-offset: 42px;//$wex-notification-bar-height;
    $scroll-offset-statusbar-ios: 42px;//$ios-statusbar-height;
    $scroll-offset-ios: $scroll-offset + $scroll-offset-statusbar-ios;

    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-end);

    padding-top: $scroll-offset;
    padding-left:  16px;
    padding-right: 16px;
    padding-bottom: 0 !important;
    background: $color-white url('../assets/pages/login/background-street.jpg') no-repeat;
    background-size: 100%;
    //font-family: 'open_sansregular';

    @at-root .platform-ios & {
      padding-top: $scroll-offset-ios;
    }

    &.has-header, &.has-subheader {
      top: 0;
    }

    &.keyboard-open {
      @media (max-height: $small-device) {
        padding-top: 0;

        @at-root .platform-ios & {
          padding-top: $scroll-offset-statusbar-ios;
        }
      }
    }

    #title-heading-bar {
      @include flex-grow(1);

      background: no-repeat center top url("../assets/pages/login/logo.png");
      background-size: contain;

      width: 70%;
    }

    #login-content {
      @include flex-shrink(0);

      height: 42%;
      width: 100%;
      max-width: 32rem;
      max-height: 32rem;

      #card-form {
        overflow: visible;
      }
    }

    form {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);

      height: 95%;
      padding: 8px 16px;
      background-color: #eee;
      margin-bottom: -8px;

      #login-controls {
        @include flexbox();
        @include align-items(center);

        padding: 0;
      }

      .justify-left, .justify-right, .fingerprint-indicator {
        @include flexbox();
        @include align-items(center);

        width: 50%;
      }

      .justify-left {
        @include justify-content(flex-start);
        @include order(0);
      }

      .justify-right {
        @include justify-content(flex-end);
        @include order(1);
      }
    }

    .fingerprint-indicator {
      color: $color-dark-gray;

      &:after {
        font-size:   34px;
        line-height: 34px;
        padding-left: $checkbox-size;
        color: $color-primary;
      }
    }

    #input-list, #login-controls {
      margin-bottom: 8px;
    }

    #input-list {
      $num-items: 2;
      height: 40%;

      & > .item {
        height: 100% / $num-items;
      }
    }

    #login-controls {
      ion-label {
        text-overflow: initial;
        overflow: initial;
        white-space: pre;
        color: $color-dark-gray;
      }

      ion-checkbox .checkbox-icon:not(.checkbox-checked) {
        background-color: transparent;
      }
    }

    ion-item {
      background-color: transparent;
      padding: 0;

      ion-input {
        font-weight: bold;

        /*&[disabled][name=userName] {
          -webkit-text-fill-color: #333;
          -webkit-user-select: none;
          user-select: none;
          opacity: 1.0;
        }*/
      }
    }

    .actions {
      button {
        color: $color-white;
        background-color: $color-primary;

        &[disabled] {
          opacity: .7;
        }

        @media (max-height: $small-device) {
          margin: 0;
        }
      }
    }

    #enrollment-link {
      width: 100%;
      height: 5%;

      @at-root .keyboard-open & {
        visibility: hidden;
      }
    }

    #keyboard-spacer {
      @include flex-shrink(0);

      width: 100%;
      height: 0;
      min-height: 15%;
      transition: height .2s ease-in-out;
    }
  }

  /* overrides ionic's .item font-size and margin to fix inheritance discrepencies */
  .item {
    font-size: inherit;
    margin: 0;
  }
}
