page-login {

  $checkbox-size: 16px;

  /**
   * Styles to apply when keyboard is open
  **/
  .keyboard-open {

    #enrollment-link {
      visibility: hidden;
    }
  }

  /**
   * Content
  **/
  .scroll-content {
    $statusbar-height-ios: 0;
    $max-banner-height-x: 1.65;
    $scroll-offset-md: $toolbar-md-height * $max-banner-height-x;
    $scroll-offset-ios: $toolbar-ios-height * $max-banner-height-x + $statusbar-height-ios;
    overflow: hidden !important;
    position: fixed;

    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-end);

    padding-top: $toolbar-md-height !important;
    padding-bottom: 0 !important;
    background: white url('../assets/pages/login/background-street.jpg') no-repeat;
    background-size: 100%;

    @at-root .md .has-banner & {
      padding-top: $scroll-offset-md !important;
    }

    @at-root .ios .has-banner & {
      padding-top: $scroll-offset-ios !important;
    }

    #title-heading-bar {
      @include flex-grow(1);

      background: no-repeat center top url("../assets/pages/login/logo.png");
      background-size: contain;

      width: 70%;
    }

    #login-content {
      @include flex-shrink(0);

      height: 42%;
      width: 100%;
      max-width: 32rem;
      max-height: 32rem;

      #card-form {
        overflow: visible;
      }
    }

    form {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);

      height: 95%;
      padding: 8px 16px;
      background-color: #eee;
      margin-bottom: -8px;

      ion-list {
        margin-bottom: 8px;
      }

      ion-item {
        background-color: transparent;

        /* overrides ionic's .item font-size and margin to fix inheritance discrepencies */
        &.item {
          font-size: inherit;
          margin: 0;
        }

        .item-inner {
          padding: 0;
        }

        ion-input {
          font-weight: bold;
        }
      }

      #login-controls {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-between);

        padding: 0;

        ion-item {
          width: 50%;
        }

        ion-label {
          text-overflow: initial;
          overflow: initial;
          word-wrap: initial;
          color: color($colors, dark-gray);
        }

        ion-checkbox .checkbox-icon:not(.checkbox-checked) {
          background-color: transparent;
        }

        .fingerprint-indicator {
          font-size:   34px;
          line-height: 34px;
          padding-left: $checkbox-size;
          color: color($colors, login);
        }
      }

      .actions button {
        @include action-indicator-color(white);
        color: white;
        background-color: color($colors, login);

        &[disabled] {
          opacity: .7;
        }
      }
    }

    #enrollment-link {
      width: 100%;
      height: 5%;

      button {
        color: color($colors, login);
      }
    }

    #keyboard-spacer {
      @include flex-shrink(0);

      width: 100%;
      height: 0;
      min-height: 15%;
      transition: height .2s ease-in-out;
    }
  }
}
