<ion-content #content class="content" padding>
  <div #titleHeadingBar id="title-heading-bar" class="fadein"></div>

  <div id="login-content">
    <ion-card id="card-form">
      <form novalidate *ngIf="versionCheckComplete" #form="ngForm" (ngSubmit)="onLogin($event, setupFingerprintAuth)">
        <ion-list id="input-list">
          <ion-item id="username-field" (tap)="verifyFingerprintRemoval()">
            <ion-label floating> {{ CONSTANTS.userName.label }} </ion-label>
            <ion-input [(ngModel)]="maskableUsername"
                  (blur)="usernameIsFocused = false"
                  (focus)="usernameIsFocused = true"
                  [disabled]="fingerprintProfileAvailable"
                  name="userName"
                  type="text"
                  required
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  wexClear
                  floating
                  [maxlength]="CONSTANTS.userName.maxLength"></ion-input>
          </ion-item>
          
          <ion-item id="password-field">
              <ion-label floating> {{ CONSTANTS.password.label }} </ion-label>
              <ion-input [(ngModel)]="user.password"
                  name="password"
                  type="password"
                  required
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  wexClear
                  floating
                  [maxlength]="CONSTANTS.password.maxLength"></ion-input>
              <ion-icon ion-button
                  *ngIf="(fingerprintProfileAvailable && user.password.length === 0) || true"
                  color="white" 
                  (click)="onLogin($event, true)" 
                  item-right 
                  class="fingerprint-indicator" 
                  name="finger-print"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-item-group id="login-settings">
          <ion-item>
            <ion-label item-left>{{ CONSTANTS.rememberMe.label }}</ion-label>
            <ion-checkbox item-right name="rememberMeToggle" [(ngModel)]="rememberMe" (click)="rememberMeToggle()" [disabled]="setupFingerprintAuth"></ion-checkbox>
          </ion-item>

          <ion-item *ngIf="fingerprintAuthAvailable && !fingerprintProfileAvailable">
            <ion-label item-left [innerHtml]="fingerprintDisabledLabel"></ion-label>
            <ion-checkbox item-right name="setupFingerprintAuthToggle" [(ngModel)]="setupFingerprintAuthToggle"></ion-checkbox>
          </ion-item>
        </ion-item-group>

        <div id="form-actions">
          <button ion-button block type="submit" [disabled]="!form.valid">
            <action-indicator [when]="isLoggingIn">{{ CONSTANTS.submitButton }}</action-indicator>
          </button>
        </div>
      </form>
      <div *ngIf="!versionCheckComplete">
        <span id="loading-indicator"><ion-spinner class="action-spinner"></ion-spinner></span>
      </div>
    </ion-card>
  </div>

  <div #keyboardSpacer id="keyboard-spacer"></div>

  <div *ngIf="versionCheckComplete" id="enrollment-link" class="padding align_center">
    <user-enrollment-flow [text1]="CONSTANTS.enrollment.label1" [text2]="CONSTANTS.enrollment.label2"></user-enrollment-flow>
  </div>
</ion-content>
