<ion-content #content padding>
  <div id="title-heading-bar"></div>

  <div id="login-content">
    <ion-card id="card-form">
      <form novalidate #form="ngForm" (ngSubmit)="onLogin($event, setupFingerprintAuth)">
        <ion-list id="input-list">
          <ion-item (click)="verifyFingerprintRemoval()">
            <ion-input [(ngModel)]="maskableUsername"
                  (blur)="usernameIsFocused = false"
                  (focus)="usernameIsFocused = true"
                  [disabled]="fingerprintProfileAvailable"
                  name="userName"
                  type="text"
                  required
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  [placeholder]="CONSTANTS.userName.label"
                  [clearInput]="true"
                  [maxlength]="CONSTANTS.userName.maxLength"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="user.password"
                  name="password"
                  type="password"
                  required
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  [placeholder]="CONSTANTS.password.label"
                  [clearInput]="true"
                  [maxlength]="CONSTANTS.password.maxLength"></ion-input>
          </ion-item>
        </ion-list>

        <ion-item-group id="login-controls">
          <ion-item>
            <ion-label text-wrap item-left [innerHtml]="CONSTANTS.rememberMe.label" ></ion-label>
            <ion-checkbox name="rememberMeToggle" [(ngModel)]="rememberMeToggle" [disabled]="setupFingerprintAuth"></ion-checkbox>
          </ion-item>

          <ion-item *ngIf="fingerprintAuthAvailable && !fingerprintProfileAvailable">
            <ion-label text-wrap [innerHtml]="fingerprintDisabledLabel"></ion-label>
            <ion-checkbox item-right name="setupFingerprintAuthToggle" [(ngModel)]="setupFingerprintAuthToggle"></ion-checkbox>
          </ion-item>

          <ion-item *ngIf="fingerprintProfileAvailable" (click)="onLogin($event, true)">
            <ion-icon item-right class="fingerprint-indicator" name="finger-print"></ion-icon>
          </ion-item>
        </ion-item-group>

        <div class="actions">
          <button ion-button block type="submit" [disabled]="!form.valid">
            <action-indicator [when]="isLoggingIn">{{ CONSTANTS.submitButton }}</action-indicator>
          </button>
        </div>
      </form>
    </ion-card>

    <div id="enrollment-link" class="padding align_center">
      <!-- <online-enrollment-flow>{{ ::vm.config.enrollment.label }}</online-enrollment-flow> -->
      <button ion-button block clear>{{ CONSTANTS.enrollment.label }}</button>
    </div>
  </div>

  <div #keyboardSpacer id="keyboard-spacer"></div>
</ion-content>
