<ion-header>

  <ion-navbar>
    <ion-title>{{ CONSTANTS.title }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- <wex-notification-bar class="bar-success"
                      *ngIf="params.showFingerprintBanner"
                      wex-toast-timer
                      [wexToastOnHide]="params.showFingerprintBanner = false"
                      text="{{ CONSTANTS.platformName }} {{ CONSTANTS.registerSuccessBanner }} {{session.details.user.username | wexTruncateString}}">
</wex-notification-bar> -->

<ion-content padding>

  <!-- Display Notifications Prompt -->
  <!-- <enable-notifications-prompt wex-feature-flag="PUSH_NOTIFICATIONS"></enable-notifications-prompt> -->

  <section id="company-details">
    <ion-card>
      <!--<div class="card-detail">-->
        <ion-item-divider>
          <!-- TODO replace when lastName is returned from service
          {{ session.details.user.fullName }}
          -->
          Rick Sanchez
        </ion-item-divider>
        <ion-item text-wrap>
          <p class="company-name">{{ session.details.user.billingCompany.details.name }}</p>
          <p class="account-number">{{ session.details.user.displayAccountNumber }}</p>
        </ion-item>
      <!--</div>-->
      <!-- <div class="logo" wex-cache ng-model="brandLogo" ng-show="brandLogo">
        <div ng-bind-html="brandLogo | wexSvg"></div>
      </div> -->
    </ion-card>
  </section>

  <section id="account-overview">
    <!-- <div class="card" wex-cache="invoiceSummary" ng-model="vm.invoiceSummary"> -->
    <ion-card>
      <ion-item-divider>
        Account Overview
      </ion-item-divider>

      <div *ngIf="invoiceSummary">
        <ion-item text-wrap>
          <div class="chart-wrapper">
            <div class="labels">
              <div class="label" *ngFor="let chart of chartDisplay.left" [ngStyle]="{ 'color': chart.color.backgroundColor }">
                <div class="text-amount" [innerHtml]="chart.data | wexCurrency:true"></div>
                <div class="text-title">{{ chart.label }}</div>
              </div>
            </div>

            <div class="chart">
              <canvas baseChart
                      chartType="doughnut"
                      [options]="chart.options"
                      [data]="chart.data"
                      [colors]="chart.colors"
                      [labels]="chart.labels">
              </canvas>
            </div>

            <div class="labels">
              <div class="label" *ngFor="let chart of chartDisplay.right" [ngStyle]="{ 'color': chart.color.backgroundColor }">
                <div class="text-amount" [innerHtml]="chart.data | wexCurrency:true"></div>
                <div class="text-title">{{ chart.label }}</div>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-list>
          <ion-item-divider id="balance-current">
            {{ CONSTANTS.currentBalance }}
            <span item-right class="item-currency" [innerHtml]="invoiceSummary.details.currentBalance | wexCurrency:true"></span>
          </ion-item-divider>
          <ion-item-divider id="balance-statement">
            {{ CONSTANTS.statementBalance }}
            <span item-right class="item-currency" [innerHtml]="invoiceSummary.details.statementBalance | wexCurrency:true"></span>
          </ion-item-divider>
          <ion-item-divider id="due-date">
            {{ CONSTANTS.paymentDueDate }}
            <span item-right class="item-currency">{{ invoiceSummary.details.paymentDueDate | wexDate:true }}</span>
          </ion-item-divider>
        </ion-list>
      </div>
    </ion-card>
  </section>

 <!--  <ion-card>
    <ion-list>
      <!--wex-analytics-track-event="vm.config.ANALYTICS.events.makePaymentLink"--
      <ion-item (click)="goToMakePayment()">
        <i item-left class="fa fa-bank"></i> {{ CONSTANTS.makePayment }}
        <!--wex-cache="scheduledPaymentsCount" ng-model="vm.scheduledPaymentsCount"--
        <span class="badge" [hidden]="scheduledPaymentsCount == 0">
          {{ scheduledPaymentsCount }} {{ CONSTANTS.scheduledPayments }}
        </span>
        <i item-right class="fa fa-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-card> -->

</ion-content>
