page-landing {
  
  @mixin faint {
    font-weight: 400;
    color: #9b99a9;
  }

  .faint {
    @include faint;
  }
  
  &.ion-page > ion-content {
      background: color($colors, white);
  }

  .list-ios, .list-md {
  & > .item-block {
      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .page-list > ion-item ion-label {

    & > action-indicator [loading="true"] {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      min-height: 15vh;
    }

    @at-root .ios & {
      padding: 2rem .8rem;
    }

    @at-root .md & {
      padding: .6rem 0rem;
    }

    .summary-list ion-label {
      padding: inherit;
    }

    ion-item {
      border-bottom: 0.55px solid #c8c7cc;
      [item-left] {
        @include faint;
      }
      [item-right] {
        font-weight: bold;
      }
    }

    .section-heading {
      font-weight: 500;
      font-size: $h4-font-size;
      padding-bottom: 1rem;
    }
  }
  

  ion-navbar ion-icon {
    color: black;
    opacity: 0.54;
  }

  #account-identification ion-label {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    
    #company-name {
      font-size: $h5-font-size;
      font-weight: 500;
    }

    #account-number {
      margin-top: .5rem;
      letter-spacing: .07rem;
      font-size: 1.4rem;
    }

    #brand-logo {
      width:100%;
      height: 7rem;
      padding-left: 1.5rem;
    }

  }

  #account-overview {
    #balance-current, ion-list, .graph-data {
      animation:         linksFade 2s 1 forwards;
      -webkit-animation: linksFade 2s 1 forwards;
    }

    #balance-current {
      padding-bottom: 2rem;
      
      .item-currency {
        font-size: 36px;
        font-weight: 500;
      }
    }

    .graph-data {
      font-size: 12px;
      letter-spacing: 0.7px;
      text-transform: uppercase;

      &#graph-top {
        @include flexbox();
        @include justify-content(space-between);
        padding-bottom: .5rem;
      }

      &#graph-bottom {
        @include flexbox();
        @include justify-content(flex-end);
        padding-top: .5rem;
      }
    }
  }
}


/**
 * Animation
**/
@keyframes chartSlideFade {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes chartSlideFade {
  0% {
   -webkit-transform: translateY(25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes linksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes linksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p-progressBar.wex-payment-bar {
  width: 100%;
  animation:         chartSlideFade 2s 1 forwards;
  -webkit-animation: chartSlideFade 2s 1 forwards;
  
  .ui-widget-content, .ui-progressbar .ui-progressbar-value {
    border: none;
    border-radius: 3px;
  }

  .ui-widget-content {
    background: #efeff4;
    border-radius: 3px;
  }

  &.green .ui-progressbar .ui-progressbar-value {
    background: #00cc7a;
  }

  &.yellow .ui-progressbar .ui-progressbar-value {
    background: #ffbf3b;
  }

  &.red .ui-progressbar .ui-progressbar-value {
    background: #ff3b30;
  }
}