page-landing {

  section {
    margin-bottom: 10px;
  }

  sup {
    top: -.2em;
    margin-left: 1px;
  }

  #company-details {

    #company-details-content {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(flex-start);
      @include justify-content(center);
    }

    #brand-logo {
      width: 50%;

      ion-label {
        width: 100%;

        @at-root .ios & {
          //fix for Safari cutting off right-hand edge of image
          margin-right: -8px;
        }
      }
    }

    #company-name {
      @include flex-grow(1);
      font-weight: bold;
      font-size: $h6-font-size;
      color: color($colors, dark-gray);
    }
  }

  #account-overview {

    #balance-current, ion-list, .graph-data {
      animation:         linksFade 2s 1 forwards;
      -webkit-animation: linksFade 2s 1 forwards;
    }

    action-indicator [loading="true"] {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      min-height: 15vh;
    }

    #balance-current {
      .title-string {
        font-weight: 500;
        font-size: $h4-font-size;
      }

      .item-currency {
        font-size: 36px;
        font-weight: 500;
      }
    }

    .graph-data {
      font-size: 12px;
      letter-spacing: 0.7px;
      text-transform: uppercase;

      .faint, &.faint {
        font-weight: 500;
        color: #9b99a9;
      }

      &#graph-top {
        @include flexbox();
        @include justify-content(space-between);
        padding-bottom: .5rem;
      }

      &#graph-bottom {
        @include flexbox();
        @include justify-content(flex-end);
        padding-top: .5rem;
      }
    }

    .item-currency {
      color: color($colors, dark-gray);
      font-size: $h6-font-size;
    }
  }
}


/**
 * Animation
**/
@keyframes chartSlideFade {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes chartSlideFade {
  0% {
   -webkit-transform: translateY(25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes linksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes linksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p-progressBar.wex-payment-bar {
  width: 100%;
  animation:         chartSlideFade 2s 1 forwards;
  -webkit-animation: chartSlideFade 2s 1 forwards;
  
  .ui-widget-content, .ui-progressbar .ui-progressbar-value {
    border: none;
    border-radius: 3px;
  }

  .ui-widget-content {
    background: #efeff4;
    border-radius: 3px;
  }

  &.green .ui-progressbar .ui-progressbar-value {
    background: #00cc7a;
  }

  &.yellow .ui-progressbar .ui-progressbar-value {
    background: #ffbf3b;
  }

  &.red .ui-progressbar .ui-progressbar-value {
    background: #ff3b30;
  }
}