<ion-header>

  <ion-navbar>
    <ion-title>{{ CONSTANTS.title }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- <wex-notification-bar class="bar-success"
                      *ngIf="params.showFingerprintBanner"
                      wex-toast-timer
                      [wexToastOnHide]="params.showFingerprintBanner = false"
                      text="{{ CONSTANTS.platformName }} {{ CONSTANTS.registerSuccessBanner }} {{session.user.details.username | wexTruncateString}}">
</wex-notification-bar> -->

<ion-content padding>

  <!-- Display Notifications Prompt -->
  <!-- <enable-notifications-prompt wex-feature-flag="PUSH_NOTIFICATIONS"></enable-notifications-prompt> -->

  <section id="company-details">
    <ion-card>
      <ion-item-divider>
        {{ userCardGreeting }}
      </ion-item-divider>
      <ion-card-content id="company-details-content">
        <ion-item id="company-details" text-wrap>
          <p id="company-name">{{ billingCompany.details.name }}</p>
          <p id="account-number">{{ session.user.displayAccountNumber }}</p>
        </ion-item>
        <ion-item id="brand-logo" *ngIf="brandLogoData">
          <div id="brand-data" [innerHTML]="brandLogoData | wexSvg"></div>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </section>

  <section id="account-overview">
    <ion-card>
      <ion-item-divider>
        Account Overview
      </ion-item-divider>

      <action-indicator large [when]="!invoiceSummary">
        <div *ngIf="invoiceSummary">
          <ion-item id="balance-current">
            <div class="title-string">{{ CONSTANTS.currentBalance }}</div>
            <div class="item-currency" [innerHtml]="invoiceSummary.details.currentBalance | wexCurrency"></div>
          </ion-item>
          <ion-item text-wrap>
            <div>
              <div id="graph-top" class="graph-data">
                <span class="graph-top-string faint">{{ CONSTANTS.credit }}</span>
                <span class="graph-top-value">{{ CONSTANTS.remaining }} {{ remainingBalance | wexCurrency:true }}</span>
              </div>
              <p-progressBar [value]="paymentPercent" [showValue]="false" [class]="progressBarStyles"></p-progressBar>
              <div id="graph-bottom" class="graph-data faint">{{ creditLimit | wexCurrency:true }} {{ CONSTANTS.limit }}</div>
            </div>
          </ion-item>
          <ion-list>

            <ion-item id="balance-statement">
              {{ CONSTANTS.statementBalance }}
              <span item-right class="item-currency" [innerHtml]="invoiceSummary.details.statementBalance | wexCurrency"></span>
            </ion-item>
            <ion-item id="due-date">
              {{ CONSTANTS.paymentDueDate }}
              <span item-right class="item-currency">{{ invoiceSummary.details.paymentDueDate | wexDate:true }}</span>
            </ion-item>
          </ion-list>
        </div>
      </action-indicator>
    </ion-card>
  </section>

  <!--  <ion-card>
    <ion-list>
      <!--wex-analytics-track-event="vm.config.ANALYTICS.events.makePaymentLink"--
      <ion-item (click)="goToMakePayment()">
        <i item-left class="fa fa-bank"></i> {{ CONSTANTS.makePayment }}
        <!--wex-cache="scheduledPaymentsCount" ng-model="vm.scheduledPaymentsCount"--
        <span class="badge" [hidden]="scheduledPaymentsCount == 0">
          {{ scheduledPaymentsCount }} {{ CONSTANTS.scheduledPayments }}
        </span>
        <i item-right class="fa fa-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-card> -->

</ion-content>