page-landing {

  section {
    margin-bottom: 10px;
  }

  sup {
    top: -.2em;
    margin-left: 1px;
  }

  #company-details {

    #company-details-content {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(flex-start);
      @include justify-content(center);
    }

    #brand-logo {
      width: 50%;

      ion-label {
        width: 100%;

        @at-root .ios & {
          //fix for Safari cutting off right-hand edge of image
          margin-right: -8px;
        }
      }
    }

    #company-name {
      @include flex-grow(1);
      font-weight: bold;
      font-size: $h6-font-size;
      color: color($colors, dark-gray);
    }
  }

  #account-overview {

    action-indicator [loading="true"] {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      min-height: 15vh;
    }

    ion-list {
      animation:         linksFade 2s 1 forwards;
      -webkit-animation: linksFade 2s 1 forwards;
    }

    .chart-wrapper {
      @include flexbox();
      @include flex-direction(row);
      width: 100%;

      .labels,
      .chart {
        @include flex(1);
      }

      .labels {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        text-align: left;

        .label {
          position: relative;
          padding: 15px 25px;
          opacity: 0;
          animation:         chartSlideFade 2s 1 forwards;
          -webkit-animation: chartSlideFade 2s 1 forwards;

          &:nth-of-type(2) {
            animation-delay:         .75s;
            -webkit-animation-delay: .75s;
          }

          &:nth-of-type(3) {
            animation-delay:         1.5s;
            -webkit-animation-delay: 1.5s;
          }

          .text-amount,
          .text-title {
            line-height: normal;
          }

          .text-amount {
            color: color($colors, dark-gray);
          }

          .text-title {
            color: color($colors, gray);
          }

          &:before {
            position: absolute;
            display: block;
            top:  calc(50% - 5px);
            left: 10px;
            width:  10px;
            height: 10px;
            font-size: 10px;
            font-family: 'FontAwesome';
            content: "\f111";
          }
        }

        &:first-of-type {
          @include order(1);
          text-align: right;

          .label:before {
            left: auto;
            right: 10px;
          }
        }

        &:last-of-type {
          @include order(3);
        }

        &:first-of-type,
        &:last-of-type {
          padding: 15px 0;
        }

        &:first-of-type .label {
          padding-right: 25px;
          padding-left: 0;
        }

        &:last-of-type .label {
          padding-left: 25px;
          padding-right: 0;
        }
      }

      .chart {
        canvas {
          width: 100% !important;
          height: 100% !important;
        }

        @include order(2);
        text-align: center;
        display: block;
        width: 33%;
      }
    }

    #balance-current {
      font-weight: bold;
      font-size: $h6-font-size;

      .item-currency {
        font-size: $h4-font-size;
      }
    }

    .item-currency {
      color: color($colors, dark-gray);
      font-size: $h6-font-size;
    }
  }
}


/**
 * Animation
**/
@keyframes chartSlideFade {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes chartSlideFade {
  0% {
   -webkit-transform: translateY(25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes linksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes linksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p-progressBar.wex-payment-bar {
  width: 100%;
  
  .ui-widget-content, .ui-progressbar .ui-progressbar-value {
    border: none;
    border-radius: 3px;
  }

  .ui-widget-content {
    background: #efeff4;
    border-radius: 3px;
  }

  &.green .ui-progressbar .ui-progressbar-value {
    background: #00cc7a;
  }

  &.yellow .ui-progressbar .ui-progressbar-value {
    background: #ffbf3b;
  }

  &.red .ui-progressbar .ui-progressbar-value {
    background: #ff3b30;
  }
}