<ion-header>

  <ion-navbar>
    <ion-title>{{ CONSTANTS.appTitle }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions($event)">
        <ion-icon name="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- <wex-notification-bar class="bar-success"
                      *ngIf="params.showFingerprintBanner"
                      wex-toast-timer
                      [wexToastOnHide]="params.showFingerprintBanner = false"
                      text="{{ CONSTANTS.platformName }} {{ CONSTANTS.registerSuccessBanner }} {{session.user.details.username | wexTruncateString}}">
</wex-notification-bar> -->

<ion-content>

  <!-- Display Notifications Prompt -->
  <!-- <enable-notifications-prompt wex-feature-flag="PUSH_NOTIFICATIONS"></enable-notifications-prompt> -->

  <ion-list class="page-list">
    <ion-item id="account-identification">
      <div>
        <div id="company-name">{{ companyName }}</div>
        <div id="account-number" class="faint">{{ session.user.displayAccountNumber }}</div>
      </div>
      <resizable-svg id="brand-logo" [imageData]="brandLogoData"></resizable-svg>
    </ion-item>

    <ion-item id="account-overview">
      <action-indicator [when]="!invoiceSummary"></action-indicator>
      <div *ngIf="invoiceSummary">
        <div id="balance-current">
          <div class="section-heading">{{ CONSTANTS.currentBalance }}</div>
          <div class="item-currency" [innerHtml]="invoiceSummary.details.currentBalance | wexCurrency"></div>
        </div>
        <div>
          <div id="graph-top" class="graph-data">
            <span class="graph-top-string faint">{{ CONSTANTS.credit }}</span>
            <span class="graph-top-value"> {{ remainingBalance | wexCurrency:true }} {{ CONSTANTS.remaining }} </span>
          </div>
          <p-progressBar [value]="currentPaymentPercent" [showValue]="false" [class]="progressBarStyles"></p-progressBar>
          <div id="graph-bottom" class="graph-data faint">{{ creditLimit | wexCurrency:true }} {{ CONSTANTS.limit }}</div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <action-indicator [when]="!invoiceSummary"></action-indicator>
      <div *ngIf="invoiceSummary">
        <div class="section-heading"> {{ CONSTANTS.summary }} </div>
        <ion-list class="summary-list">
          <ion-item *ngIf="!session.user.isClassic">
            <span item-left>{{ CONSTANTS.pending }}</span>
            <span item-right>{{ invoiceSummary.details.pendingAmount | wexCurrency }}</span>
          </ion-item>
          <ion-item>
            <span item-left>{{ CONSTANTS.minimumPayment }}</span>
            <span item-right>{{ invoiceSummary.details.minimumPaymentDue | wexCurrency }}</span>
          </ion-item>
          <ion-item>
            <span item-left>{{ CONSTANTS.paymentDueDate }}</span>
            <span item-right>{{ invoiceSummary.details.paymentDueDate | wexDate:true:'MMMM Do, YYYY' }}</span>
          </ion-item>
        </ion-list>
      </div>
    </ion-item>
  </ion-list>
  <!--  <ion-card>
    <ion-list>
      <!--wex-analytics-track-event="vm.config.ANALYTICS.events.makePaymentLink"--
      <ion-item (click)="goToMakePayment()">
        <i item-left class="fa fa-bank"></i> {{ CONSTANTS.makePayment }}
        <!--wex-cache="scheduledPaymentsCount" ng-model="vm.scheduledPaymentsCount"--
        <span class="badge" [hidden]="scheduledPaymentsCount == 0">
          {{ scheduledPaymentsCount }} {{ CONSTANTS.scheduledPayments }}
        </span>
        <i item-right class="fa fa-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-card> -->
</ion-content>