page-add-payment-confirmation {

  @at-root .ios & ion-title {
      text-transform: capitalize;
  }

  .payemnt-confirmation-header {
    padding: 2rem 0;
    text-align: center;

    h2 {
      margin-bottom: .5rem;
      font-weight: normal;
      font-size: 1.8rem;
    }
    p {
      margin-top: 0;
      font-size: 1.7rem;
      color: color($colors, gray);
    }
  }

  &.ion-page ion-content {
    .list {
      margin-bottom: 0;

      .md & {
        ion-item div[item-content] {
          font-weight: 500;
        }
      }
    }
  }

  #success-header {
    display: inline;
  }

  #success-icon {
    font-size: 4rem;
  }

  #button-container {
    @include flexbox();
    @include flex-dir(row);
    @include justify-content(center);
  }
}
