@angular:registry=https://registry.npmjs.org/
@ionic:registry=https://registry.npmjs.org/
@ionic-native:registry=https://registry.npmjs.org/
@ng-idle:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/

registry=http://nexus.int.wrightexpress.com/nexus/content/groups/npm-public/