<ion-view view-title="{{::vm.config.title}}" hide-nav-bar="true" class="version-update-view" wex-back-state="app.exit">
    <ion-content scroll="false">
        <div class="title-bar"></div>

        <div class="padding align_center">
            <h3 class="title">{{::vm.config.title}}</h3>

            <div class="padding">
                <span>{{::vm.config.instructionalText1}}</span>
                <br>
                <span>{{::vm.config.instructionalText2}}</span>
            </div>

            <div class="padding align_center">
                <a id="update"
                   class="button button-block button-stable button-width"
                   ng-click="vm.update()">
                    {{::vm.config.update.label}}
                </a>
                <button id="cancel"
                        class="button button-block button-default button-width"
                        ng-if="vm.config.later.visible"
                        ng-click="vm.skipUpdate()">
                    {{::vm.config.later.label}}
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
