<ion-view hide-nav-bar="true">
    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button></wex-back-button>
        </div>

        <h1 class="title">{{::vm.config.title}}</h1>
    </ion-header-bar>

    <ion-content class="transactionDetails">
        <div class="padding item-wrap">
            <p class="padding divider">
                <span class="block_align">{{::vm.config.cardNumber}}</span>
                <span class="details-value">{{vm.postedTransaction.embossedCardNumber | wexCardNumber}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.postedDate}}</span>
                <span class="details-value">{{vm.postedTransaction.postDate | wexDefaultDateFormat}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.transactionDate}}</span>
                <span class="details-value">{{vm.postedTransaction.transactionDate | wexDefaultDateTimeFormat}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.transactionId}}</span>
                <span class="details-value">{{vm.postedTransaction.transactionId}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.grossCost}}</span>
                <span class="details-value">{{vm.postedTransaction.grossCost | currency}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.netCost}}</span>
                <span class="details-value">{{vm.postedTransaction.netCost | currency}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.productDescription}}</span>
                <span class="details-value">{{vm.postedTransaction.productDescription}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.driverFirstName}}</span>
                <span class="details-value">{{vm.postedTransaction.driverFirstName}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.driverLastName}}</span>
                <span class="details-value">{{vm.postedTransaction.driverLastName}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.customVehicleAssetId}}</span>
                <span class="details-value">{{vm.postedTransaction.customVehicleId}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.currentOdometer}}</span>
                <span class="details-value">{{vm.postedTransaction.currentOdometer}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.merchantName}}</span>
                <span class="details-value">{{vm.postedTransaction.merchantName}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align">{{::vm.config.merchantCityState}}</span>
                <span class="details-value">{{vm.postedTransaction.merchantCity}}, {{vm.postedTransaction.merchantState}}</span>
            </p>
        </div>
    </ion-content>
</ion-view>
