<ion-view view-title="{{ ::vm.config.title }}" wex-hide-back-button="false">
    <div class="bar bar-subheader bar-positive" ng-switch="vm.params.filterBy">
        <h2 ng-switch-when="card"   class="title">***{{ ::vm.filterDetails.embossedCardNumber }}</h2>
        <h2 ng-switch-when="driver" class="title">{{ ::vm.filterDetails.firstName }} {{ ::vm.filterDetails.lastName }}</h2>
    </div>

    <ion-content class="has-subheader" ion-sticky overflow-scroll="false">

        <filter-date-transaction-list filter-by="vm.params.filterBy"
                                      filter-value="vm.params.filterValue"
                                      is-greeking="true">
        </filter-date-transaction-list>

    </ion-content>
</ion-view>
