<ion-view view-title="{{::vm.config.title}}" wex-back-state="{{vm.backStateOverride}}" class="page-transactions">
    <div class="bar bar-subheader wex-bar-button-group">
        <div class="button-bar bar-positive" ng-click="vm.handleFilterSelection($event)">
            <wex-bar-button ng-value="'date'"   ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.date}}</wex-bar-button>
            <wex-bar-button ng-value="'driver'" ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.driver}}</wex-bar-button>
            <wex-bar-button ng-value="'card'"   ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.card}}</wex-bar-button>
        </div>
    </div>

    <ion-content class="has-subheader inner-container" ion-sticky overflow-scroll="false">

        <div ng-switch="vm.filterViews.transactionsFilterValue">
            <div ng-switch-when="date">
                <filter-date-transaction-list card-id="vm.cardIdFilter"
                                              cache-key="records-date"
                                              is-greeking="true"
                                              on-scroll="vm.handleLoadSubsequentData()">
                </filter-date-transaction-list>
            </div>

            <div ng-switch-when="driver">
                <filter-driver-transaction-list card-id="vm.cardIdFilter"
                                              cache-key="records-driver"
                                              is-greeking="true"
                                              on-scroll="vm.handleLoadSubsequentData()">
                </filter-driver-transaction-list>
            </div>

            <div ng-switch-when="card">
                <filter-card-transaction-list card-id="vm.cardIdFilter"
                                              cache-key="records-card"
                                              is-greeking="true"
                                              on-scroll="vm.handleLoadSubsequentData()">
                </filter-card-transaction-list>
            </div>
        </div>

    </ion-content>
</ion-view>
