<wex-list id="items-list"
          [items]="page.displayedItems"
          [itemLists]="page.displayedItemLists"
          [dividers]="page.dividerLabels"
          [loading]="page.fetchingItems"
          [greekingData]="page.greekingData"
          [greekedElementCount]="page.greekedElementCount">

  <ng-template #listItemTemplate let-item>
    <wex-list-item active (click)="page.goToDetailPage(item)">
      <ng-template [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{$implicit: item}"></ng-template>
    </wex-list-item>
  </ng-template>
</wex-list>

<ng-content></ng-content>
