@import "../../styles/payment";

page-payments {

  wex-list-header {
    .field-amount {
      text-align: right;
      margin-right: 16px;
    }
  }

  wex-list-item {
    @extend %wex-list-item-payment;
  }

  #button-add-payment {

    @at-root .md & {
      @include action-indicator-color(color($colors, white));
    }

    @at-root .ios & {
      @include action-indicator-color(color($colors, primary));
    }
  }
  //fixes stupid extra pixel on top of page
  .list-header-md {
    border-top-width: 0px;
  }
}
