page-payments {

  wex-list-header {
    .field-amount {
      text-align: right;
      margin-right: 16px;
    }
  }

  wex-list-item {
    .payment-amount {
      text-align: right;
    }
  }

  #button-add-payment {

    @at-root .md & {
      @include action-indicator-color(color($colors, white));
    }

    @at-root .ios & {
      @include action-indicator-color(color($colors, primary));
    }
  }
}
