@import "../../styles/payment";

page-payments {
  background-color: white;

  ion-content.has-refresher > .scroll-content {
    background-color: white;
  }

  #pay-now-section-spinner {
    height: 45%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }

  #pay-now-section {
    display: block;
    margin: auto;
    align-self: center;
    text-align: center;
    max-width: calc(100%  - 3rem);

    button {
      @include action-indicator-color(color($colors, white));
      @at-root .ios & {
        margin-top: 9%;
        margin-bottom: 7%;
      }
      @at-root .md & {
        height: 5rem;
        margin: 1rem;
        width: calc(100% - 2rem);
        margin-top: 5%;
      }
    }
    >:not(button) div, h1 {
      font-weight: bold;
      @at-root .ios & {
        text-transform: capitalize;
      }
      span {
        text-transform: none;
        font-weight: normal;
      }
    } h1 {
      margin: .5rem 0rem;
      letter-spacing: .8px;
      font-size: 3.4rem;
    } .invoice-number {
      opacity: .4;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase !important;
      letter-spacing: .7px;
    } .min-payment {
      margin-top: 12.5%;
    }

    #current-and-pending {
      @include flexbox();
      @include justify-content(space-around);
      @at-root .ios & {
        margin-bottom: 6%;
      } @at-root .md & {
        margin-bottom: 1rem;
      }
      #current, #pending {
        width: 50%;
        div {
          padding: .3rem;
        }
        .balance-type {
          color: color($colors, primary);
          font-weight: 500;
        }
        .value {
          font-weight: normal;
          font-size: 1.7rem;
        }
      }

      #pending {
        border-left: 0.55px solid color($colors, border);
      }
    }
  }

  ion-item-divider {
    &[sticky] {
      top: -1px;
    }
    @at-root .ios & {
      text-transform: uppercase;
      color: rgba(#000, .6);
      letter-spacing: .08rem;
      font-weight: 500;
      font-size: 1.2rem;

      background-color: color($colors, eggshell);

      text-align: center;
      border-style: solid;
      border-color: color($colors, border);
      border-width: 0.55px 0;
    }
    @at-root .md & {
      font-weight: 500;
      color: rgba(#000, .7);
      background-color: #f4f4f4;
      border: solid color($colors, light-border);
      border-width: 1px 0;
    }
  }

  
  ion-list wex-list-item {
    @extend %wex-list-item-payment;

    .item-ios > .item-inner {
      padding-left: 0;
      margin-left: 16px;
    }

    .list-ios {
      &.item-block { 
        .item-inner {
          border-bottom: 0px;
        }
      }
    }

    .item-md > .item-inner {
      padding-left: 0px;
      margin-left: 16px;
    }

    .label-ios {
      margin-top: 0;
      margin-bottom: 0;
    } .label-md {
      margin: 0;
    }

    .item .item-inner ion-label {
      @at-root .ios & {
        padding: 0.5rem;
      }
      @at-root .md & {
        padding: .3rem;
      }
    }

    [item-left] div:last-child {
      opacity: .4;
      font-size: 1.5rem;
    }
  }
}
