page-payments {
  @include page-background-white;

  #pay-now-section-spinner {
    height: 45%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }

  #pay-now-section {
    display: block;
    margin: auto;
    align-self: center;
    text-align: center;

    button {
      font-weight: 600;
      @include action-indicator-color(color($colors, white));
      @at-root .ios & {
        margin-top: 9%;
        margin-bottom: 5%;
      }
      @at-root .md & {
        height: 5rem;
        margin-bottom: 1rem;
        margin-top: 5%;
      }
    }
    >div, h1 {
      font-weight: bold;
      @at-root .ios & {
        text-transform: capitalize;
      }
      .no-highlight {
        text-transform: none;
        font-weight: normal;
      }
    }
    h1 {
      margin: .5rem 0rem;
      letter-spacing: .07rem;
      font-size: 3.4rem;
    }
    .invoice-number {
      opacity: .4;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase !important;
      letter-spacing: .05rem;
    }
    .min-payment {
      margin-top: 15%;
    }

    #current-and-pending {
      @include flexbox();
      @include justify-content(space-around);

      #current, #pending {
        font-weight: 600;
        width: 50%;
        div {
          padding: .3rem;
        }
        .balance-type {
          color: color($colors, primary);
        }
        .value {
          font-weight: normal;
          font-size: 1.7rem;
        }
      }

      #pending {
        border-left: 0.55px solid color($colors, border);
      }
    }
  }

  ion-item-divider {
    color: color($colors, light-header-text);
    &[sticky] {
      top: -1px;
    }

    &.item-divider-ios, &.item-divider-md {
      color: color($colors, light-header-text);
    }

    @at-root .ios & {
      text-transform: uppercase;
      letter-spacing: .08rem;
      font-weight: 500;
      font-size: 1.2rem;

      background-color: color($colors, eggshell);

      text-align: center;
      border-style: solid;
      border-color: color($colors, border);
      border-width: 0.55px 0;
    }
    @at-root .md & {
      font-weight: 500;
      background-color: color($colors, separator-md);
      border: solid color($colors, light-border);
      border-width: 1px 0;
    }
  }

  ion-list wex-list-item {
    .item-md [item-left] {
      margin: 0;
    }
    [item-left] div:last-child {
      opacity: .4;
      font-size: 1.5rem;
    }
    .payment-amount {
      text-align: right;
    }
  }
}
