<ion-view view-title="{{ ::vm.config.title }}" hide-nav-bar="true" class="page-login" wex-back-state="app.exit">
    <div class="alerts-wrapper">
        <wex-notification-bar class="message-session-timeout"
                              priority="0"
                              ng-if="vm.timedOut"
                              text="{{::vm.config.sessionTimeOut}}">
        </wex-notification-bar>

        <wex-notification-bar class="bar-error"
                              priority="1"
                              id="errorMessage"
                              ng-if="vm.globalError"
                              text="{{vm.globalError}}">
        </wex-notification-bar>
    </div>

    <ion-content scroll="false">
        <div id="title-heading-bar"></div>

        <div id="login-content">
            <form novalidate name="vm.userLoginForm" ng-submit="vm.userLoginForm.$valid && vm.logInUser(vm.setupFingerprintAuth)">
                <div class="list list-input">
                    <div class="item item-input item-stacked-label"
                         ng-click="vm.verifyFingerprintRemoval()">
                        <input ng-model="vm.maskableUsername"
                               ng-model-options="{getterSetter: true}"
                               ng-blur="vm.usernameIsFocused = false"
                               ng-focus="vm.usernameIsFocused = true"
                               ng-disabled="vm.fingerprintProfileAvailable"
                               name="userName"
                               type="text"
                               required
                               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               placeholder="{{ ::vm.config.userName.label }}"
                               ng-class="{ 'xclear' : vm.user.username }"
                               ng-click="vm.onClearInput($event)"
                               wex-max-length="{{ ::vm.config.userName.maxLength }}">
                    </div>

                    <div class="item item-input item-stacked-label">
                        <input ng-model="vm.user.password"
                               name="password"
                               type="password"
                               required
                               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               placeholder="{{ ::vm.config.password.label }}"
                               ng-click="vm.onClearInput($event)"
                               ng-class="{ 'xclear' : vm.user.password }"
                               wex-max-length="{{ ::vm.config.password.maxLength }}">
                    </div>
                </div>

                <div class="row-no-padding login-controls">
                    <ion-checkbox ng-model="vm.rememberMeToggle"
                                  ng-model-options="{getterSetter: true}"
                                  ng-disabled="vm.setupFingerprintAuth"
                                  class="justify-left">
                        <span ng-bind-html="::vm.config.rememberMe.label"></span>
                    </ion-checkbox>

                    <ion-checkbox ng-if="vm.fingerprintAuthAvailable && !vm.fingerprintProfileAvailable"
                            ng-model="vm.setupFingerprintAuthToggle"
                            ng-model-options="{getterSetter: true}"
                            class="justify-right">
                        <span ng-bind-html="::vm.getFingerprintDisabledLabel()"></span>
                    </ion-checkbox>
                    <div class="fingerprint-indicator icon-fingerprint justify-right"
                            ng-if="vm.fingerprintProfileAvailable"
                            ng-click="vm.logInUser(true)">
                    </div>
                </div>

                <div class="actions">
                    <wex-required-submit text="{{ ::vm.config.submitButton }}"></wex-required-submit>
                </div>
            </form>

            <div id="enrollment-link" class="padding align_center">
                <online-enrollment-flow>{{ ::vm.config.enrollment.label }}</online-enrollment-flow>
            </div>
        </div>

        <div id="keyboard-spacer"></div>
    </ion-content>
</ion-view>
