<ion-header>
  <ion-navbar>
    <ion-title>{{ CONSTANTS.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <wex-snackbar *ngIf="reissued" [text]="CONSTANTS.reissueMessage" [dismissAfter]="CONSTANTS.reissueMessageDuration">
  </wex-snackbar>

  <ion-card id="card-details">
    <ion-card-header>{{ CONSTANTS.details }}</ion-card-header>

    <div id="controls">
      <h1 id="card-number">{{ CONSTANTS.cardNumber }} {{ card.details.embossedCardNumber | wexCardNumber }}</h1>

      <button ion-button icon-left round large id="card-status" *ngIf="canChangeStatus" [color]="statusColor + '-dark'">
        <ion-icon [name]="statusIcon" [color]="statusColor"></ion-icon>
        {{ card.statusDisplayName }}
      </button>
    </div>

    <wex-details-view [model]="card"
                      [includedFields]="CONSTANTS.LIST.includedFields"
                      [mappedFieldNames]="CONSTANTS.LIST.mappedFieldNames">
    </wex-details-view>
  </ion-card>

  <ion-card id="card-actions">
    <ion-card-header>{{ CONSTANTS.actions }}</ion-card-header>

    <ion-list id="action-list" padding>
      <button ion-button icon-left block>
        <ion-icon class="fa fa-exchange"></ion-icon>
        {{ CONSTANTS.viewTransactions }}
      </button>
      <button *ngIf="card.isActive" ion-button icon-left block (click)="goToReissuePage()">
        <ion-icon class="fa fa-refresh"></ion-icon>
        {{ CONSTANTS.reissueCard }}
      </button>
    </ion-list>
  </ion-card>
</ion-content>
