page-cards-details {

  ion-card-header {
    font-weight: bold;
  }

  #card-card-details {

    #controls {
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(space-between);

      margin-bottom: 2rem;

      > * {
        margin-bottom: 1.5rem;
      }
    }
  }
}
