<ion-modal-view class="fingerprint-terms-modal">
    <ion-header-bar class="bar-wex">
        <h1 class="title">Terms & Conditions</h1>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
        <div class="terms">
            <p>Lorem ipsum dolor sit amet, te quis minim mel, ut nec sensibus suscipiantur, quo omnesque copiosae cu. Et falli facilis duo, latine aperiam docendi cum eu, sit appareat apeirian id. In facer posidonium eos, vidisse molestie mea ex. Iuvaret fierent ne per. Eu affert bonorum aliquando pri, pri an sententiae argumentum, eum nemore scribentur te.</p>

            <p>No diceret recteque efficiendi qui, in mandamus conceptam eos. No eam suas doctus, sed alia soleat sapientem ad. Nam odio viderer ea, an ancillae apeirian sed, ea odio meis ferri sit. Cu eam errem dicunt eripuit, ne usu vero mollis. Cu hinc dicta doctus has. Dolorum volumus reprehendunt mel an, vis ex sale quidam nusquam.</p>

            <p>Eirmod epicuri mediocrem eam te. Et sed aperiam facilis nusquam. Mea simul impedit petentium cu. Sale accusam intellegebat qui eu, at vis ullum impetus voluptaria. Singulis adversarium vix te, at sea enim meis.</p>

            <p>Doctus fabellas honestatis usu cu, oblique petentium mea ei, ut pri sonet libris diceret. Ea quod reprimique consequuntur eam. Aeque antiopam vis ad, has simul noluisse ne, nam ea atqui ponderum delicata. Duo in ludus laoreet.</p>

            <p>Sit quaestio inimicus similique ex. Diam detracto ex vim. No sed aeque doctus pericula. Vis liber mandamus ex.</p>

            <p>Nisl prima postea id vis. Eu appareat recteque mel. Mei et facilisis definitionem, cotidieque conclusionemque eos ex. Tation voluptua argumentum has an. Eam magna tibique facilisis ut.</p>

            <p>Sed labores democritum ei, placerat senserit nec te, vel dico civibus complectitur ut. Et vel facilis imperdiet, dicit doctus ad pro. Et illud scripta usu, fugit ceteros ad sed. Cum novum perfecto ad. Ea duo minim putant legimus, nec no commodo democritum definitiones, ad sea sale repudiandae. Ius prima explicari contentiones te.</p>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="buttons button-bar">
            <button class="button button-block button-light" ng-click="$emit('FingerprintAuthTerms.rejected')">Decline</button>
            <button class="button button-block button-link" ng-click="$emit('FingerprintAuthTerms.accepted')">Accept</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>