<ion-view view-title="{{vm.config.title}}" hide-nav-bar="true" class="user-login-view">
    <ion-content>
        <div class="padding">
            <wex-scalable-img class="header-login" src="img/fleet_manager_logo.png"></wex-scalable-img>
        </div>

        <div class="card card-error padding"
             id="errorMessage"
             ng-if="vm.globalError">
            {{vm.globalError}}
        </div>

        <form novalidate name="vm.userLoginForm" ng-submit="vm.userLoginForm.$valid && vm.authenticateUser()">
            <div class="list list-inset">
                <div class="padding">
                    <span class="item item-input item-user-name">
                        <input ng-model="vm.user.username" name="userName" type="text" required
                               wex-placeholder="{{vm.config.userName.label}}"
                               maxlength="{{vm.config.userName.maxLength}}">
                    </span>
                </div>

                <div class="padding">
                    <span class="item item-input item-password">
                        <input ng-model="vm.user.password" name="password" type="password" required
                               wex-placeholder="{{vm.config.password.label}}"
                               maxlength="{{vm.config.password.maxLength}}">
                    </span>
                </div>

                <!--<div class="align-center">
                    <input type="checkbox" name="remember" value="username"> Remember User Name
                </div>
                <br>-->

                <div class="padding">
                    <wex-required-submit text="{{vm.config.submitButton}}"></wex-required-submit>
                </div>

                <!--<p class="align-center hyperlink">
                    <a href="#">Terms & Policies</a>
                </p>-->

            </div>
        </form>
    </ion-content>
</ion-view>