<ion-view view-title="{{ ::vm.config.title }}" hide-nav-bar="true" class="page-login" wex-back-state="app.exit">
    <div class="alerts-wrapper">
        <wex-notification-bar priority="0"
                              ng-if="vm.timedOut"
                              text="{{::vm.config.sessionTimeOut}}">
        </wex-notification-bar>

        <wex-notification-bar class="bar-error"
                              priority="1"
                              id="errorMessage"
                              ng-if="vm.globalError"
                              text="{{vm.globalError}}">
        </wex-notification-bar>
    </div>

    <ion-content scroll="false">
        <div class="title-bar">
            <img src="img/pages/login/logo.png"/>
        </div>

        <form wex-active-element ng-class="{ 'is-active': isActive }" novalidate name="vm.userLoginForm"
              ng-submit="vm.userLoginForm.$valid && vm.logInUser(vm.setupFingerprintAuth)">
            <div class="list">
                <div class="item item-input item-stacked-label">
                    <wex-advanced-input mask-text="true" ng-click="vm.verifyFingerprintRemoval('user.username')">
                        <input ng-model="vm.user.username"
                               ng-disabled="vm.fingerprintProfileAvailable"
                               name="userName"
                               type="text"
                               required
                               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               placeholder="{{ ::vm.config.userName.label }}"
                               wex-max-length="{{ ::vm.config.userName.maxLength }}">
                    </wex-advanced-input>
                </div>

                <div class="item item-input item-stacked-label">
                    <wex-advanced-input>
                        <input ng-model="vm.user.password"
                               ng-disabled="vm.fingerprintProfileAvailable"
                               name="password"
                               type="password"
                               required
                               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               placeholder="{{ ::vm.config.password.label }}"
                               wex-max-length="{{ ::vm.config.password.maxLength }}">
                    </wex-advanced-input>
                </div>
            </div>

            <div class="row login-controls">
                <div class="col col-50 checkbox-remember-me">
                    <ion-checkbox ng-model="vm.rememberMeToggle" ng-click="vm.verifyFingerprintRemoval('rememberMe')">
                        <span fittext fittext-min="inherit" ng-bind="::vm.config.rememberMe.label"></span>
                    </ion-checkbox>
                </div>

                <div class="col col-50 checkbox-touch-id">
                    <ion-checkbox ng-if="vm.fingerprintAuthAvailable && !vm.fingerprintProfileAvailable"
                                  ng-disabled="!vm.rememberMe"
                                  ng-model="vm.setupFingerprintAuth">
                        <span fittext fittext-min="inherit" ng-bind="::vm.getFingerprintDisabledLabel()"></span>
                    </ion-checkbox>
                    <div class="fingerprint-indicator icon-fingerprint"
                         ng-if="vm.fingerprintProfileAvailable"
                         ng-click="vm.logInUser(true)">
                    </div>
                </div>
            </div>

            <div class="actions">
                <wex-required-submit text="{{ ::vm.config.submitButton }}"></wex-required-submit>
            </div>
        </form>

        <div class="padding align_center">
            <online-enrollment-flow>{{ ::vm.config.enrollment.label }}</online-enrollment-flow>
        </div>
    </ion-content>
</ion-view>
