<ion-view class="">
    <!--<button class="button button-icon ion-chevron-left menu_logo block"></button>
    <h3 class="block">Make Payment</h3>
    <button class="button button-icon icon ion-navicon block"><label class="menu_height">MENU</label></button>-->

    <ion-content>
        <div class="item item-divider"><div class="padding">
            <p class="divider padding-top"><span class="block_align">Invoice Number</span> <span class="content_align">12345678</span></p>
            <br>
            <p class="divider padding-top"><span class="block_align black"> Current Balance</span> <span class="content_align black">$650.00</span></p>

            <p class="divider padding-top"><span class="block_align black"> Minimum Payment</span> <span class="content_align black">$600.00</span></p>

            <p class="divider padding-top"><span class="block_align black"> Payment due date</span> <span class="content_align black">06/08/2015</span></p>
        </div>
        </div>
        <div class="item item-wrap arrow-align">
            <p class="padding-left padding-right"><span class="block_align">Amount</span>
                <span class="content_align"><a href="#amt">$600.00</a>
                     <span class="button button-icon icon ion-ios-arrow-forward"></span>
                </span>

            </p>
        </div>
        <div class="item item-wrap arrow-align">
            <p class="padding-left padding-right"><span class="block_align">From Account</span>
                <span class="content_align"><a href="#amt">Checking 3456</a>
                     <span class="button button-icon icon ion-ios-arrow-forward"></span>
                </span>
            </p>
        </div>
        <div class="item item-wrap arrow-align">
            <p class="padding-left padding-right"><span class="block_align">Date</span>
                <span class="content_align"><a href="#amt">06/01/2015</a>
                    <span class="button button-icon icon ion-ios-arrow-forward"></span>
                </span>
            </p>
        </div> <br>
        <div class="padding" style="text-align:center">
            <button id="makePaymentButton" class="button button-block button-submit" style="width:75%;display: inline-block">Next</button>
        </div>
    </ion-content>
</ion-view>
