<ion-view class="payment-amount-input-view" hide-nav-bar="true">

    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button>
            </wex-back-button>
        </div>

        <h1 class="title">{{::vm.config.title}}</h1>

        <div class="buttons">
            <button class="button button-clear button-done"
                    ng-click="vm.done()"
                    wex-click>
                {{::vm.config.done}}
            </button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div wex-numeric-input-field
             class="amount-input"
             ng-model="vm.amount"
             formatters="['wexPaymentAmount', 'currency']"
             allow-decimal="false"
             allow-keypad-toggle="false"
             on-input="vm.onInputChange">
        </div>
    </ion-content>
</ion-view>