page-add-payment {

  .bar-button-ios {
    font-size: 1.4rem;
  }

  @at-root .md & ion-item-group {
    @extend %md-item-border;
  }

  &.ion-page ion-content {
    @at-root .md & {
      background: color($colors, separator-md);
    }

    .scroll-content {
      @include flexbox();
      @include flex-dir(column);

      padding-bottom: 0 !important;
    }
  }

  .payment-invoice-details .invoice-display {
    @include md-shadow();
  }

  .ion-md-create, .ion-ios-arrow-forward {
    &:before {
    opacity: .26;
    }
  }

  #input-wrapper {
    @include flex-shrink(0);
    @include flex-grow(1);
    @include flexbox();
    @include flex-dir(row);
    @include align-items(center);
    @include justify-content(center);

    &[data-flow-type="Date"].input-focused {
      margin-bottom: 260px !important;
    }

    #flow-form {
      @include flex-grow(1);
      padding: 3rem;
    }

    .nav-button {
      @include flex-grow(0);
      @include flex-shrink(0);
    }
  }

  #submit-button {
    @at-root .md & {
      height: 5rem;
    }
  }
}
