<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="onCancel()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group class="ios-item-indent">
    <!-- Bank Account -->
    <ion-item-divider>{{ CONSTANTS.LABELS.bankAccount }}</ion-item-divider>

    <button ion-item *ngIf="paymentBankAccount" (click)="onUpdateBankAccount()">
      <ion-label>
        <h2>
          {{ paymentBankAccount.details.name }}
          (...{{ paymentBankAccount.details.lastFourDigits }})
        </h2>
        <p>{{ paymentBankAccount.details.name }}</p>
      </ion-label>
      <ion-icon item-right md="md-create" ios="ios-arrow-forward"></ion-icon>
    </button>

    <!-- Amount -->
    <ion-item-divider>{{ CONSTANTS.LABELS.paymentAmount }}</ion-item-divider>

    <button ion-item *ngIf="payment.amount" (click)="onUpdateAmount()">
      <ion-label>
        <h2>{{ payment.amount.value | wexCurrency }}</h2>
        <p>{{ paymentLabel }}</p>
        <p *ngIf="displayAmountWarning" class="item-warning">{{ CONSTANTS.LABELS.warningAmount }}</p>
      </ion-label>
      <ion-icon item-right md="md-create" ios="ios-arrow-forward"></ion-icon>
    </button>

    <!-- Payment Date -->
    <ion-item-divider>{{ CONSTANTS.LABELS.paymentDate }}</ion-item-divider>

    <button ion-item (click)="onUpdateDate()">
      <ion-label>
        <h2>{{ paymentDate | wexDate:true:DATE_FORMAT }}</h2>
        <p *ngIf="paymentService.hasMinimumPaymentDue">{{ CONSTANTS.LABELS.due }} {{ paymentDueDate | wexDate:true:DATE_FORMAT }}</p>
        <p *ngIf="displayDueDateWarning" class="item-warning">{{ CONSTANTS.LABELS.warningPaymentDate }}</p>
      </ion-label>
      <ion-icon item-right md="md-create" ios="ios-arrow-forward"></ion-icon>
      <calendar #calendar [(date)]="this.payment.date"  [minDate]="minPaymentDate" [maxDate]="maxPaymentDate"></calendar>
    </button>
  </ion-item-group>

  <div id="action-list" padding>
    <button id="submit-button" [disabled]="isLoading" class="button-gradient" ion-button block (click)="handleSchedulePayment()">
      <action-indicator large [when]="isLoading">{{ submitButtonText }}</action-indicator>
    </button>

    <p id="info-text">{{ CONSTANTS.LABELS.instructionalText }}</p>
  </div>
</ion-content>
