page-add-payment-selection {
  @extend selection-page;

  #custom-input {
    text-align: left !important;
  }

  #custom-input-item {
    .item-inner {
      border-bottom: 0;
    }

    input {
      border: none;
      padding: 0;
    }

    @extend .item-radio-checked;
  }
}
