<ion-header>
  <ion-navbar>
    <ion-title>Selection</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="selectionType">
    <ion-list radio-group *ngSwitchCase="'amount'" [(ngModel)]="selectedItem" [ngSwitch]="selectionType">
      <option-amount *ngFor="let option of options" [option]="option"></option-amount>
    </ion-list>

    <ion-list radio-group *ngSwitchCase="'bankAccount'" [(ngModel)]="selectedItem" [ngSwitch]="selectionType">
      <option-bank-account *ngFor="let option of options" [option]="option"></option-bank-account>
    </ion-list>
  </div>

  <ion-list id="action-list" padding>
    <button ion-button block (click)="handleSubmit($event)">
      Select
    </button>
  </ion-list>
</ion-content>
