<ion-list class="wex-list" [ngClass]="{ 'inset-items': platform.isIos }">

  <span class="grouped" *ngIf="isGrouped">
    <span *ngFor="let divider of dividers; let i = index">
      <ion-item-group [ngClass]="{ 'inset-items': platform.isIos }">
        <ion-item-divider *ngIf="getListForDivider(i)?.length" class="centered" sticky>
          {{ divider }}
        </ion-item-divider>
        <span *ngFor="let item of getListForDivider(i)">
          <ng-template [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{$implicit: item}"></ng-template>
        </span>
      </ion-item-group>
    </span>
  </span>

  <span class="ungrouped" *ngIf="!isGrouped">
    <span *ngFor="let item of itemsRendered">
      <ng-template [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{$implicit: item}"></ng-template>
    </span>
  </span>

  <span class="greeking" *ngIf="isGreekingVisible">
    <span *ngFor="let i of greekedElements">
      <wex-list-item class="greeking-item">
        <span [wexGreeking]="greekingData"></span>
      </wex-list-item>
    </span>
  </span>
</ion-list>

<ion-card *ngIf="hasNoItems && !forceGreeking" class="no-records">
  <ion-item>
    <ion-icon item-left name="information-circle" color="dark-gray"></ion-icon>
    {{ CONSTANTS.emptySearchLabel }}
  </ion-item>
</ion-card>
