<ion-card>
  <ion-list class="wex-list">
    <ion-list-header *ngIf="headerFields">
      <span *ngFor="let field of headerFields">{{ field }}</span>
    </ion-list-header>

    <span *ngFor="let item of items">
      <template [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{$implicit: item}"></template>
    </span>
  </ion-list>

  <ion-item *ngIf="hasNoRecords" class="no-records">
    <ion-icon item-left name="information-circle" color="dark-gray"></ion-icon>
    {{ CONSTANTS.emptySearchLabel }}
  </ion-item>
</ion-card>
