wex-list {

  @at-root .ios & ion-item-divider {
    @extend .centered;
  }

  ion-list {
    margin-bottom: 24px !important;
    
    > .grouped > span > ion-item-group, > .ungrouped {
      > :last-of-type wex-list-item .item > .item-inner {
        border-bottom: 0;
      }
    }
  }

  & ion-item-divider.item.item-divider {
    background-color: #f5f5f5;
  }

  & .no-records {
    font-weight: bold;
  }

  ion-list wex-list-item {
    .label-ios, .label-md {
      margin: 0;
    }
  
    .item .item-inner {

      @at-root .ios & {
        @extend %ios-item-border;

        ion-label {
          padding: 0.5rem;
          padding-left: 0;
        }
      }

      @at-root .md & {
        @extend %md-item-border;

        ion-label {
          padding: .3rem;
          padding-left: 0;
        }
      }
    }
  }
}
