wex-list {

  ion-list {
    margin-bottom: 24px !important;

    > span > span > ion-item-group > span:last-of-type wex-list-item .item-inner {
      border-bottom: none !important;
    }
  }

  & ion-item-divider.item.item-divider {
    background-color: #f5f5f5;
  }

  & .no-records {
    font-weight: bold;
  }

  ion-list wex-list-item {
    .item-md, .item-ios {
      > .item-inner {
        padding-left: 0px;
        margin-left: 16px;
      }
    }
  
    .label-ios, .label-md {
      margin: 0;
    }
  
    .item .item-inner {
      @at-root .ios & {
        border-bottom: 0.55px solid color($colors, border);
        ion-label {
          padding: 0.5rem;
          padding-left: 0;
        }
      } @at-root .md & {
        border-bottom: 0.55px solid color($colors, light-border);
        ion-label {
          @at-root .md & {
            padding: .3rem;
            padding-left: 0;
          }
        }
      }
    }
  }
}
