@mixin action-indicator-color($color) {
  ion-spinner.action-spinner * {
    stroke: $color;
  }
}

[actionIndicator] {
  @at-root
    button[ion-only] &,
    button[ion-fab] & {
    @extend ion-icon;
  }

  &[large] ion-spinner {
    width: 36px;
    height: 36px;
  }
}
