<ion-view hide-nav-bar="true">
    <div class="bar bar-header bar-wex">
        <h1 class="title">{{vm.config.title}}</h1>
    </div>

    <ion-content class="padding">
        <br>
        <div class="card card-warning padding"
             ng-if="vm.warnings.length > 0">
            <div ng-repeat="warning in vm.warnings">
                {{warning}}
            </div>
        </div>

        <p class="padding body-text">{{vm.config.afternoonWarning}}</p>
        <p class="padding body-text">{{vm.config.weekendHolidayWarning}}</p>

        <div>
            <p class="padding divider">
                <span id="paymentAmountLabel" class="block_align black">{{vm.config.amount}}</span>
                <span id="paymentAmount" class="content_align black">{{vm.payment.amount | currency}}</span>
            </p>

            <p class="padding divider">
                <span id="scheduledDateLabel" class="block_align black">{{vm.config.scheduledDate}}</span>
                <span id="scheduledDate" class="content_align black">{{vm.payment.scheduledDate | amDateFormat:"M/D/YYYY"}}</span>
            </p>

            <p class="padding divider">
                <span id="bankAccountLabel" class="block_align black">{{vm.config.bankAccount}}</span>
                <span id="bankAccount" class="content_align black">{{vm.payment.bankAccount}}</span>
            </p>
        </div>

        <div class="padding align_center">
            <button id="schedulePayment"
                    class="button button-block button-submit button-width"
                    ui-sref="payment.confirmation">
                {{vm.config.submitButton}}
            </button>
            <button id="cancel"
                    class="button button-block button-default button-width"
                    ng-click="vm.goBack()">
                {{vm.config.cancelButton}}
            </button>
        </div>
    </ion-content>
</ion-view>
