<ion-view view-title="{{vm.config.title}}" wex-hide-back-button="true">
    <ion-content class="padding inner-container">
        <div class="item item-divider inner-container" style="border:0px">
            <p class="align_center padding green">{{vm.config.confirmationText}}</p>
            <div class="padding item item-wrap arrow-align">
                <p class="padding divider">
                    <span id="paymentAmountLabel" class="block_align">{{vm.config.amount}}</span>
                    <span id="paymentAmount" class="content_align">{{vm.payment.amount | currency}}</span>
                </p>

                <p class="padding divider">
                    <span id="scheduledDateLabel" class="block_align">{{vm.config.scheduledDate}}</span>
                    <span id="scheduledDate" class="content_align">{{vm.payment.scheduledDate | wexDefaultDateFormat}}</span>
                </p>

                <p class="padding divider">
                    <span id="bankAccountLabel" class="block_align">{{vm.config.bankAccount}}</span>
                    <span id="bankAccount" class="content_align wordwrap">{{vm.payment.bankAccount.getDisplayName()}}</span>
                </p>
            </div>
            <br>
            <div>
                <button class="button button-block button-light item item-icon-right"
                        ui-sref="payment.list.view">
                    <i class="icon ion-chevron-right"></i>
                    <span id="activityButton" class="btn_align">{{vm.config.activityButton}}</span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>>
