<ion-view view-title="{{::vm.config.title}}" wex-back-state="landing" class="page-payments-list">
    <ion-content class="inner-container" ion-sticky>
        <ion-refresher class="wex-refresher" on-refresh="resetSearchResults()"></ion-refresher>

        <wex-infinite-list on-reload="loadNextPage"
                           is-pending="infiniteScrollService.isPending"
                           reload-distance="::vm.config.reloadDistance"
                           loading-complete="infiniteScrollService.isLoadingComplete">

            <!-- Scheduled Payments: Header, Messaging & Results -->
            <ion-item class="item-divider">{{ ::vm.config.scheduledPaymentsHeading }}</ion-item>
            <ion-item ng-if="infiniteScrollService.isLoadingComplete && vm.payments.scheduled.length == 0" class="no-payments">{{ ::vm.config.noScheduledPaymentsMessage }}</ion-item>
            <wex-payment-list-item ng-repeat="payment in vm.payments.scheduled"
                                   payment="payment"></wex-payment-list-item>

            <!-- Completed Payments: Header, Messaging & Results -->
            <ion-item class="item-divider">{{ ::vm.config.completedPaymentsHeading }}</ion-item>
            <ion-item ng-if="infiniteScrollService.isLoadingComplete && vm.payments.completed.length == 0" class="no-payments">{{ ::vm.config.noCompletedPaymentsMessage }}</ion-item>
            <wex-payment-list-item collection-repeat="payment in vm.payments.completed"
                                   payment="payment"></wex-payment-list-item>

        </wex-infinite-list>
    </ion-content>
</ion-view>
