<ion-view view-title="{{vm.config.title}}">
    <ion-content>
        <div class="item item-divider inner-container">
            <div class="padding">
                <p class="padding-top divider">
                    <span id="invoiceNumberLabel" class="block_align">{{vm.config.invoiceNumber}}</span>
                    <span id="invoiceNumber" class="content_align">{{vm.invoiceSummary.invoiceNumber}}</span>
                </p>

                <br>

                <p class="padding-top divider">
                    <span id="currentBalanceLabel" class="block_align black">{{vm.config.currentBalance}}</span>
                    <span id="currentBalance" class="content_align black">{{vm.invoiceSummary.currentBalance | currency}}</span>
                </p>

                <p class="padding-top divider">
                    <span id="minimumPaymentLabel" class="block_align black">{{vm.config.minimumPayment}}</span>
                    <span id="minimumPayment" class="content_align black">{{vm.invoiceSummary.minimumPaymentDue | currency}}</span>
                </p>

                <p class="padding-top divider">
                    <span id="paymentDueDateLabel" class="block_align black">{{vm.config.paymentDueDate}}</span>
                    <span id="paymentDueDate" class="content_align black">{{vm.invoiceSummary.paymentDueDate | wexDefaultDateFormat}}</span>
                </p>
            </div>
        </div>

        <div class="payment-maintenance-form-item">
            <span class="block_align">
                {{vm.config.amount}}
            </span>
            <div ng-click="vm.maintenance.go('payment.maintenance.input.amount')">
                <span class="active-link">
                    {{vm.payment.amount <= 0 ? vm.config.enterAmount : (vm.payment.amount | currency)}}
                </span>
                <span class="button button-icon icon ion-ios-arrow-forward chevron_align"
                      ng-click="vm.maintenance.go('payment.maintenance.input.amount')">
                </span>
            </div>
        </div>

        <div class="payment-maintenance-form-item">
            <span class="block_align">
                {{vm.config.scheduledDate}}
            </span>
            <ionic-datepicker value="vm.payment.scheduledDate"
                              min="vm.minDate"
                              max="vm.maxDate"
                              title="vm.config.scheduledDate">
                <span class="active-link">
                    {{vm.payment.scheduledDate | wexDefaultDateFormat}}
                </span>
                <span class="button button-icon icon ion-ios-arrow-forward chevron_align">
                </span>
            </ionic-datepicker>
        </div>

        <div class="payment-maintenance-form-item">
            <span class="block_align">
                {{vm.config.bankAccount}}
            </span>

            <div ng-if="!vm.hasMultipleBanks">
                <span class="button right-padding">
                    {{vm.payment.bankAccount.getDisplayName()}}
                </span>
            </div>
            <div ng-if="vm.hasMultipleBanks"
                 ng-click="vm.maintenance.go('payment.maintenance.input.bankAccount')">
                <span class="active-link">
                    {{vm.payment.bankAccount.getDisplayName()}}
                </span>
                <span class="button button-icon icon ion-ios-arrow-forward chevron_align"></span>
            </div>
        </div>

        <br>
        <div class="padding align_center">
            <button id="makePaymentButton"
                    class="button button-block button-submit button-width"
                    ng-disabled="vm.payment.amount <= 0"
                    ng-click="vm.maintenance.go('payment.maintenance.summary')">{{vm.config.submitButton}}</button>
        </div>
    </ion-content>
</ion-view>
