<ion-view view-title="{{vm.config.title}}">
    <ion-content>
        <ion-list>
            <ion-item class="item-stable">
                <i class="ion-minus padding"></i>{{vm.config.scheduledPaymentsHeading}}
            </ion-item>
            <ion-item class="item-accordian">
                <span>{{vm.config.noScheduledPaymentsMessage}}</span>
            </ion-item>
            <ion-item class="item-stable">
                <i class="ion-minus padding"></i>{{vm.config.completedPaymentsHeading}}
            </ion-item>
            <ion-item class="item-accordian">
                <span>{{vm.config.noCompletedPaymentsMessage}}</span>
                <!--<p class="black">-->
                    <!--<span id="paymentAccount" class="block_align black label_align">Citi Bank 1234<br>05/03/2015</span>-->
                     <!--<span id="paymentAmount" class="value_align">$300.00-->
                       <!--<span class="button button-icon icon ion-ios-arrow-forward content-align chevron_align">-->
                       <!--</span>-->
                   <!--</span>-->
                <!--</p>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>