<ion-view view-title="{{::vm.config.title}}" wex-back-state="landing" class="page-payments-list">
    <ion-content>
        <ion-refresher class="wex-refresher" on-refresh="resetSearchResults()"></ion-refresher>

        <ang-accordion icon-position="left"
                       close-icon-class="ion-android-add"
                       open-icon-class="ion-minus">

            <wex-infinite-list on-reload="loadNextPage"
                               reload-distance="::vm.config.reloadDistance"
                               loading-complete="infiniteScrollService.isLoadingComplete">

                <collapsible-item item-title="{{ ::vm.config.scheduledPaymentsHeading }}" initially-open="true" class="items-scheduled">
                    <p ng-if="infiniteScrollService.isLoadingComplete && vm.payments.scheduled.length == 0" class="no-payments">{{ ::vm.config.noScheduledPaymentsMessage }}</p>

                    <wex-payment-list-item ng-repeat="payment in vm.payments.scheduled"
                                           payment="payment"></wex-payment-list-item>
                </collapsible-item>

                <collapsible-item item-title="{{ ::vm.config.completedPaymentsHeading }}" initially-open="true" class="items-completed">
                    <p ng-if="infiniteScrollService.isLoadingComplete && vm.payments.completed.length == 0" class="no-payments">{{ ::vm.config.noCompletedPaymentsMessage }}</p>

                    <wex-payment-list-item collection-repeat="payment in vm.payments.completed"
                                           payment="payment"></wex-payment-list-item>
                </collapsible-item>

            </wex-infinite-list>
        </ang-accordion>
    </ion-content>
</ion-view>
