<ion-content class="menu-view">
    <ion-list>
        <ion-item class="option-home"
                  ui-sref="landing"
                  menu-close>
            {{vm.config.options.home}}
        </ion-item>
        <ion-item class="option-make-payment"
                  ui-sref="payment.add"
                  menu-close>
            {{vm.config.options.makePayment}}
        </ion-item>
        <ion-item>
            {{vm.config.options.viewActivity}}
        </ion-item>
        <ion-item>
            {{vm.config.options.cards}}
        </ion-item>
        <ion-item>
            {{vm.config.options.drivers}}
        </ion-item>
        <ion-item>
            {{vm.config.options.paymentHistory}}
        </ion-item>
        <ion-item>
            {{vm.config.options.contactUs}}
        </ion-item>
        <ion-item>
            {{vm.config.options.logOut}}
        </ion-item>
    </ion-list>
</ion-content>

