<ion-content class="menu-view">
    <ion-list>
        <ion-item id="option-home"
                  ui-sref="landing"
                  menu-close>
            {{::vm.config.options.home}}
        </ion-item>
        <ion-item id="option-add-payment"
                  href="#/payment/add/verify"
                  menu-close>
            {{::vm.config.options.addPayment}}
        </ion-item>
        <ion-item id="option-payments"
                  ui-sref="payment.list.view"
                  menu-close>
            {{::vm.config.options.payments}}
        </ion-item>
        <ion-item id="option-transaction-activity"
                  ui-sref="transaction.list"
                  menu-close>
            {{::vm.config.options.transactionActivity}}
        </ion-item>
        <ion-item id="option-cards"
                ui-sref="card.list"
                menu-close>
            {{::vm.config.options.cards}}
        </ion-item>
        <ion-item id="option-contact-us"
                  ui-sref="contactUs"
                  menu-close>
            {{::vm.config.options.contactUs}}
        </ion-item>
        <ion-item id="option-terms"
                  ui-sref="termsOfUse"
                  menu-close>
            {{::vm.config.options.terms}}
        </ion-item>
        <ion-item id="option-log-out"
                  ng-click="vm.logOut()"
                  menu-close>
            {{::vm.config.options.logOut}}
        </ion-item>
    </ion-list>
</ion-content>

