<ion-content class="menu-view">
    <ion-list>

        <wex-menu-item id="option-home"
                       icon="fa-home"
                       root-state="{{::vm.config.rootStates.home}}"
                       navigation-target="goToHome">
            {{::vm.config.options.home}}
        </wex-menu-item>

        <wex-menu-item id="option-add-payment"
                       navigation-target="goToMakePayment"
                       icon="fa-bank"
                       root-state="{{::vm.config.rootStates.addPayment}}"
                       wex-analytics-track-event="vm.config.ANALYTICS.events.makePaymentLink">
            {{::vm.config.options.addPayment}}
        </wex-menu-item>

        <wex-menu-item id="option-payments"
                       navigation-target="goToPaymentActivity"
                       icon="fa-usd"
                       root-state="{{::vm.config.rootStates.payments}}"
                       wex-analytics-track-event="vm.config.ANALYTICS.events.paymentActivityLink">
            {{::vm.config.options.payments}}
        </wex-menu-item>

        <wex-menu-item id="option-transaction-activity"
                       navigation-target="goToTransactionActivity"
                       icon="fa-exchange"
                       root-state="{{::vm.config.rootStates.transactionActivity}}"
                       wex-analytics-track-event="vm.config.ANALYTICS.events.transactionActivityLink">
            {{::vm.config.options.transactionActivity}}
        </wex-menu-item>

        <wex-menu-item id="option-notifications"
                       wex-feature-flag="PUSH_NOTIFICATIONS"
                       navigation-target="goToNotifications"
                       icon="fa-bell"
                       root-state="{{::vm.config.rootStates.notifications}}"
                       no-chevron="{{vm.getUnreadNotificationsCount() > 0}}">
            {{::vm.config.options.notifications}}
            <i class="badge badge-assertive" ng-hide="vm.getUnreadNotificationsCount() == 0">{{vm.getUnreadNotificationsCount()}}</i>
        </wex-menu-item>

        <wex-menu-item id="option-cards"
                       navigation-target="goToCards"
                       icon="fa-credit-card-alt"
                       root-state="{{::vm.config.rootStates.cards}}"
                       wex-analytics-track-event="vm.config.ANALYTICS.events.cardsLink">
            {{::vm.config.options.cards}}
        </wex-menu-item>

        <wex-menu-item id="option-settings"
                       ng-if="vm.fingerprintAuthAvailable"
                       navigation-target="goToSettings"
                       icon="fa-cog"
                       root-state="{{::vm.config.rootStates.settings}}">
            {{::vm.config.options.settings}}
        </wex-menu-item>

        <wex-menu-item id="option-contact-us"
                       navigation-target="goToContactUs"
                       icon="fa-comments"
                       root-state="{{::vm.config.rootStates.contactUs}}">
            {{::vm.config.options.contactUs}}
        </wex-menu-item>

        <wex-menu-item id="option-terms"
                       root-state="{{::vm.config.rootStates.terms}}"
                       navigation-target="goToTermsOfUse">
            {{::vm.config.options.terms}}
        </wex-menu-item>

        <wex-menu-item id="option-privacy-policy"
                       navigation-target="goToPrivacyPolicy"
                       root-state="{{::vm.config.rootStates.privacyPolicy}}">
            {{::vm.config.options.privacyPolicy}}
        </wex-menu-item>

        <wex-menu-item id="option-log-out"
                       navigation-target="goToLogOut">
            {{::vm.config.options.logOut}}
        </wex-menu-item>

    </ion-list>
</ion-content>
