<ion-view view-title="{{::vm.config.title}}"
          wex-hide-back-button="true"
          wex-back-state="landing">
    <ion-content>
        <div class="content padding">
            <p>
              {{::vm.config.lastUpdated}} {{::vm.releaseDate | wexDefaultDateFormat}}
            </p>
            <p id="introduction">
                <span ng-bind-html="vm.config.introduction"></span>
            </p>
            <div class="padding">
                <p>
                    {{::vm.config.sectionOne}}
                </p>
                <p>
                    {{::vm.config.sectionTwo}}
                </p>
                <p>
                    {{::vm.config.sectionThree}}
                </p>
                <p>
                    {{::vm.config.sectionFour}}
                </p>
                <p>
                    {{::vm.config.sectionFive}}
                </p>
                <p>
                    {{::vm.config.sectionSix}}
                </p>
                <p>
                    {{::vm.config.sectionSeven}}
                </p>
                <p>
                    {{::vm.config.sectionEight}}
                </p>
                <p>
                    {{::vm.config.sectionNine}}
                </p>
                <p>
                    {{::vm.config.sectionTen}}
                </p>
                <p>
                    {{::vm.config.sectionEleven}}
                </p>
            </div>
            <p id="closing">
                <span ng-bind-html="vm.config.closing"></span>
            </p>
        </div>
    </ion-content>
</ion-view>