<ion-view view-title="{{::vm.config.title}}"
          class="terms-of-use-view"
          wex-hide-back-button="true"
          wex-back-state="landing">
    <ion-content>
        <div class="content item main-container">
            <p id="introduction">
                <span class="black wordwrap" ng-bind-html="vm.config.introduction"></span>
            </p>
            <div class="padding">
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionOne}}</span>
                </p>
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionTwo}}</span>
                </p>
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionThree}}</span>
                </p>
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionFour}}</span>
                </p>
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionFive}}</span>
                </p>
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionSix}}</span>
                </p>
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionSeven}}</span>
                </p>
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionEight}}</span>
                </p>
                <p>
                    <span class="black wordwrap">{{::vm.config.sectionNine}}</span>
                </p>
            </div>
            <p id="closing">
                <span class="black wordwrap" ng-bind-html="vm.config.closing"></span>
            </p>
        </div>
    </ion-content>
</ion-view>>
