<ion-view view-title="{{::vm.config.title}}" wex-back-state="landing" class="page-drivers-list">
    <ion-nav-buttons side="left"></ion-nav-buttons>

    <ion-header class="bar-header-search">
        <form>
            <ion-input class="item-input-wrapper">
                <i class="icon icon-search placeholder-icon"></i>
                <input type="search" name="searchFilter" ng-model="vm.searchFilter" placeholder="{{::vm.config.searchPlaceholder}}">
            </ion-input>
        </form>
    </ion-header>

    <ion-header class="bar-header-list"
                ng-hide="vm.filteredDriversActive.length == 0 && vm.filteredDriversTerminated.length == 0">
        <span class="content-name">{{ ::vm.config.listName }}</span>
        <span class="content-driver-id">{{ ::vm.config.listDriverId }}</span>
    </ion-header>

    <!-- && infiniteScrollService.isLoadingComplete -->
    <ion-header class="bar-header-message"
                ng-show="vm.filteredDriversActive.length == 0 && vm.filteredDriversTerminated.length == 0">
        {{ ::vm.config.emptyList }}
    </ion-header>

    <ion-content class="has-subheader inner-container" ion-sticky>
        <ion-refresher class="wex-refresher" on-refresh="resetSearchResults()"></ion-refresher>

        <wex-infinite-list on-reload="loadNextPage"
                           is-pending="infiniteScrollService.isPending"
                           loading-complete="infiniteScrollService.isLoadingComplete">

            <!-- Active Drivers: Header, Messaging & Results -->
            <ion-item ng-hide="vm.filteredDriversActive.length == 0" class="item-divider active">{{ ::vm.config.listDriversActive }}</ion-item>
            <driver-list-item class="component-list-item"
                              driver="driver"
                              ng-repeat="driver in vm.filteredDriversActive = ( vm.drivers.active | filter : vm.searchFilter : vm.driversComparator )"></driver-list-item>

            <!-- Terminated Drivers: Header, Messaging & Results -->
            <ion-item ng-hide="vm.filteredDriversTerminated.length == 0" class="item-divider terminated">{{ ::vm.config.listDriversTerminated }}</ion-item>
            <driver-list-item class="component-list-item"
                              driver="driver"
                              collection-repeat="driver in vm.filteredDriversTerminated = ( vm.drivers.terminated | filter : vm.searchFilter : vm.driversComparator )"></driver-list-item>

        </wex-infinite-list>
    </ion-content>
</ion-view>
