<ion-view view-title="{{ ::vm.config.title }}" class="page-drivers-detail">
    <wex-notification-bar class="bar-success"
                          ng-if="vm.displayStatusChangeBannerSuccess"
                          wex-toast-timer
                          wex-toast-on-hide="vm.displayStatusChangeBannerSuccess = false"
                          text="{{ ::vm.config.bannerStatusChangeSuccess }}">
    </wex-notification-bar>

    <ion-header class="bar bar-subheader subheader-driver-details" ng-class="{ 'ui-active': vm.driver.isActive(), 'ui-terminated': vm.driver.isTerminated(), 'ui-loading': vm.isChangeStatusLoading }">
        <div class="content-driver-name">
            {{ vm.driver.firstName | lowercase }} {{ vm.driver.lastName | lowercase }}
        </div>

        <div class="content-driver-status">{{ vm.driver.status }}</div>

        <div class="content-driver-controls">
            <button class="button button-block button-primary button-change-status"
                    ng-disabled="vm.isChangeStatusLoading"
                    ng-click="vm.handleClickChangeStatus()">
                <ion-spinner icon="spiral" ng-show="vm.isChangeStatusLoading"></ion-spinner>
                {{ ::vm.config.labelChangeStatus }}
            </button>
        </div>
    </ion-header>

    <ion-content class="has-subheader inner-container">
        <ul class="list list-driver-details">
            <li class="item">
                {{ ::vm.config.detailDriverId }}
                <span class="item-note">{{ ::vm.driver.driverId }}</span>
            </li>
            <li wex-application-flag="vm.config.phoneAndEmailApplications" class="item">
                {{ ::vm.config.detailEmail }}
                <span class="item-note"><a href="tel:{{ ::vm.driver.cellPhoneNumber }}">{{ ::vm.driver.cellPhoneNumber }}</a></span>
            </li>

            <li wex-application-flag="vm.config.phoneAndEmailApplications" class="item">
                {{ ::vm.config.detailMobile }}
                <span class="item-note"><a href="mailto:{{ ::vm.driver.emailAddress }}">{{ ::vm.driver.emailAddress }}</a></span>
            </li>
        </ul>

        <ul class="card list list-transactions">
            <li class="item item-icon-left item-icon-right" ng-click="vm.goToTransactionActivity()">
                <i class="icon fa fa-exchange"></i>
                {{ ::vm.config.labelTransactions }}
                <i class="icon fa fa-chevron-right"></i>
            </li>
        </ul>
    </ion-content>
</ion-view>