<ion-view view-title="{{ ::vm.config.title }}" wex-hide-back-button="false" class="page-drivers-detail">
    <wex-notification-bar class="bar-success"
                          ng-if="vm.displayStatusChangeBannerSuccess"
                          wex-toast-timer
                          wex-toast-on-hide="vm.displayStatusChangeBannerSuccess = false"
                          text="{{ ::vm.config.bannerStatusChangeSuccess }}">
    </wex-notification-bar>

    <ion-header class="bar-header-details" ng-class="{ 'ui-active': vm.driver.isActive(), 'ui-terminated': vm.driver.isTerminated(), 'ui-loading': vm.isChangeStatusLoading }">
        <div class="content-driver-name">
            {{ vm.driver.firstName | lowercase }} {{ vm.driver.lastName | lowercase }}
        </div>

        <div class="content-driver-status">{{ vm.driver.status }}</div>

        <div class="content-controls" ng-if="vm.dirver.status">
            <button class="button-primary button-control"
                    ng-disabled="vm.isChangeStatusLoading"
                    ng-click="vm.handleClickChangeStatus()">
                <ion-spinner icon="spiral" ng-show="vm.isChangeStatusLoading"></ion-spinner>
                {{ ::vm.config.labelChangeStatus }}
            </button>
        </div>
    </ion-header>

    <ion-content class="has-subheader inner-container">
        <ul class="list-details">
            <li class="item">
                <div class="row">
                    <div class="col col-50">{{ ::vm.config.detailDriverId }}</div>
                    <div class="col col-50 wrap text-right">{{ ::vm.driver.promptId }}</div>
                </div>
            </li>
            <li wex-application-flag="vm.config.phoneAndEmailApplications" class="item">
                <div class="row">
                    <div class="col col-50">{{ ::vm.config.detailMobile }}</div>
                    <div class="col col-50 wrap text-right"><a href="tel:{{ ::vm.driver.cellPhoneNumber }}">{{ ::vm.driver.cellPhoneNumber }}</a></div>
                </div>
            </li>

            <li wex-application-flag="vm.config.phoneAndEmailApplications" class="item">
                <div class="row">
                    <div class="col col-50">{{ ::vm.config.detailEmail }}</div>
                    <div class="col col-50 text-right ellipsis"><a href="mailto:{{ ::vm.driver.emailAddress }}">{{ ::vm.driver.emailAddress }}</a></div>
                </div>
            </li>
        </ul>

        <ul class="list-secondary">
            <li class="item item-icon-left item-icon-right" ng-click="vm.goToTransactionActivity()">
                <i class="icon fa fa-exchange"></i>
                {{ ::vm.config.labelTransactions }}
                <i class="icon fa fa-chevron-right"></i>
            </li>
        </ul>
    </ion-content>
</ion-view>