wex-snackbar {
    z-index: 15;

    &:empty {
        display: none;
    }

    .snackbar-toolbar {

        &:not(.push-content) {
            position: absolute;
        }

        .toolbar-background {
            background-color: color($colors, dark-gray); 
        }

        .toolbar-content {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);
        }

        .snackbar-text {
            color: color($colors, white);
        }
    }
}