{{#authenticated}}
<p class="text-center">Welcome, {{firstName}}</p>

{{#hasMultipleAccounts}}
<a href="#hierarchyManager"
   class="text-left"
   data-theme="d"
   data-ajax="false"
   data-role="button"
   data-icon="search"
   data-iconpos="right">

    {{#selectedCompany}}
    <small>{{name}}</small>
    <br/>
    <small>{{wexAccountNumber}}</small>
    {{/selectedCompany}}

</a>
{{/hasMultipleAccounts}}

{{^hasMultipleAccounts}}
<div class="ui-body ui-body-d">

    {{#selectedCompany}}
    <small>{{name}}</small>
    <br/>
    <small>{{wexAccountNumber}}</small>
    {{/selectedCompany}}

</div>
{{/hasMultipleAccounts}}

<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d">
    {{#permissions.MOBILE_PAYMENT_VIEW}}
    <li>
        <a href="#invoices" data-transition="flip" rel="external">
            <img src="img/ui-icon_Invoices.png">Invoice
        </a>
    </li>
    {{/permissions.MOBILE_PAYMENT_VIEW}}
    {{#permissions.MOBILE_CARD_VIEW}}
    <li>
        <a href="#cards" data-transition="flip" rel="external">
            <img src="img/ui-icon_Card.png">Card
        </a>
    </li>
    {{/permissions.MOBILE_CARD_VIEW}}
    {{#permissions.MOBILE_DRIVER_FULL_VIEW}}
    <li>
        <a href="#driverSearch" data-transition="flip" rel="external">
            <img src="img/ui-icon_Driver.png">Driver
        </a>
    </li>
    {{/permissions.MOBILE_DRIVER_FULL_VIEW}}
</ul>

{{/authenticated}}
