{{#payment}}
    <a href="{{url.value}}"
       class="text-left ui-btn ui-btn-d ui-corner-all ui-icon-carat-r ui-btn-icon-right"
       data-ajax="false">

        {{#scheduledDate}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/scheduledDate}}
        {{#amount}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/amount}}
        {{#bankAccountName}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/bankAccountName}}
        {{#status}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/status}}
    </a>
{{/payment}}
