<ion-view class="page-cards-reissue" hide-nav-bar="true">

    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button>
            </wex-back-button>
        </div>

        <h1 class="title">{{::vm.config.title}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="form-item">
            <span class="block_align align-top black">{{::vm.config.shippingAddress}}</span>
            <div  class="float-right black">
                    <span class="wordwrap">{{vm.cardReissueDetails.shippingAddress.firstName}} {{vm.cardReissueDetails.shippingAddress.lastName}}</span>
                    <span class="wordwrap">{{vm.cardReissueDetails.shippingAddress.companyName}}</span>
                    <span class="wordwrap">{{vm.cardReissueDetails.shippingAddress.addressLine1}}</span>
                    <span ng-if="!!vm.cardReissueDetails.shippingAddress.addressLine2" class="wordwrap">{{vm.cardReissueDetails.shippingAddress.addressLine2}}</span>
                    <span class="wordwrap">{{vm.cardReissueDetails.shippingAddress.city}}, {{vm.cardReissueDetails.shippingAddress.state}} {{vm.cardReissueDetails.shippingAddress.postalCode}}</span>

            </div>
        </div>

        <div class="form-item">
            <span class="block_align black">{{::vm.config.shippingMethod}}</span>

            <span class="active-link"
                  ng-if="!vm.cardReissueDetails.selectedShippingMethod"
                  ng-click="vm.handleSelectShippingMethod()">
                {{ ::vm.config.selectReissueMethod }}
            </span>

            <span ng-if="vm.cardReissueDetails.selectedShippingMethod"
                  ng-switch="vm.cardReissueDetails.shippingMethods.length > 1">
                <div ng-switch-when="true"
                     ng-click="vm.handleSelectShippingMethod()">
                    <span class="active-link">{{vm.cardReissueDetails.getShippingMethodDisplayName()}}</span>
                </div>
                <div ng-switch-when="false">
                    <span class="black">{{vm.cardReissueDetails.getShippingMethodDisplayName()}}</span>
                </div>
            </span>
        </div>

        <div class="form-item no-border">
            <span class="block_align black">{{::vm.config.reissueReason}}</span>
            <div ng-click="vm.handleSelectReissueReason()">
                <span class="active-link" ng-if="vm.cardReissueDetails.reissueReason">{{vm.cardReissueDetails.getReissueReasonDisplayName()}}</span>
                <span class="active-link" ng-if="!vm.cardReissueDetails.reissueReason">{{::vm.config.selectReissueReason}}</span>
            </div>
        </div>

        <div class="content-actions">
            <button class="button button-block button-primary button-width"
                    ng-disabled="!vm.isFormComplete()"
                    ng-click="vm.handleReissueConfirm()">
                {{::vm.config.submitButton}}
            </button>
        </div>

        <div class="content-instructions">
            <p>{{::vm.config.instructionalText}}</p>
            <p ng-if="vm.cardReissueDetails.shippingAddress.isPoBox()">{{::vm.config.poBoxText}}</p>
        </div>
    </ion-content>
</ion-view>