<ion-view view-title="{{::vm.config.title}}" wex-hide-back-button="true" class="page-cards-list">
    <ion-header class="bar-header-search">
        <form>
            <ion-input class="item-input-wrapper">
                <i class="icon icon-search placeholder-icon"></i>
                <input type="search" name="searchFilter" ng-model="vm.searchFilter" autocomplete="off" placeholder="{{::vm.config.searchPlaceholder}}">
            </ion-input>
        </form>
    </ion-header>

    <ion-header class="bar-header-list"
                ng-hide="vm.filteredCardsActive.length == 0 && vm.filteredCardsSuspended.length == 0 && vm.filteredCardsTerminated.length == 0">
        <div class="row">
            <span class="col col-35 content-card-number">{{ ::vm.config.cardNumber }}</span>
            <span class="col col-65 content-embossing">{{ ::vm.config.embossing }}</span>
        </div>
    </ion-header>

    <ion-header class="bar-header-message"
                ng-show="vm.filteredCardsActive.length == 0 && vm.filteredCardsSuspended.length == 0 && vm.filteredCardsTerminated.length == 0">
        {{ ::vm.config.emptyList }}
    </ion-header>

    <ion-content class="has-subheader inner-container" on-tap="vm.handleSwiping()" on-hold="vm.handleSwiping()" on-swipe-up="vm.handleSwiping()" on-swipe-down="vm.handleSwiping()" ion-sticky>
        <ion-refresher class="wex-refresher" on-refresh="resetSearchResults()"></ion-refresher>

        <wex-infinite-list on-reload="loadNextPage"
                           is-pending="infiniteScrollService.isPending"
                           loading-complete="infiniteScrollService.isLoadingComplete">

            <!-- Active Cards: Header, Messaging & Results -->
            <ion-item ng-if="vm.filteredCardsActive.length > 0" class="item-divider active">{{ ::vm.config.listCardsActive }}</ion-item>
            <card-list-item class="component-list-item"
                            card="card"
                            ng-repeat="card in vm.filteredCardsActive = ( vm.cards.active | filter : vm.searchFilter : vm.cardsComparator )"></card-list-item>

            <!-- Suspended Cards: Header, Messaging & Results -->
            <ion-item ng-if="vm.filteredCardsSuspended.length > 0" class="item-divider suspended">{{ ::vm.config.listCardsSuspended }}</ion-item>
            <card-list-item class="component-list-item"
                            card="card"
                            ng-repeat="card in vm.filteredCardsSuspended = ( vm.cards.suspended | filter : vm.searchFilter : vm.cardsComparator )"></card-list-item>

            <!-- Terminated Cards: Header, Messaging & Results -->
            <ion-item ng-if="vm.filteredCardsTerminated.length > 0" class="item-divider terminated">{{ ::vm.config.listCardsTerminated }}</ion-item>
            <card-list-item class="component-list-item"
                            card="card"
                            collection-repeat="card in vm.filteredCardsTerminated = ( vm.cards.terminated | filter : vm.searchFilter : vm.cardsComparator )"></card-list-item>

        </wex-infinite-list>
    </ion-content>
</ion-view>
