<ion-view class="page-cards-detail" hide-nav-bar="true">
    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button back-state="card.list"></wex-back-button>
        </div>

        <h1 class="title">{{ ::vm.config.title }}</h1>
    </ion-header-bar>

    <wex-notification-bar class="bar-success"
                          ng-if="vm.shouldDisplayBannerSuccess"
                          wex-toast-timer
                          wex-toast-on-hide="vm.shouldDisplayBannerSuccess = false"
                          text="{{ vm.bannerSuccessMessage }}">
    </wex-notification-bar>

    <ion-header class="bar-header-details" ng-class="{ 'ui-active': vm.card.isActive(), 'ui-suspended': vm.card.isSuspended(), 'ui-terminated': vm.card.isTerminated(), 'ui-loading': vm.isChangeStatusLoading }">
        <div class="content-detail-title">{{ vm.card.embossedCardNumber | wexCardNumber }}</div>
        <div class="content-detail-status">{{ vm.card.getStatusDisplayName() }}</div>

        <div class="content-controls" ng-show="vm.canChangeStatus()">
            <button class="button-primary button-control"
                    ng-disabled="vm.isChangeStatusLoading"
                    ng-click="vm.handleClickChangeStatus()">
                <ion-spinner icon="spiral" ng-show="vm.isChangeStatusLoading"></ion-spinner>
                {{ ::vm.config.labelChangeStatus }}
            </button>
        </div>
    </ion-header>

    <ion-content class="has-subheader inner-container">
        <ul class="list-details">
            <li class="item">
                <div class="row">
                    <div class="col col-50">{{ ::vm.config.detailStandardEmbossing }}</div>
                    <div class="col col-50 wrap text-right">{{ vm.card.embossingValue2 }}</div>
                </div>
            </li>

            <li class="item">
                <div class="row">
                    <div class="col col-50">{{ ::vm.config.detailOptionalEmbossing }}</div>
                    <div class="col col-50 wrap text-right">{{ vm.card.embossingValue1 }}</div>
                </div>
            </li>
        </ul>

        <ul class="list-secondary">
            <li class="item item-icon-left item-icon-right" ng-show="vm.card.isActive()" ng-click="vm.handleNavigateReissueCard()">
                <i class="icon fa fa-refresh"></i>
                {{ ::vm.config.labelReissueCard }}
                <i class="icon fa fa-chevron-right"></i>
            </li>

            <li class="item item-icon-left item-icon-right" ng-click="vm.handleNavigateTransactionActivity()">
                <i class="icon fa fa-exchange"></i>
                {{ ::vm.config.labelTransactions }}
                <i class="icon fa fa-chevron-right"></i>
            </li>
        </ul>
    </ion-content>
</ion-view>