<ion-view class="landing-view" wex-hide-back-button="true" wex-back-state="user.auth.login">
    <ion-nav-title>
        <wex-scalable-img src="img/fleet_manager_logo_small.png"></wex-scalable-img>
    </ion-nav-title>

    <ion-content>
        <div class="content item item-divider main-container">

            <div class="row">
                <div class="col col-50" id="companyDetails">
                    <span>{{vm.billingCompany.name}}</span>
                    <br>
                    <span class="body-text">{{vm.billingCompany.accountNumber}}</span>
                </div>

                <div class="col col-50 content_align balance-positive" id="availableCredit">
                    <span class="label">{{vm.config.availableCredit}}</span>
                    <br>
                    <span class="value">{{vm.invoiceSummary.availableCredit | currency}}</span>
                </div>
            </div>

            <div class="inner-container">
                <div class="row invoice-divider">
                    <div class="col col-50 label">{{vm.config.currentBalance}}</div>
                    <div class="col col-50 content_align value" id="currentBalance">
                        {{vm.invoiceSummary.currentBalance | currency}}
                    </div>
                </div>
                <div class="row invoice-divider">
                    <div class="col col-50 label">{{vm.config.minimumPayment}}</div>
                    <div class="col col-50 content_align value" id="minimumPayment">
                        {{vm.invoiceSummary.minimumPaymentDue | currency}}
                    </div>
                </div>

                <div class="row invoice-divider">
                    <div class="col col-50 label">{{vm.config.paymentDueDate}}</div>
                    <div class="col col-50 content_align value" id="paymentDueDate">
                        {{vm.invoiceSummary.paymentDueDate | wexDefaultDateFormat}}
                    </div>
                </div>
            </div>

            <div class="padding button-container">
                <div>
                    <a class="button button-block button-stable item item-icon-right button-divider"
                       href="#/payment/add/verify">
                        <div class="row">
                            <div class="col col-50">
                                <span class="btn_align">{{vm.config.makePayment}}</span>
                            </div>
                            <div class="col col-50 content_align">
                                <i class="icon ion-chevron-right"></i>
                                <span class="badge" ng-if="vm.scheduledPaymentsCount > 0">
                                    {{vm.scheduledPaymentsCount}} {{vm.config.scheduledPayments}}
                                </span>
                            </div>
                        </div>
                    </a>

                    <a class="button button-block button-stable item item-icon-right"
                       ui-sref="transaction.list">
                        <div class="row">
                            <div class="col col-50">
                                <span id="viewActivityButton" class="btn_align">{{vm.config.viewActivity}}</span>
                            </div>
                            <div class="col col-50 content_align">
                                <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="button-group">
                    <a class="button button-block button-light item item-icon-right">
                        <div class="row">
                            <div class="col col-50">
                                <span id="cardsButton" class="btn_align black">{{vm.config.cards}}</span>
                            </div>
                            <div class="col col-50 content_align">
                                <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
