<ion-view id="menu_swipe">
    <ion-nav-title>
        <button class="button button-icon icon ion-navicon menu_logo" onclick="$('#menu_swipe').toggle()"><label class="menu_height">MENU</label></button>
    </ion-nav-title>
    <ionic-content class="content has-header">
    <ion-list>
        <ion-item class="item item-content">
            <a href="item0">Home</a>
        </ion-item>
        <ion-item class="item item-content">
            <a href="item1">Make Payment</a>
        </ion-item>
        <ion-item class="item item-content">
            <a href="item2">View Activity</a>
        </ion-item>
        <ion-item class="item item-content">
            <a href="item3">Cards</a>
        </ion-item>
        <ion-item class="item item-content">
            <a href="item4">Drivers</a>
        </ion-item>
        <ion-item class="item item-content">
            <a href="item5">Payment History</a>
        </ion-item>
        <ion-item class="item item-content">
            <a href="item6">Contact Us</a>
        </ion-item>
        <ion-item class="item item-content">
            <a href="item7">Log Out</a>
        </ion-item>
    </ion-list>
</ionic-content>
</ion-view>

