@font-face {
    font-family: 'plymouth_serialregular';
    src: url('../fonts/plymouth-serial/plymouth_serial-regular-webfont.eot');
    src: url('../fonts/plymouth-serial/plymouth_serial-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plymouth-serial/plymouth_serial-regular-webfont.woff2') format('woff2'),
         url('../fonts/plymouth-serial/plymouth_serial-regular-webfont.woff') format('woff'),
         url('../fonts/plymouth-serial/plymouth_serial-regular-webfont.ttf') format('truetype'),
         url('../fonts/plymouth-serial/plymouth_serial-regular-webfont.svg#plymouth_serialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
