@font-face {
    font-family: 'tablet_gothic_regular';
    src: url('../fonts/tablet-gothic/Tablet-Gothic-Condensed-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tablet_gothic_semibold';
    src: url('../fonts/tablet-gothic/Tablet-Gothic-Condensed-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tablet_gothic_bold';
    src: url('../fonts/tablet-gothic/Tablet-Gothic-Condensed-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
