.page-cards {

  &.card-list-view {
    .list-header.row {
      padding-left:  21px; // .item 16px padding-left + .row 5px padding
      padding-right: 35px; // .item 30px padding-right + .row 5px padding
    }
  }

  .text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}
