/**
 * Drivers List
**/
.page-drivers-list {
  @extend %ui-management-list;

  .bar-header-list .content-name {
    @include flex-grow(10);
  }
}

/**
 * Driver Details
**/
.page-drivers-detail {
  @extend %ui-management-detail;

  .bar-header-details {
    .content-detail-title,
    .content-detail-status {
      flex-grow: 1;
      font-size: 27px;
    }
  }
}