.page-drivers-list {
  @extend %ui-page;

  $titlebar-height-android: 44px;
  $titlebar-height-ios:     64px;

  $subheader-search-header-height: 44px;
  $subheader-list-header-height:   30px;

  /**
   * Headers
  **/
  .infinte-list-header-with-icon,
  .widget-infinite-list .item.item-icon-right .item-content {
    padding-right: 60px;
  }

  .search-header {
    background-color: #e2e3e4;

    form {
      width: 100%;
    }

    .item-input-wrapper {
      background-color: #fff;

      .placeholder-icon {
        color: #888;
      }

      input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #888;
      }
      input::-moz-placeholder { /* Firefox 19+ */
        color: #888;
      }
      input:-ms-input-placeholder { /* IE 10+ */
        color: #888;
      }
      input:-moz-placeholder { /* Firefox 18- */
        color: #888;
      }
    }
  }

  .infinte-list-empty {
    align-items:     center;
    justify-content: center;
    font-style: italic;
  }

  .infinte-list-header-with-icon {
    height: 30px;
    color:            #fff;
    background-color: #7f7f7f;

    .content-name,
    .content-driver-id {
      font-family: 'open_sanssemibold';
    }
    .content-name {
      @include flex-grow(10);
    }
  }

  .item-divider {
    border: none;

    &.active     { background-color: #008b00; }
    &.terminated { background-color: #f00000; }
  }

  /**
   * Platform heading & content layout
  **/
  .platform-android.platform-cordova:not(.fullscreen) & {
    .infinte-list-empty,
    .infinte-list-header-with-icon {
      top: $titlebar-height-android + $subheader-search-header-height;
    }

    .has-subheader {
      top: $titlebar-height-android + $subheader-search-header-height + $subheader-list-header-height; //74px;
    }
  }
  .platform-ios.platform-cordova:not(.fullscreen) & {
    .infinte-list-empty,
    .infinte-list-header-with-icon {
      top: $titlebar-height-ios + $subheader-search-header-height;
    }

    .has-subheader {
      top: $titlebar-height-ios + $subheader-search-header-height + $subheader-list-header-height; //94px;
    }
  }

  /**
   * List
  **/
  .widget-infinite-list .item {
    border-top: none;

    .item-content {
      text-transform: capitalize;
    }
  }
}
