.page-landing {
  @extend .ui-page;

  section {
    margin-bottom: 10px;
  }

  sup {
    top: -.2em;
    margin-left: 1px;
  }

  .item {
    .badge {
      color: #888;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .company-details {
    .card {
      display: table;
      width: 100%;
      border-collapse: collapse;

      .card-detail, .logo {
        display: table-cell;
        padding: 10px 13px;
      }

      .logo {
        padding-left: 0;
        text-align: right;
        vertical-align: middle;
        width: 35%;
      }

      .item {
        padding: 0;
      }
    }

    .company-name,
    .account-number {
      margin-bottom: 0;
      @extend .color-gray-dark;
    }
    .company-name {
      @extend .text-lg;
    }
    .account-number {
      @extend .text-sm;
    }
  }

  .account-overview {

    [wex-cache] {
      min-height: 15vh;
    }

    .item {
      @extend .text-sm;
      @extend .color-gray;

      &.item-text-wrap {
        text-align: center;
      }
    }
    .item-currency {
      float: right;
      @extend .color-gray-dark;
    }

    .list {
      opacity: 0;
      animation:         linksFade 2s 1 forwards;
      -webkit-animation: linksFade 2s 1 forwards;

      .item:not(:first-of-type) {
        border-top: 1px solid #e4e4e4;
      }
    }

    .balance-current {
      font-family: 'open_sanssemibold';

      .item-currency {
        @extend .text-xxl;
        font-family: 'open_sansregular';
      }
    }
    .balance-statement .item-currency {
      @extend .text-lg;
    }

    .chart-wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;

      .labels,
      .chart {
        flex: 1;
      }
      .labels {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;

        .label {
          position: relative;
          padding: 15px 25px;
          opacity: 0;
          animation:         chartSlideFade 2s 1 forwards;
          -webkit-animation: chartSlideFade 2s 1 forwards;

          &:nth-of-type(2) {
            animation-delay:         .75s;
            -webkit-animation-delay: .75s;
          }

          &:nth-of-type(3) {
            animation-delay:         1.5s;
            -webkit-animation-delay: 1.5s;
          }

          .text-amount,
          .text-title {
            line-height: normal;
          }
          .text-amount {
            @extend .text-md;
            @extend .color-gray-dark;
          }
          .text-title {
            @extend .color-gray;
          }

          &:before {
            position: absolute;
            display: block;
            top:  calc(50% - 5px);
            left: 10px;
            width:  10px;
            height: 10px;
            font-size: 10px;
            font-family: 'FontAwesome';
            content: "\f111";
          }
        }

        &:first-of-type {
          order: 2;
        }

        &:last-of-type {
          order: 3;
        }
      }
      .chart {
        order: 1;
        text-align: center;
      }

      @media (min-width: 375px) {
        flex-direction: row;

        .labels {
          flex-direction: column;

          &:first-of-type {
            order: 1;
            text-align: right;

            .label:before {
              left:  auto;
              right: 10px;
            }
          }

          &:first-of-type,
          &:last-of-type {
            padding: 15px;
          }

          &:first-of-type .label {
            padding-right: 25px;
            padding-left: 0;
          }

          &:last-of-type .label {
            padding-left: 25px;
            padding-right: 0;
          }
        }
        .chart {
          order: 2;
        }
      }
    }
  }
}


/**
 * Animation
**/
@keyframes chartSlideFade {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes chartSlideFade {
  0% {
   -webkit-transform: translateY(25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes linksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes linksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
