.page-login {

  $color-primary:   #3a97b5;
  $color-white:     #fff;
  $color-black:     #000;
  $color-dark-gray: #444;

  /**
   * Alerts
  **/
  [notification-bar-class=has-header] {
    top: 0 !important; // override until we refactor alerts priority
  }

  .alerts-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 12px;
    line-height: normal;

    .platform-ios & {
      top: 25px;
    }

    .bar {
      position: relative;

      &.bar-notification .title-container h1[fittext] {
        font-size: 12px !important;
        line-height: normal;
      }
    }
    .card.card-error {
      margin: 0;
    }
  }

  /**
   * Content
  **/
  .scroll-content {
    padding-left:  16px;
    padding-right: 16px;
    background: $color-white url('../img/pages/login/background-street.jpg') no-repeat;
    background-size: 100%;
    font-family: 'open_sansregular';

    @media (min-width: 321px) {
      padding-left:  30px;
      padding-right: 30px;
    }

    .title-bar {
      padding-top: 100px;
      text-align: center;

      img {
        max-width: 80%;
      }
    }

    form {
      position: relative;
      top: 0;
      margin-top: 60px;
      padding: 5px 16px;
      background-color: #eee;

      @media (min-height: 640px) {
        margin-top: 130px;
        padding: 16px;
      }

      -webkit-transition: top .2s ease-in-out;
      transition:         top .2s ease-in-out;

      &.is-active {
        top: -65px;

        @media (min-height: 640px) {
          top: -80px;
        }
      }

      &:after {
        position: absolute;
        bottom: 2px;
        left:   5px;
        width:  calc(100% - 10px);
        height: 1px;
        box-shadow: 0 2px 3px rgba(0,0,0,.4);
        content: "";
      }
    }

    .widget-wex-advanced-input {
      i.ion-close-circled {
        font-size: 20px;
        color: #7f7f7f;
      }
    }

    .login-controls {
      padding: 0;

      .col {
        padding-top:    0;
        padding-bottom: 0;

        @media (min-height: 640px) {
          padding-top:    5px;
          padding-bottom: 5px;
        }

        &:first-of-type {
          padding-left: 0;
        }
      }
    }

    .touch-id-indicator {
      display: flex;
      align-items: center;
      width:  100%;
      height: 100%;
      text-align: right;
      color: $color-dark-gray;

      &:after {
        flex: 1;
        font-family: "Ionicons2";
        font-size:   30px;
        line-height: 30px;
        color: $color-primary;
        content: "\f17c";
      }
      p.text-touchid {
        flex: 3;
        margin: 0;
      }
    }

    .list {
      margin-bottom: 10px;

      @media (min-height: 640px) {
        margin-bottom: 20px;
      }
    }

    .item-checkbox {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      overflow: visible;
      padding: 0;
      height: 100%;
      border-color:     transparent;
      background-color: transparent;

      .checkbox,
      .item-content {
        flex: 1;
      }
      .checkbox {
        position: static;
        margin:  0;
        padding: 0;
      }
      .item-content {
        text-overflow: initial;
        white-space:   initial;
        font-size: 10px;
        color: $color-dark-gray;

        @media (min-height: 640px) {
          font-size: 13px;
        }
      }

      i.checkbox-icon {
        opacity: .4;

        &,
        &:before {
          width:  16px;
          height: 16px;
        }
        &:before {
          margin: 0;
          border-radius: 2px;
          border-color:     $color-black;
          background-color: transparent;
        }
        &:after {
          opacity: 1;
          transform: rotate(0deg);
          top:  2px;
          left: 2px;
          border: none;
          line-height: normal;
          font-family: 'FontAwesome';
          font-size: 13px;
        }
        .platform-ios &:after {
          top: 1px;
        }
      }

      input:checked + i.checkbox-icon {
        opacity: 1;

        &:before {
          border-color:     $color-primary;
          background-color: $color-primary;
        }
        &:after {
          color: $color-white;
          content: "ï€Œ";
        }
      }
    }
    .checkbox-remember-me {
      .item-checkbox .item-content {
        flex: 2;
      }
    }
    .checkbox-touch-id {
      display: flex;
      align-items: center;
    }

    .item-input input,
    .masked-field {
      color: #333;
      font-family: 'open_sansbold';
    }
    .masked-field {
      padding-top:    2px;
      padding-bottom: 3px;
      font-size: 14px;
      line-height: 29px;
    }
    .item-input {
      padding: 0;
      border-width: 0 0 1px;
      border-color: #b9b9b9;

      @media (min-height: 640px) {
        padding: 6px 0 5px;
      }

      input {
        padding-top:    0;
        padding-bottom: 0;
        background-color: transparent;

        @media (min-height: 640px) {
          padding-top:    2px;
          padding-bottom: 3px;
        }
      }
    }

    .actions {
      .button-primary {
        color:            $color-white;
        background-color: $color-primary;
      }
    }

    .button-positive {
      color: $color-primary;
    }
  }

}
