.page-login {

  $color-primary:   #3a97b5;
  $color-white:     #fff;
  $color-black:     #000;
  $color-dark-gray: #444;

  $checkbox-size: 16px;

  $small-device: 480px;

  /**
   * Alerts
  **/
  .alerts-wrapper {
    position: absolute;
    width: 100%;

    .bar {
      position: relative;
    }

    @media (max-height: $small-device) {
      @at-root .keyboard-open & {
        display: none;
      }
    }
  }
  .message-session-timeout {
    .title-container h1 {
      font-size: 12px !important;
    }
  }

  /**
   * Content
  **/
  .scroll-content {
    $scroll-offset: $wex-notification-bar-height;
    $scroll-offset-statusbar-ios: $ios-statusbar-height;
    $scroll-offset-ios: $scroll-offset + $scroll-offset-statusbar-ios;

    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-end);

    padding-top: $scroll-offset;
    padding-left:  16px;
    padding-right: 16px;
    background: $color-white url('../img/pages/login/background-street.jpg') no-repeat;
    background-size: 100%;
    font-family: 'open_sansregular';

    @at-root .platform-ios & {
      padding-top: $scroll-offset-ios;
    }

    &.has-header, &.has-subheader {
      top: 0;
    }

    &.keyboard-open {
      @media (max-height: $small-device) {
        padding-top: 0;

        @at-root .platform-ios & {
          padding-top: $scroll-offset-statusbar-ios;
        }
      }
    }

    #title-heading-bar {
      @include flex-grow(1);

      background: no-repeat center top url("../img/pages/login/logo.png");
      background-size: contain;

      width: 70%;
    }

    #login-content {
      @include flex-shrink(0);

      height: 42%;
      width: 100%;
      max-width: 20rem;
      max-height: 20rem;
    }

    form {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);

      height: 95%;
      padding: 8px 16px;
      background-color: #eee;
      margin-bottom: -8px;

      &:after {
        position: absolute;
        bottom: 2px;
        left:   5px;
        width:  calc(100% - 10px);
        height: 1px;
        box-shadow: 0 2px 3px rgba(0,0,0,.4);
        content: "";
      }

      .login-controls {
        @include flexbox();
        @include align-items(center);

        padding: 0;
      }

      .justify-left, .justify-right, .fingerprint-indicator {
        @include flexbox();
        @include align-items(center);

        width: 50%;
      }

      .justify-left {
        @include justify-content(flex-start);
        @include order(0);
      }

      .justify-right {
        @include justify-content(flex-end);
        @include order(1);
      }
    }

    .fingerprint-indicator {
      color: $color-dark-gray;

      &:after {
        font-size:   34px;
        line-height: 34px;
        padding-left: $checkbox-size;
        color: $color-primary;
      }
    }

    .list-input, .login-controls {
      margin-bottom: 8px;
    }

    .list-input {
      $num-items: 2;
      height: 40%;

      & > .item {
        height: 100% / $num-items;
      }
    }

    .item-checkbox {
      overflow: visible;
      padding: 0;
      border-color:     transparent;
      background-color: transparent;

      .checkbox {
        @include order(1);

        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin:  0;
        padding: 0 0 0 $checkbox-size;
      }

      .item-content {
        @include order(0);

        text-overflow: initial;
        white-space: pre;
        text-align: left;
        color: $color-dark-gray;
        font-size: .9em;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
      }

      i.checkbox-icon {
        opacity: .4;

        &,
        &:before {
          width:  $checkbox-size;
          height: $checkbox-size;
        }
        &:before {
          margin: 0;
          border-radius: 2px;
          border-color:     $color-black;
          background-color: transparent;
        }
        &:after {
          opacity: 1;
          transform: rotate(0deg);
          top:  0;
          left: 0;
          border: none;
          line-height: normal;
          font-family: 'FontAwesome';
          font-size: $checkbox-size;
        }
      }

      input:checked + i.checkbox-icon {
        opacity: 1;

        &:before {
          border-color:     $color-primary;
          background-color: $color-primary;
        }
        &:after {
          color: $color-white;
          content: "ï€Œ";
        }
      }
    }

    .item-input {
      padding: 4px 0;
      border-width: 0 0 1px;
      border-color: #b9b9b9;

      input {
        height: 100%;
        color: #333;
        font-family: 'open_sansbold';
        background-color: transparent;
        padding: 0;

        &.xclear {
          padding-right: 2em;
          background: url("../img/x-circle.svg") center right no-repeat;
        }
      }

      input[disabled][name=userName] {
        -webkit-text-fill-color: #333;
        -webkit-user-select: none;
        user-select: none;
        opacity: 1.0;
      }
    }

    .actions {
      .button-primary {
        color: $color-white;
        background-color: $color-primary;

        &[disabled] {
          opacity: .7;
        }

        @media (max-height: $small-device) {
          margin: 0;
        }
      }
    }

    .button-positive {
      color: $color-primary;
    }

    #enrollment-link {
      width: 100%;
      height: 5%;

      @at-root .keyboard-open & {
        visibility: hidden;
      }
    }

    #keyboard-spacer {
      @include flex-shrink(0);

      width: 100%;
      height: 0;
      min-height: 15%;
      transition: height .2s ease-in-out;
    }
  }

  /* overrides ionic's .item font-size and margin to fix inheritance discrepencies */
  .item {
    font-size: inherit;
    margin: 0;
  }
}
