.page-login {

  $color-primary:   #3a97b5;
  $color-white:     #fff;
  $color-black:     #000;
  $color-dark-gray: #444;

  $checkbox-size: 16px;

  /**
   * Alerts
  **/
  .alerts-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 12px;
    line-height: normal;

    .platform-ios & {
      top: 25px;
    }

    .bar {
      position: relative;
    }
  }

  /**
   * Content
  **/
  .scroll-content {
    padding-left:  16px;
    padding-right: 16px;
    background: $color-white url('../img/pages/login/background-street.jpg') no-repeat;
    background-size: 100%;
    font-family: 'open_sansregular';

    @media (min-width: 321px) {
      padding-left:  30px;
      padding-right: 30px;
    }

    &.has-header, &.has-subheader {
      top: 0;
    }

    .title-bar {
      padding-top: 100px;
      text-align: center;

      img {
        max-width: 80%;
      }
    }

    form {
      position: relative;
      top: 0;
      margin-top: 60px;
      padding: 5px 16px;
      background-color: #eee;

      @media (min-height: 640px) {
        margin-top: 130px;
        padding: 16px;
      }

      -webkit-transition: top .2s ease-in-out;
      transition:         top .2s ease-in-out;

      .keyboard-open & {
        top: -65px;

        @media (min-height: 640px) {
          top: -80px;
        }
      }

      &:after {
        position: absolute;
        bottom: 2px;
        left:   5px;
        width:  calc(100% - 10px);
        height: 1px;
        box-shadow: 0 2px 3px rgba(0,0,0,.4);
        content: "";
      }

      i.ion-close-circled {
        position: absolute;
        top:   calc(50% - 9px);
        right: 0px;
        font-size: 20px;
        color: #7f7f7f;
      }
    }

    .login-controls {
      padding: 0;
      display: flex;
      align-items: center;
    }

    .justify-left, .justify-right, .fingerprint-indicator {
      display: flex;
      width: 50%;
      align-items: center;
    }

    .justify-left {
      justify-content: flex-start;
      order: 0;
    }

    .justify-right {
      justify-content: flex-end;
      order: 1;
    }

    .fingerprint-indicator {
      color: $color-dark-gray;

      &:after {
        font-size:   34px;
        line-height: 34px;
        padding-left: $checkbox-size;
        color: $color-primary;
      }
    }

    .list, .login-controls {
      margin-bottom: 8px;

      @media (min-height: 640px) {
        margin-bottom: 12px;
      }
    }

    .item-checkbox {
      overflow: visible;
      padding: 0;
      border-color:     transparent;
      background-color: transparent;

      .checkbox {
        order: 1;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin:  0;
        padding: 0 0 0 $checkbox-size;
      }

      .item-content {
        order: 0;
        text-overflow: initial;
        white-space:   initial;
        text-align: left;
        color: $color-dark-gray;
        font-size: .9em;
        width: -webkit-min-content;
      }

      i.checkbox-icon {
        opacity: .4;

        &,
        &:before {
          width:  $checkbox-size;
          height: $checkbox-size;
        }
        &:before {
          margin: 0;
          border-radius: 2px;
          border-color:     $color-black;
          background-color: transparent;
        }
        &:after {
          opacity: 1;
          transform: rotate(0deg);
          top:  0;
          left: 0;
          border: none;
          line-height: normal;
          font-family: 'FontAwesome';
          font-size: $checkbox-size;
        }
      }

      input:checked + i.checkbox-icon {
        opacity: 1;

        &:before {
          border-color:     $color-primary;
          background-color: $color-primary;
        }
        &:after {
          color: $color-white;
          content: "ï€Œ";
        }
      }
    }

    .item-input {
      padding: 0;
      border-width: 0 0 1px;
      border-color: #b9b9b9;

      @media (min-height: 640px) {
        padding: 6px 0 5px;
      }

      input {
        color: #333;
        font-family: 'open_sansbold';
        padding-top:    0;
        padding-bottom: 0;
        background-color: transparent;

        @media (min-height: 640px) {
          padding-top:    2px;
          padding-bottom: 3px;
        }
      }

      input[disabled][name=userName] {
        -webkit-text-fill-color: #333;
        -webkit-user-select: none;
        user-select: none;
        opacity: 1.0;
      }
    }

    .actions {
      .button-primary {
        color:            $color-white;
        background-color: $color-primary;
      }
    }

    .button-positive {
      color: $color-primary;
    }
  }

  /* overrides ionic's .item font-size to fix inheritance discrepencies */
  .item {
    font-size: inherit;
  }
}

/* fix for FF's lack of min-content support */
@-moz-document url-prefix() {
  .item-checkbox .item-content {
    width: -moz-min-content;
  }
}