.page-payments-list {
  @extend %ui-page;

  .collapsible-item {
    &.open .body {
      overflow: visible;
    }
    &.items-completed .body .content {
      padding: 0;
    }
  }

  wex-payment-list-item {
    display: block;
  }

}
