.page-privacy {
  ol, ul {
    margin: 0 30px 15px;
    list-style-type: disc;
  }
  h5 {
    color: #000;
    font-weight: 700;
    line-height: 1.2;
  }
  em {
    font-style: italic;
  }
  .copyright {
    padding-top: 4em;
  }
}
