<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wex.wol.AccountMaintenance"
    version="1.1.2" android-versionCode="1" ios-CFBundleVersion="1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">

    <name>WEXonline</name>

    <description>
        Account Maintenance for Classic and WOL NP customers.
    </description>

    <author email="MobileDevelopment@wexinc.com" href="http://www.wexinc.com">
        WEX Mobile Development Team
    </author>

    <content src="index.html" />

    <!-- Cross Platform preferences -->
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="false" />

    <!-- Android specific preferences -->
    <platform name="android">
        <preference name="ErrorUrl" value="error.html" />
        <preference name="LoadUrlTimeoutValue" value="18000" />
        <preference name="KeepRunning" value="false" />
        <preference name="SplashScreen" value="splash" />
        <preference name="SplashScreenDelay" value="20000" />
    </platform>

    <!-- iOS specific preferences -->
    <platform name="ios">
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>

    <!-- <access origin="*" /> --><!-- FOR DEV ONLY -->
    <access origin="*.wexmobile.com"/> <!-- Web Services domain -->

</widget>
