<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wex.wol.accountmaintenance"
    version="1.1.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">

    <name>WEXonline</name>

    <description>
        Account Maintenance for Classic and WOL NP customers.
    </description>

    <author email="MobileDevelopment@wexinc.com" href="http://www.wexinc.com">
        WEX Mobile Development Team
    </author>

    <content src="index.html" />

    <!-- Cross Platform preferences -->
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="false" />

    <!-- TODO: these may be for PhoneGap Build and may be able to be removed -->
    <preference name="android-installLocation" value="auto" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="permissions" value="none" />
    <preference name="prerendered-icon" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="true" />

    <!-- Android specific preferences -->
    <preference name="ErrorUrl" value="error.html" />
    <preference name="LoadUrlTimeoutValue" value="18000" />
    <preference name="KeepRunning" value="false" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="20000" />

    <!-- iOS specific preferences -->
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />

    <access origin="*" /><!-- FOR DEV ONLY -->
    <access origin="*.wexmobile.com"/> <!-- Web Services domain -->

</widget>
