<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Content-Security-Policy" content="@@@STRING_REPLACE_CSP@@@">
        <title></title>

        <!-- bower:css -->
        <link rel="stylesheet" href="lib/ionic/release/css/ionic.css" />
        <link rel="stylesheet" href="lib/ionic-datepicker-widget/dist/ionic-datepicker.css" />
        <!-- endbower -->

        <!-- compiled css output -->
        <!-- inject:css -->
        <link rel="stylesheet" href="css/acctmaint.app.min.css">
        <!-- endinject -->
    </head>
    <body ng-app="app">

    <ion-side-menus enable-menu-with-back-views="true">
        <ion-side-menu-content drag-content="false">
            <!--
            The nav bar that will be updated as we navigate between views.
            -->
            <ion-nav-bar class="bar-wex" ng-controller="NavBarController as vm" ng-cloak>
                <ion-nav-back-button>
                </ion-nav-back-button>

                <ion-nav-buttons side="right">
                    <button menu-toggle="right"
                            class="button button-clear button-menu"
                            data-text="{{vm.config.menuButtonText}}">
                    </button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <div ng-controller="NetworkStatusBannerController as networkStatus">
                <wex-notification-bar class="network-status-banner"
                                      text="{{networkStatus.bannerText}}"
                                      ng-if="!networkStatus.isOnline">
                </wex-notification-bar>

                <div ng-controller="ServerConnectionErrorBannerController as serverConnection">
                    <wex-notification-bar class="sever-connection-banner"
                                          text="{{serverConnection.bannerText}}"
                                          ng-if="networkStatus.isOnline && !serverConnection.isConnected"
                                          closeable="true">
                    </wex-notification-bar>
                </div>
            </div>

            <!--
            The views will be rendered in the <ion-nav-view> directive below
            -->
            <ion-nav-view class="nav-view-root"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="right" ng-controller="MenuController as vm">
            <ng-include src="'app/components/menu/templates/menu.html'"></ng-include>
        </ion-side-menu>
    </ion-side-menus>

        <!-- libraries -->

        <!-- Note: ngCordova must go after ionic and before cordova -->
        <!-- bower:js -->
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-animate/angular-animate.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="lib/ionic/release/js/ionic.js"></script>
        <script src="lib/ionic/release/js/ionic-angular.js"></script>
        <script src="lib/lodash/lodash.js"></script>
        <script src="lib/restangular/dist/restangular.js"></script>
        <script src="lib/angular-base64/angular-base64.js"></script>
        <script src="lib/ngCordova/dist/ng-cordova.js"></script>
        <script src="lib/ngFitText/src/ng-FitText.js"></script>
        <script src="lib/moment/moment.js"></script>
        <script src="lib/angular-moment/angular-moment.js"></script>
        <script src="lib/ionic-datepicker-widget/dist/ionic-datepicker.min.js"></script>
        <!-- endbower -->

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- inject:js -->
        <script src="app/shared/network/auth/auth.module.js"></script>
        <script src="app/shared/network/auth/authorizationHeaderRequestInterceptor.service.js"></script>
        <script src="app/shared/network/auth/authenticationResource.service.js"></script>
        <script src="app/shared/network/auth/authenticationManager.service.js"></script>
        <script src="app/shared/network/auth/authenticationErrorInterceptor.service.js"></script>
        <script src="app/shared/network/api/api.module.js"></script>
        <script src="app/shared/network/api/secureApiRestangular.service.js"></script>
        <script src="app/shared/network/api/authApiRestangular.service.js"></script>
        <script src="app/shared/network/api/accountMaintenanceRestangular.service.js"></script>
        <script src="app/components/user/auth/auth.module.js"></script>
        <script src="app/components/user/auth/login.controller.js"></script>
        <script src="app/components/user/auth/auth.routes.js"></script>
        <script src="app/shared/widgets/widgets.module.js"></script>
        <script src="app/shared/widgets/wexVehicleId.directive.js"></script>
        <script src="app/shared/widgets/wexToolTip.directive.js"></script>
        <script src="app/shared/widgets/wexSubmit.directive.js"></script>
        <script src="app/shared/widgets/wexScalableImg.js"></script>
        <script src="app/shared/widgets/wexRequiredSubmit.directive.js"></script>
        <script src="app/shared/widgets/wexRequired.directive.js"></script>
    <script src="app/shared/widgets/wexPaymentAmount.filter.js"></script>
        <script src="app/shared/widgets/wexNumericInputField.directive.js"></script>
        <script src="app/shared/widgets/wexNotificationBar.directive.js"></script>
        <script src="app/shared/widgets/wexNoTransition.directive.js"></script>
        <script src="app/shared/widgets/wexMaxLength.directive.js"></script>
        <script src="app/shared/widgets/wexInteger.directive.js"></script>
        <script src="app/shared/widgets/wexFieldLabel.directive.js"></script>
        <script src="app/shared/widgets/wexFieldError.directive.js"></script>
        <script src="app/shared/widgets/wexCardSuffix.filter.js"></script>
        <script src="app/shared/widgets/wexCardSuffix.directive.js"></script>
        <script src="app/shared/widgets/wexAccountNumber.filter.js"></script>
        <script src="app/shared/widgets/validateEmail.directive.js"></script>
        <script src="app/shared/storage/storage.module.js"></script>
        <script src="app/shared/storage/localstorage.service.js"></script>
        <script src="app/shared/network/network.module.js"></script>
        <script src="app/shared/network/serverConnectionErrorBanner.controller.js"></script>
        <script src="app/shared/network/networkStatusBanner.controller.js"></script>
        <script src="app/shared/network/network.config.js"></script>
        <script src="app/shared/network/httpResponseReporterInterceptor.service.js"></script>
        <script src="app/shared/network/formEncoder.service.js"></script>
        <script src="app/shared/network/dataExtractorResponseInterceptor.service.js"></script>
        <script src="app/shared/logger/logger.module.js"></script>
        <script src="app/shared/logger/logger.service.js"></script>
        <script src="app/shared/integration/integration.module.js"></script>
        <script src="app/shared/integration/toast.service.js"></script>
        <script src="app/shared/integration/lodash.service.js"></script>
        <script src="app/shared/dependencies/dependencies.module.js"></script>
        <script src="app/shared/core/core.module.js"></script>
        <script src="app/shared/core/constants.js"></script>
        <script src="app/shared/core/common.service.js"></script>
        <script src="app/components/user/user.module.js"></script>
        <script src="app/components/user/usersResource.service.js"></script>
        <script src="app/components/user/userModel.service.js"></script>
        <script src="app/components/user/userManager.service.js"></script>
        <script src="app/components/user/user.routes.js"></script>
        <script src="app/components/payment/payment.module.js"></script>
        <script src="app/components/payment/paymentsResource.service.js"></script>
        <script src="app/components/payment/paymentSummary.controller.js"></script>
        <script src="app/components/payment/paymentModel.service.js"></script>
        <script src="app/components/payment/paymentManager.service.js"></script>
        <script src="app/components/payment/paymentConfirmation.controller.js"></script>
    <script src="app/components/payment/paymentAmountInput.controller.js"></script>
        <script src="app/components/payment/paymentAddAvailabilityModel.service.js"></script>
        <script src="app/components/payment/paymentAdd.controller.js"></script>
        <script src="app/components/payment/payment.service.js"></script>
        <script src="app/components/payment/payment.routes.js"></script>
    <script src="app/components/navBar/navBar.module.js"></script>
    <script src="app/components/navBar/navBar.controller.js"></script>
    <script src="app/components/menu/menu.module.js"></script>
    <script src="app/components/menu/menu.controller.js"></script>
    <script src="app/components/landing/landing.module.js"></script>
    <script src="app/components/landing/landing.routes.js"></script>
    <script src="app/components/landing/landing.controller.js"></script>
        <script src="app/components/invoice/invoice.module.js"></script>
        <script src="app/components/invoice/invoicesResource.service.js"></script>
        <script src="app/components/invoice/invoiceSummaryModel.service.js"></script>
        <script src="app/components/invoice/invoiceManager.service.js"></script>
    <script src="app/components/core/core.module.js"></script>
    <script src="app/components/core/core.config.js"></script>
    <script src="app/components/core/constants.js"></script>
        <script src="app/components/bank/bank.module.js"></script>
        <script src="app/components/bank/banksResource.service.js"></script>
        <script src="app/components/bank/bankModel.service.js"></script>
        <script src="app/components/bank/bankManager.service.js"></script>
        <script src="app/components/account/account.module.js"></script>
        <script src="app/components/account/accountsResource.service.js"></script>
        <script src="app/components/account/accountModel.service.js"></script>
        <script src="app/shared/shared.module.js"></script>
        <script src="app/components/components.module.js"></script>
        <script src="app/app.module.js"></script>
        <!-- endinject -->
    </body>
</html>
