<ion-view view-title="{{::vm.config.title}}"
          class="contact-us-view"
          wex-hide-back-button="true"
          wex-back-state="landing">
    <ion-content>
        <div class="content item main-container">
            <p id="heading">
                <span class="black wordwrap">{{::vm.config.contentHeading}}</span>
            </p>
            <p id="content">
                <span class="black wordwrap">{{::vm.config.content}}</span>
            </p>
            <p id="button-area" class="align_center">
                <a class="button button-block button-submit button-width"
                   href="{{::vm.config.sendEmailLink}}">
                    <span id="sendEmail">{{::vm.config.sendEmailButton}}</span>
                </a>
            </p>
        </div>
    </ion-content>
</ion-view>>
