<ion-view view-title="{{::vm.config.title}}"
          wex-hide-back-button="true"
          wex-back-state="landing">
    <ion-content>
        <div class="padding">
            <p>
                {{::vm.config.contentHeading}}
            </p>
            <p>
                {{::vm.config.content}}
            </p>
            <p class="align_center">
                <a class="button button-block button-primary button-width"
                   href="{{vm.sendEmailLink}}">
                    <span id="sendEmail">{{::vm.config.sendEmailButton}}</span>
                </a>
            </p>
        </div>
    </ion-content>
</ion-view>
