// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
$fa-font-path: "../assets/fonts";

@import "ionic.globals";
@import "font-awesome";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:       #1390cf,
  secondary:     #00cc7a,
  success:       #e2fbe2,
  success-dark:  #67b067,
  warning:       #fdfba0,
  warning-dark:  rgb(129, 103, 53),
  danger:        #ffdfdf,
  danger-dark:   #a25050,
  light:         #424242,
  dark:          #222,

  white:       #fff,
  black:       #000,
  dark-gray:     #444,
  gray:        #7f7f7f,
  light-gray:    #f5f5f5,

  background-md:  #f8f8f8,
  background-ios: #eff1f4,

  wex-red:       #e51937,
  wex-warning:   #fe8808,
  alert:         #ff3b30,

  login:         #3a97b5,
  ion-toggle-ios:#4cd964,
  eggshell:      #eff2f4,
  tabs-selected: #088dd1,

  separator-md:  #f4f4f4,
  border:        #c8c7cc,
  light-border:  #dedede,

  light-header-text: rgba(#000, .65)
);

$text-input-ios-show-focus-highlight: false !default;
$text-input-md-show-focus-highlight: false !default;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$item-ios-detail-push-show: false;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$item-md-detail-push-show: false;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Theme Overrides
// --------------------------------------------------
// Any style overrides to the default theme should go in this file.

@import "theme";

@mixin page-background($color: white, $platform: default) {
  $platforms: (
    md:      ".md",
    ios:     ".ios",
    default: ""
  );

  @at-root .app-root#{map-get($platforms, $platform)} &.ion-page > ion-content {
    background: color($colors, $color);
  }
}
@mixin page-background-white {
  @include page-background();
}
@mixin page-background-gray {
  @include page-background(background-md, md);
  @include page-background(background-ios, ios);
}

.ios {
  @include page-background(background-ios, ios);
}


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
