// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
$fa-font-path: "../assets/fonts";

@import "ionic.globals";
@import "font-awesome";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

//# Tabs
ion-icon.tab-button-icon[aria-label*="fa"] {
  @extend .fa;
  font-size: 2.0rem; //scale down fa tab icons to be inline with ionicons
}



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:       #3A97B5,
  secondary:     #333,
  danger:        #f53d3d,
  light:         #424242,
  dark:          #222,

white:         #fff,
black:         #000,
  dark-gray:     #444,

  wex-red:       #e51937,

  login:         #3a97b5,
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

//# Tabs
ion-icon.icon-ios.tab-button-icon[aria-label*="fa"] {
  padding-top: 0.4rem;

  &[aria-label*="outline"] {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $tabs-tab-color-inactive;
  }
}

.ion-ios-fa-credit-card-alt,
.ion-ios-fa-credit-card-alt-outline {
  @extend .fa-credit-card-alt;
}

.ion-ios-fa-bank,
.ion-ios-fa-bank-outline {
  @extend .fa-bank;
}

.ion-ios-fa-exchange,
.ion-ios-fa-exchange-outline {
  @extend .fa-exchange;
}



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

//# Tabs
ion-icon.icon-md.tab-button-icon[aria-label*="fa"] {
  padding-bottom: 0.4rem;
}

.ion-md-fa-credit-card-alt {
  @extend .fa-credit-card-alt;
}

.ion-md-fa-bank {
  @extend .fa-bank;
}

.ion-md-fa-exchange {
  @extend .fa-exchange;
}



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
