<ion-view view-title="{{ ::vm.config.title }}"
          class="page-privacy"
          wex-hide-back-button="true"
          wex-back-state="landing">
    <ion-content>
        <div class="content padding">
            <h5 align="center">{{::vm.config.appName}}</h5>
            <h5 align="center">{{::vm.config.privacyNotice}}</h5>

          <h5 align="center">{{ ::vm.config.lastUpdated }} {{ ::vm.config.lastUpdatedDate | wexDefaultDateFormat }}</h5>

          <p ng-bind-html="vm.config.introduction"></p>

          <p>{{ ::vm.config.sectionOne.content }}</p>
          <ul><li ng-repeat="item in vm.config.sectionOne.items">{{ item.content }}</li></ul>

          <p ng-bind-html="vm.config.sectionTwo.content"></p>

          <p>{{ ::vm.config.sectionThree.content }}</p>
          <ul>
            <li><a ng-click="vm.scrollTo('#sectionFour')">{{ ::vm.config.sectionThree.link1 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionFive')">{{ ::vm.config.sectionThree.link2 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionSix')">{{ ::vm.config.sectionThree.link3 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionSeven')">{{ ::vm.config.sectionThree.link4 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionEight')">{{ ::vm.config.sectionThree.link5 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionNine')">{{ ::vm.config.sectionThree.link6 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionTen')">{{ ::vm.config.sectionThree.link7 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionEleven')">{{ ::vm.config.sectionThree.link8 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionTwelve')">{{ ::vm.config.sectionThree.link9 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionThirteen')">{{ ::vm.config.sectionThree.link12 }}</a></li>
            <li><a ng-click="vm.scrollTo('#sectionFourteen')">{{ ::vm.config.sectionThree.link13 }}</a></li>
          </ul>

          <section id="sectionFour">
            <p ng-bind-html="vm.config.sectionFour.content"></p>

            <ul>
              <li ng-repeat="parent in vm.config.sectionFour.items">
                <span ng-bind-html="parent.content"></span>

                <ul ng-repeat="child in parent.items">
                  <li ng-bind-html="child.content"></li>
                </ul>
              </li>
            </ul>
          </section>

          <section id="sectionFive">
            <h5>{{ ::vm.config.sectionFive.title }}</h5>

            <ul>
              <li ng-repeat="parent in vm.config.sectionFive.items">
                <span ng-bind-html="parent.content"></span>

                <ul ng-repeat="child in parent.items">
                  <li ng-bind-html="child.content"></li>
                </ul>
              </li>
            </ul>
          </section>

          <section id="sectionSix">
            <p ng-bind-html="vm.config.sectionSix.content"></p>

            <ul>
              <li ng-repeat="item in vm.config.sectionSix.items" ng-bind-html="item.content"></li>
            </ul>
          </section>

          <section id="sectionSeven">
            <h5  ng-bind-html="vm.config.sectionSeven.title"></h5>

            <ul>
              <li ng-repeat="item in vm.config.sectionSeven.items" ng-bind-html="item.content"></li>
            </ul>
          </section>

          <section id="sectionEight">
            <p>
              <span ng-bind-html="vm.config.sectionEight.content"></span>
              <a ng-click="vm.openUrl('https://www.google.com/policies/privacy/partners/')">{{ ::vm.config.sectionEight.hereText }}</a>.
            </p>
          </section>

          <section id="sectionNine">
            <p>
              <span ng-bind-html="vm.config.sectionNine.content"></span>
              <a ng-click="vm.openUrl('http://www.networkadvertising.org/choices/')">{{ ::vm.config.sectionNine.websiteNetworkAdvertising }}</a>
              {{ ::vm.config.sectionNine.andThe }}
              <a ng-click="vm.openUrl('http://www.aboutads.info/')">{{ ::vm.config.sectionNine.websiteDigitalAdvertising }}</a>
            </p>
          </section>

          <section id="sectionTen">
            <h5 ng-bind-html="vm.config.sectionTen.title"></h5>
            <p ng-repeat="item in vm.config.sectionTen.contents" ng-bind-html="item.content"></p>
          </section>

          <section id="sectionEleven">
            <p>
              <span ng-bind-html="vm.config.sectionEleven.content"></span>
              <span ng-bind-html="vm.config.sectionEleven.effectiveDateOfNotice"></span>
              {{ ::vm.config.lastUpdatedDate | wexDefaultDateFormat }}.
              <span ng-bind-html="vm.config.sectionEleven.content2"></span>
            </p>
          </section>

          <section id="sectionTwelve">
            <p ng-bind-html="vm.config.sectionTwelve.content"></p>
          </section>

          <section id="sectionThirteen">
            <p ng-bind-html="vm.config.sectionThirteen.content"></p>
          </section>

          <section id="sectionFourteen">
            <p ng-bind-html="vm.config.sectionFourteen.content"></p>

            {{ vm.config.sectionFourteen.byEmailLabel }}
            <a href="{{ vm.sendEmailLink }}">{{ vm.config.sectionFourteen.byEmailDisplay }}</a>
            <br><br>

            <div ng-repeat="item in vm.config.sectionFourteen.contents" ng-bind-html="item.content"></div>
          </section>

         <section id="sectionFifteen">
             <div class="copyright" ng-bind-html="vm.config.sectionFifteen.content"></div>
         </section>

        </div>
    </ion-content>
</ion-view>
