<ion-view class="card-reissue-form-view" hide-nav-bar="true">

    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button>
            </wex-back-button>
        </div>

        <h1 class="title">{{::vm.config.title}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="form-item">
            <span class="block_align black">{{::vm.config.shippingAddress}}</span>
            <div  class="right-padding float-right black">
                    <span class="wordwrap">{{vm.cardReissue.shippingAddress.firstName}} {{vm.cardReissue.shippingAddress.lastName}}</span>
                    <span class="wordwrap">{{vm.cardReissue.shippingAddress.companyName}}</span>
                    <span class="wordwrap">{{vm.cardReissue.shippingAddress.addressLine1}}</span>
                    <span ng-if="!!vm.cardReissue.shippingAddress.addressLine2" class="wordwrap">{{vm.cardReissue.shippingAddress.addressLine2}}</span>
                    <span class="wordwrap">{{vm.cardReissue.shippingAddress.city}}, {{vm.cardReissue.shippingAddress.state}} {{vm.cardReissue.shippingAddress.postalCode}}</span>

            </div>
        </div>

        <div class="form-item">
            <span class="block_align black">{{::vm.config.shippingMethod}}</span>
            <span ng-switch="vm.cardReissue.shippingMethods.length > 1">
                <div ng-switch-when="true"
                     ui-sref="card.reissue.shippingMethod({cardId: vm.cardReissue.card.cardId})">

                    <span class="active-link">{{vm.cardReissue.getShippingMethodDisplayName()}}</span>
                    <span class="button button-icon icon ion-ios-arrow-forward chevron_align"></span>
                </div>
                <div ng-switch-when="false">
                    <span class="right-padding ellipsis float-right">{{vm.cardReissue.getShippingMethodDisplayName()}}</span>
                </div>
            </span>
        </div>

        <div class="form-item">
            <span class="block_align black">{{::vm.config.reissueReason}}</span>
            <div>
                <span class="active-link">{{::vm.config.selectReissueReason}}</span>
                <span class="button button-icon icon ion-ios-arrow-forward chevron_align"></span>
            </div>
        </div>
        <br>

        <div class="padding">{{::vm.config.instructionalText}}</div>
        <div class="padding" ng-if="vm.cardReissue.shippingAddress.isPoBox()">{{::vm.config.poBoxText}}</div>

        <br>
        <div class="padding align_center">
            <button ng-disabled="!vm.isFormComplete()" class="button button-block button-submit button-width">
                {{::vm.config.submitButton}}
            </button>
        </div>
    </ion-content>
</ion-view>
