<ion-view class="card-list-view page-cards" view-title="{{::vm.config.title}}" wex-back-state="landing">
    <ion-header class="bar bar-subheader item-input-inset card-search-header">
        <form novalidate name="vm.searchFilterForm" ng-submit="vm.applySearchFilter()">
            <ion-input class="item-input-wrapper">
                <i class="icon icon-search placeholder-icon"></i>
                <input type="search" name="searchFilter" ng-model="vm.searchFilter" placeholder="{{::vm.config.searchPlaceholder}}">
            </ion-input>
        </form>
    </ion-header>

    <ion-content class="has-subheader">
        <ion-refresher class="wex-refresher" on-refresh="resetSearchResults()"></ion-refresher>

        <div class="row divider list-header"
             ng-if="vm.cards.collection.length > 0">
            <div class="col col-25">{{ ::vm.config.cardNumber }}</div>
            <div class="col col-50">{{ ::vm.config.embossing }}</div>
            <div class="col right-align">{{ ::vm.config.status }}</div>
        </div>

        <wex-infinite-list class="card-list"
                           is-pending="infiniteScrollService.isPending"
                           on-reload="loadNextPage"
                           loading-complete="infiniteScrollService.isLoadingComplete">

            <ion-item collection-repeat="card in vm.cards.collection" class="item item-icon-right">
                <a class="item-content" ui-sref="card.detail({ cardId: card.cardId })" wex-click>
                  <div ng-show="card.isGreekLoading">
                    <wex-ui-greeking item-height="15px">
                       <rect height="15" width="70" y="0" x="250"></rect>
                    </wex-ui-greeking>
                  </div>

                  <div ng-hide="card.isGreekLoading">
                    <div class="row">
                        <div class="col col-25 text-ellipsis">{{ card.embossedCardNumber | wexCardNumber }}</div>
                        <div class="col col-50">
                          <div class="text-ellipsis" ng-if="card.embossingValue2">{{ card.embossingValue2 }}</div>
                          <div class="text-ellipsis" ng-if="card.embossingValue1">{{ card.embossingValue1 }}</div>
                        </div>
                        <div class="col right-align">{{ card.getStatusDisplayName() }}</div>
                    </div>

                    <i class="icon fa fa-chevron-right"></i>
                  </div>
                </a>
            </ion-item>
        </wex-infinite-list>

        <div ng-show="infiniteScrollService.isLoadingComplete && vm.cards.collection.length == 0" class="no-cards">
          {{ ::vm.config.emptyList }}
        </div>
    </ion-content>
</ion-view>
