<ion-view class="card-list-view" view-title="{{::vm.config.title}}" wex-back-state="landing">
    <ion-header class="bar bar-subheader item-input-inset card-search-header">
        <form novalidate name="vm.searchFilterForm" ng-submit="vm.applySearchFilter()">
            <ion-input class="item-input-wrapper">
                <i class="icon icon-search placeholder-icon"></i>
                <input type="search" name="searchFilter" ng-model="vm.searchFilter" placeholder="{{::vm.config.searchPlaceholder}}">
            </ion-input>
        </form>
    </ion-header>
    <ion-content class="has-subheader">
        <ion-refresher class="wex-refresher" on-refresh="vm.resetSearchResults()"></ion-refresher>
        <div class="row divider list-header"
             ng-if="vm.cards.length > 0">
            <div class="col col-25">{{::vm.config.cardNumber}}</div>
            <div class="col col-35">{{::vm.config.embossing}}</div>
            <div class="col col-30 right-align">{{::vm.config.status}}</div>
            <div class="col col-10"></div>
        </div>
        <wex-infinite-list class="card-list"
                           on-reload="vm.loadNextPageWithOverlay"
                           reload-distance="::vm.config.reloadDistance"
                           loading-complete="vm.loadingComplete">
            <div class="row divider"
                 collection-repeat="card in vm.cards"
                 ui-sref="card.detail({cardId: card.cardId})">
                <div class="col col-25 ellipsis margin">{{card.embossedCardNumber | wexCardNumber}}</div>
                <div class="col col-35 ellipsis margin">{{card.embossingValue2}}<br>{{card.embossingValue1}}</div>
                <div class="col col-30 right-align margin">{{card.getStatusDisplayName()}}</div>
                <div class="col col-10">
                    <span class="button button-icon icon ion-ios-arrow-forward"
                          style="vertical-align:middle">
                    </span>
                </div>
            </div>
        </wex-infinite-list>
        <div ng-show="vm.loadingComplete && vm.cards.length <= 0" class="no-cards">{{::vm.config.emptyList}}</div>
    </ion-content>
</ion-view>
