<ion-view class="payment-bank-account-input-view" hide-nav-bar="true">

    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button>
            </wex-back-button>
        </div>

        <h1 class="title">Select Reissue Reason</h1>
    </ion-header-bar>

    <ion-content>
        <div class="padding">
            <a class="button button-block button-light">
                <span class="align_center active-link">Lost</span>
            </a>
            <a class="button button-block button-light">
                <span class="align_center active-link">Stolen</span>
            </a>
            <a class="button button-block button-light">
                <span class="align_center active-link">Damaged</span>
            </a>
        </div>
    </ion-content>
</ion-view>