<ion-view class="payment-bank-account-input-view" hide-nav-bar="true">

    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button>
            </wex-back-button>
        </div>

        <h1 class="title">Select Shipping Method</h1>
    </ion-header-bar>

    <ion-content>
        <div class="padding">
            <a class="button button-block button-light">
                <span class="align_center active-link">Regular</span>
            </a>
            <a class="button button-block button-light">
                <span class="align_center active-link">Regular $0.00</span>
            </a>
            <a class="button button-block button-light">
                <span class="align_center active-link">2 Day $14.00</span>
            </a>
            <a class="button button-block button-light">
                <span class="align_center active-link">Overnight $21.50</span>
            </a>
        </div>
    </ion-content>
</ion-view>