<ion-view class="payment-bank-account-input-view" hide-nav-bar="true">

    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button>
            </wex-back-button>
        </div>

        <h1 class="title">{{::vm.config.title}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="padding">
            <a class="button button-block button-light"
               ng-if="!vm.card.isActive()"
               ng-click="vm.promptStatusChange(vm.cardStatuses.ACTIVE)">
                <span class="align_center active-link">{{::vm.config.statuses.activate}}</span>
            </a>
            <a class="button button-block button-light"
               ng-if="!vm.card.isTerminated()"
               ng-click="vm.promptStatusChange(vm.cardStatuses.TERMINATED)">
                <span class="align_center active-link">{{::vm.config.statuses.terminate}}</span>
            </a>
        </div>
    </ion-content>
</ion-view>