<ion-view view-title="{{::vm.config.title}}">
    <ion-content class="padding inner-container">
        <div class="item item-divider inner-container" style="border:0px">
            <div class="padding item item-wrap arrow-align">
                <p class="padding divider">
                    <span class="block_align black">{{::vm.config.cardNumber}}</span>
                    <span class="content_align black">{{card.embossedCardNumber | wexCardNumber}}</span>
                </p>

                <p class="padding divider">
                    <span class="block_align black">{{::vm.config.embossing}}</span>
                    <span class="content_align black">{{card.embossingValue2}}</span>
                </p>

                <p class="padding divider">
                    <span class="block_align black">{{::vm.config.status}}</span>
                    <span class="content_align black wordwrap">{{card.getStatusDisplayName()}}</span>
                </p>
            </div>
            <br>
            <div>
                <button class="button button-block button-light item item-icon-right">
                    <i class="icon ion-chevron-right"></i>
                    <span class="btn_align black">{{::vm.config.changeStatusButton}}</span>
                </button>
                <button class="button button-block button-light item item-icon-right">
                    <i class="icon ion-chevron-right"></i>
                    <span class="btn_align black">{{::vm.config.reissueCardButton}}</span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>>
