<ion-view class="payment-bank-account-input-view" hide-nav-bar="true">

    <!-- Header bar -->
    <ion-header-bar class="bar bar-wex">
        <div class="buttons">
            <wex-back-button>
            </wex-back-button>
        </div>

        <h1 class="title">Change Status</h1>
    </ion-header-bar>

    <ion-content>
        <div class="bar bar-wex">
            <h1 class="title"> Card12345</h1>
        </div><br><br>
        <div class="padding">
            <a class="button button-block button-light">
                <span class="align_center active-link">Activate Card</span>
            </a>
            <a class="button button-block button-light">
                <span class="align_center active-link">Terminate Card</span>
            </a>
        </div>
    </ion-content>
</ion-view>