<ion-view view-title="Reissue Card" wex-back-state="{{::vm.backStateOverride}}">

    <ion-header-bar class="bar bar-subheader bar-wex" align-title="center">
        <h1 class="title">{{::vm.config.card}} {{vm.card.embossedCardNumber | wexCardNumber}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="payment-maintenance-form-item">
            <span class="block_align black">
               Shipping Address
            </span>
            <div>
                <span class="right-padding">
                    Joe Smith<br>
                    ACME Company<br>
                    123 Elm St<br>
                    Pittsburg, PA 15218
                </span>
            </div>
        </div>

        <div class="payment-maintenance-form-item">
            <span class="block_align black">
                Shipping Method
            </span>
            <div>
                <span class="active-link">
                    Regular $0.00
                </span>
                <span class="button button-icon icon ion-ios-arrow-forward chevron_align">
                </span>
            </div>
        </div>

        <div class="payment-maintenance-form-item">
            <span class="block_align black">
               Reason
            </span>
            <div>
                 <span class="active-link">
                    Select Reason
                </span>
                <span class="button button-icon icon ion-ios-arrow-forward chevron_align"></span>
            </div>
        </div>

        <br>
        <div class="padding align_center">
            <button class="button button-block button-submit button-width">
                    REISSUE CARD </button>
        </div>
    </ion-content>
</ion-view>
