<ion-header>
  <ion-navbar>
    <ion-title>{{ CONSTANTS.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card id="card-details">
    <ion-card-header>{{ CONSTANTS.details }}</ion-card-header>

    <div id="controls" *ngIf="!driver.details.shared">
      <h1 id="driver-name"> {{ fullName }} </h1>

      <button ion-button icon-left round large id="driver-status" [color]="statusColor + '-dark'" (click)="onChangeStatus()">
        <action-indicator [when]="isChangingStatus">
          <ion-icon [name]="statusIcon" [color]="statusColor"></ion-icon>
          {{ driver.statusDisplayName }}
        </action-indicator>
      </button>
    </div>

    <ion-card-content>
      <ion-list class="detail detail-list">
        <ion-item>
          <ion-label>
            <span class="property-name">{{ CONSTANTS.LABELS.promptId }}</span>
            <span text-wrap class="property-value">{{ driver.details.promptId }}</span>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="showCellPhoneNumber" (click)="contactDriver()">
          <ion-label>
            <span class="property-name">{{ CONSTANTS.LABELS.cellPhoneNumber }}</span>
            <span text-wrap class="property-value">{{ driver.details.cellPhoneNumber }}</span>
          </ion-label>
        </ion-item>
        <!-- Invisible elements which are clicked by the script in response to action sheet events. -->
        <a #sms hidden [href]="cleanPhone('sms:', driver.details.cellPhoneNumber)" ></a>
        <a #tel hidden [href]="cleanPhone('tel:', driver.details.cellPhoneNumber)" ></a>

        <ion-item *ngIf="showEmailAddress">
          <ion-label>
            <span class="property-name">{{ CONSTANTS.LABELS.emailAddress }}</span>
            <span text-wrap class="property-value">{{ driver.details.emailAddress }}</span>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card id="card-actions">
    <ion-card-header>{{ CONSTANTS.actions }}</ion-card-header>

    <ion-list id="action-list" padding>
      <button ion-button icon-left block (click)="onViewTransactions()">
        <ion-icon class="fa fa-exchange"></ion-icon>
        {{ CONSTANTS.viewTransactions }}
      </button>
    </ion-list>
  </ion-card>
</ion-content>
