%wex-list-item-content {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);

  & > * {
    @include flex-grow(1);
  }
}

wex-list-item {

  & .item .item-inner ion-label {
    @extend %wex-list-item-content;

    padding: 1rem 0;
  }

  //chevron icon
  & .wex-list-arrow {
    color: color($colors, primary);
  }

  &:not([active]) .wex-list-arrow {
    display: none;
  }
}
