%wex-list-item-content {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);

  > * {
    @include flex-basis(0);
    @include flex-grow(1);

    &[content-expand] {
      @include flex-grow(2);
    }
  }
}

wex-list-item {

  .item .item-inner ion-label {
    @extend %wex-list-item-content;

    padding: 1rem 0;
  }

  //chevron icon
  .wex-list-arrow {
    color: color($colors, primary);
  }

  &:not([data-active]), &[data-active=false] {

    .wex-list-arrow {
      display: none;
    }

    .item, .button-effect {
      background-color: color($colors, white) !important;
    }
  }
}
