wex-static-list-page-header {
  .ios & #static-list-toolbar {
    padding-top: 24px;
  }
  
  .md & {

    .toolbar .searchbar-md {
      padding: 0;
      background: none;

      .searchbar-input {
        box-shadow: none;
        background: transparent;
      }
    }
  }
}
