<ion-toolbar [hidden]="!page.searchLabel" id="static-list-toolbar">
  <ion-searchbar debounce="0"
                 [hidden]="page.searchHidden"
                 [placeholder]="page.searchLabel"
                 [(ngModel)]="page.searchFilter"
                 (ionBlur)="page.onSearchBlur()"
                 (keypress)="keyboardEvent = $event">
  </ion-searchbar>

  <ion-buttons *ngIf="!page.searchHidden && page.platform.isAndroid" left>
    <button ion-button icon-only (click)="page.onHideSearch()">
      <ion-icon md="md-arrow-back"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title *ngIf="page.searchHidden">
    {{ page.pageName }}
  </ion-title>

  <ion-buttons *ngIf="page.searchHidden" right>
    <button ion-button icon-only (click)="page.onShowSearch()">
      <ion-icon md="md-search"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>