{{#card}}
    <h2 class="ui-title">Card - Details</h2>

    <div class="ui-body ui-body-d">
        {{#id}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/id}}
        {{#customVehicleId}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/customVehicleId}}
        {{#vehicleDescription}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/vehicleDescription}}
        {{#licensePlateNumber}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/licensePlateNumber}}
        {{#licensePlateState}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/licensePlateState}}
        {{#department}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/department}}
        {{#status}}
            <p class="text-result"><strong>{{label}}:</strong>{{value}}</p>
        {{/status}}
    </div>

    {{#permissions.MOBILE_CARD_EDIT}}
        {{#editButton}}
            {{#visible}}
                <button id="submitEditCard-btn" class="ui-btn ui-btn-c ui-corner-all">{{label}}</button>
            {{/visible}}
        {{/editButton}}
        {{#terminateButton}}
            {{#visible}}
                <button id="submitTerminateCard-btn" class="ui-btn ui-btn-d ui-corner-all">{{label}}</button>
            {{/visible}}
        {{/terminateButton}}
    {{/permissions.MOBILE_CARD_EDIT}}
{{/card}}
