{{#card}}
    <a href="{{url.value}}"
       class="text-left ui-btn ui-btn-d ui-corner-all ui-icon-carat-r ui-btn-icon-right"
       data-ajax="false">
        {{#id}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/id}}
        {{#customVehicleId}}
            <p class="text-result-whitespace ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/customVehicleId}}
        {{#vehicleDescription}}
            <p class="text-result-whitespace ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/vehicleDescription}}
        {{#licensePlateNumber}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/licensePlateNumber}}
        {{#licensePlateState}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/licensePlateState}}
        {{#department}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/department}}
        {{#status}}
            <p class="text-result ui-li-desc"><strong>{{label}}:</strong>{{value}}</p>
        {{/status}}
    </a>
{{/card}}
