<h2 class="ui-title">Card - Search</h2>
<form id="cardSearchForm" class="ui-body ui-body-d">
    {{#id}}
        <div data-role="fieldcontain">
            <label for="id">{{label}}:</label>
            <input type="text" name="{{name}}" id="id" value="{{value}}" />
        </div>
    {{/id}}
    {{#customVehicleId}}
        <div data-role="fieldcontain">
            <label for="customVehicleId">{{label}}:</label>
            <input type="text" name="{{name}}" id="customVehicleId" value="{{value}}" />
        </div>
    {{/customVehicleId}}
    {{#licensePlateNumber}}
        <div data-role="fieldcontain">
            <label for="licensePlateNumber">{{label}}:</label>
            <input type="text" name="{{name}}" id="licensePlateNumber" value="{{value}}" />
        </div>
    {{/licensePlateNumber}}
    {{#status}}
        <div data-role="fieldcontain">
            <label for="status">{{label}}:</label>
            <select id="status" name="{{name}}">
                {{#values}}
                    <option value="{{id}}">{{name}}</option>
                {{/values}}
            </select>
        </div>
    {{/status}}
    {{#departmentId}}
        <div data-role="fieldcontain">
            <label for="departmentId">{{label}}:</label>
            <select id="departmentId" name="{{name}}" {{^enabled}} disabled=disabled {{/enabled}}>
                {{#values}}
                    <option value="{{id}}">{{name}}</option>
                {{/values}}
            </select>
        </div>
    {{/departmentId}}
</form>
{{#submitButton}}
    <button id="submitCardSearch-btn" class="ui-btn ui-btn-c ui-corner-all">{{label}}</button>
{{/submitButton}}
