<h2 class="ui-title">Card - Shipping Options</h2>

{{#shipping}}
    {{^ableToContinue}}
        {{#unableToContinueMessage}}
            <p>{{unableToContinueMessage}}</p>
        {{/unableToContinueMessage}}
    {{/ableToContinue}}

    {{#ableToContinue}}
        <form id="cardShippingForm" class="ui-body ui-body-d">
            {{#shippingMethod}}
                <div class="ui-field-contain">
                    <label for="shippingMethod">{{label}}:</label>
                    <select id="shippingMethod" name="{{name}}" {{^enabled}} disabled=disabled {{/enabled}}>
                        {{#values}}
                            <option value="{{id}}" {{#selected}} selected {{/selected}}>{{name}}</option>
                        {{/values}}
                    </select>
                    <div id="shippingWarning" class="ui-hidden">
                        <em><small>{{warning}}</small></em>
                    </div>
                </div>
            {{/shippingMethod}}

            <b>Shipping Address</b>

            {{#firstName}}
                <div class="ui-field-contain">
                    <label for="firstName">{{label}}:</label>
                    <input type="text"
                           name="{{name}}"
                           placeholder="{{placeholder}}"
                           id="firstName"
                           value="{{value}}"/>
                </div>
            {{/firstName}}

            {{#lastName}}
                <div class="ui-field-contain">
                    <label for="lastName">{{label}}:</label>
                    <input type="text"
                           name="{{name}}"
                           placeholder="{{placeholder}}"
                           id="lastName"
                           value="{{value}}" />
                </div>
            {{/lastName}}

            {{#companyName}}
                <div class="ui-field-contain">
                    <label for="companyName">{{label}}:</label>
                    <input type="text"
                           name="{{name}}"
                           placeholder="{{placeholder}}"
                           id="companyName"
                           value="{{value}}" />
                </div>
            {{/companyName}}

            {{#addressLine1}}
                <div class="ui-field-contain">
                    <label for="addressLine1">{{label}}:</label>
                    <input type="text"
                           name="{{name}}"
                           placeholder="{{placeholder}}"
                           id="addressLine1"
                           value="{{value}}" />
                </div>
            {{/addressLine1}}

            {{#addressLine2}}
                <div class="ui-field-contain">
                    <label for="addressLine2">{{label}}:</label>
                    <input type="text"
                           name="{{name}}"
                           placeholder="{{placeholder}}"
                           id="addressLine2"
                           value="{{value}}" />
                </div>
            {{/addressLine2}}

            {{#city}}
                <div class="ui-field-contain">
                    <label for="city">{{label}}:</label>
                    <input type="text"
                           name="{{name}}"
                           placeholder="{{placeholder}}"
                           id="city"
                           value="{{value}}" />
                </div>
            {{/city}}

            {{#state}}
                <div class="ui-field-contain">
                    <label for="state">{{label}}:</label>
                    <select id="state" name="{{name}}" {{^enabled}} disabled=disabled {{/enabled}}>
                        {{#values}}
                            <option value="{{id}}" {{#selected}} selected {{/selected}}>{{name}}</option>
                        {{/values}}
                    </select>
                </div>
            {{/state}}

            {{#postalCode}}
                <div class="ui-field-contain">
                    <label for="postalCode">{{label}}:</label>
                    <input type="text"
                           name="{{name}}"
                           placeholder="{{placeholder}}"
                           id="postalCode"
                           value="{{value}}" />
                </div>
            {{/postalCode}}

            {{#residence}}
                <div class="ui-field-contain">
                    <label>{{label}}</label>
                    <fieldset name="{{name}}" data-role="controlgroup" data-type="horizontal">
                        {{#values}}
                            <input type="radio" name="{{name}}" id="{{id}}" value="{{value}}" {{#selected}} checked='checked' {{/selected}} />
                            <label for="{{id}}">{{label}}</label>
                        {{/values}}
                    </fieldset>
                </div>
            {{/residence}}
        </form>

        {{#submitButton}}
            <button id="submitCardShipping-btn" class="ui-btn ui-btn-c ui-corner-all">{{label}}</button>
        {{/submitButton}}
    {{/ableToContinue}}
{{/shipping}}
