<form id="loginForm" action="#login" method="post" class="ui-body ui-body-d">
    {{#userName}}
    <div class="ui-field-contain">
        <label for="userName">{{label}}:</label>
        <input type="text" name="{{name}}" id="userName" />
    </div>
    {{/userName}}
    {{#password}}
    <div class="ui-field-contain">
        <label for="password">{{label}}:</label>
        <input type="password" name="{{name}}" id="password" />
    </div>
    {{/password}}
</form>
{{#submitButton}}
<button id="submitLogin-btn" class="ui-btn ui-btn-c ui-corner-all">{{label}}</button>
{{/submitButton}}