<form id="loginForm" action="#login" method="post" class="ui-body ui-body-d">
    {{#username}}
    <div data-role="fieldcontain" {{#required}}data-required{{/required}}>
        <label for="username">{{label}}:</label>
        <input type="text" name="{{name}}" id="username" />
    </div>
    {{/username}}
    {{#password}}
    <div data-role="fieldcontain" {{#required}}data-required{{/required}}>
        <label for="password">{{label}}:</label>
        <input type="password" name="{{name}}" id="password" />
    </div>
    {{/password}}
</form>
{{#submitButton}}
<button id="submitLogin-btn" data-role="button" data-theme="b">{{label}}</button>
{{/submitButton}}