<form id="loginForm" action="#login" method="post" class="ui-body ui-body-d">
    {{#userName}}
    <div data-role="fieldcontain">
        <label for="userName">{{label}}:</label>
        <input type="text" name="{{name}}" id="userName" />
    </div>
    {{/userName}}
    {{#password}}
    <div data-role="fieldcontain">
        <label for="password">{{label}}:</label>
        <input type="password" name="{{name}}" id="password" />
    </div>
    {{/password}}
</form>
{{#submitButton}}
<button id="submitLogin-btn" data-role="button" data-theme="c">{{label}}</button>
{{/submitButton}}