<ion-header>
  <ion-navbar>
    <ion-title>{{ CONSTANTS.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item-group [ngClass]="{ 'inset-items': platform.isIos }">
    <ion-item-divider *ngIf="fingerprintAuthAvailable">
      {{ CONSTANTS.settings }}
    </ion-item-divider>
    <ion-item *ngIf="fingerprintAuthAvailable">
      <ion-label>{{ platform.fingerprintTitle() }}</ion-label>
      <ion-toggle [color]="switchColor" 
                  name="enableFingerprintAuthToggle" 
                  [(ngModel)]="enableFingerprintAuthToggle"></ion-toggle>
    </ion-item>
    <ion-item-divider>
      {{ CONSTANTS.support }}
    </ion-item-divider>
    <button ion-item (click)="goToPage(pages.ContactUsPage)">
      <ion-label>{{ CONSTANTS.contactUs }}</ion-label>
      <ion-icon item-right ios="ios-arrow-forward"></ion-icon>
    </button>
    <ion-item-divider>
      {{ CONSTANTS.legal }}
    </ion-item-divider>
    <button ion-item (click)="goToPage(pages.TermsOfUsePage)">
      <ion-label>{{ CONSTANTS.termsOfUse }}</ion-label>
      <ion-icon item-right ios="ios-arrow-forward"></ion-icon>
    </button>
    <button ion-item (click)="goToPage(pages.PrivacyPolicyPage)">
        <ion-label>{{ CONSTANTS.privacyPolicy }}</ion-label>
        <ion-icon item-right ios="ios-arrow-forward"></ion-icon>
    </button>
    <ion-item-divider class="list-header-collapsed"></ion-item-divider>
    <button ion-item (click)="logout()">
      <ion-label>{{ CONSTANTS.logOut }}</ion-label>
      <ion-icon item-right ios="ios-arrow-forward"></ion-icon>
    </button>
  </ion-item-group>

</ion-content>
