options-page {
  @at-root .md & {
    &.ion-page > ion-content {
        background: color($colors, separator-md);
    }

    .list-header-md {
      margin-bottom: 0;
      font-weight: 500;
    }

    ion-item-group {
      border-bottom: $border-width solid color($colors, border);
    }
    
    ion-item .list-md .item-block .item-inner{
      border: none;
    }

    .list-md {
      .item-block .item-inner {
        border-bottom: none;
      }

      > .item-block:last-child {
        border-top: $border-width solid color($colors, border);
        padding-top: 15px;
      }
    }
  }

  @at-root .ios & {
    .ion-ios-arrow-forward:before {
      color: #d1d1d6 !important;
    }

    ion-item, [ion-item] {
      .label-ios {
        text-transform: capitalize;
      }
    }

    ion-list-header ion-label.label-ios {
      margin: 11px 8px 0 0;
      color: #6d6d72;
    }
  }
}
