modal-fingerprint-auth-terms {
  $button-padding: 1rem;

  
  @at-root .ios &.ion-page > ion-content {
      background: color($colors, white);
    }

  @at-root .ios & {
    ion-footer {
      @include flexbox();
      @include justify-content(space-between);

      button {
        min-width: calc(50% - #{$button-padding}) !important;
      }
    }
  }
  
  @at-root .md & {
    ion-footer {
      @include flexbox();
      @include justify-content(flex-end);

      .button {
        margin: .8rem;
      }
    }
  }
}