.detail-list ion-item .item-inner {

  @at-root .md & {
    padding-left: 0;
  }

  ion-label {

    @at-root .md & > .property-name {
      color: color($colors, dark-gray);
      font-size: 1.4rem;
      line-height: 1.58;
      display: block;
    }
  
    @at-root .ios & {
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(space-between);
  
      > * {
  
        &.property-name {
          text-align: left;
        }
    
        &.property-value {
          text-align: right;
          color: color($colors, gray);
        }
      }
    }
  }
}

wex-details-view {
  @extend .detail-list;
}
