.detail-list ion-item.item > .item-inner {
  ion-label {  
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
      > * {
        &.property-name {
        text-align: left;
        font-size: 1.6rem;
      }
    
      &.property-value {
        text-align: right;
        .ios & {
          color: color($colors, gray);
        } .md & {
          font-weight: 500;
        }
      }
    }
  }
}

wex-details-view {
  @extend .detail-list;
}
