wex-details-view {
  .detail-list ion-item ion-label {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);

    & > * {
      &.property-name {
        text-align: left;
        color: color($colors, dark-gray);
      }

      &.property-value {
        text-align: right;
      }
    }
  }
}
