wex-list-header {

  & ion-list-header.item.list-header {
    background-color: color($colors, primary);
    color: color($colors, white);
    font-size: $h6-font-size;
    font-weight: bold;

    @at-root ion-header > & {
      margin-bottom: 0;
    }

    & .item-inner {
      margin-right: 32px;

      ion-label {
        @extend %wex-list-item-content;
      }
    }
  }
}
