<div>
    <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-b title-bar" role="banner">
        <h1 class="ui-title" role="heading" aria-level="1">{{title}}</h1>
    </div>
    <div class="ui-logo"></div>
    {{#message}}
    <p>{{message}}</p>
    {{/message}}

    <div class="dialog-footer">
        <a href="#" class="updatePromptPrimary">{{primaryBtnLabel}}</a>
        {{#secondaryBtnLabel}}
        <a href="#" class="updatePromptSecondary">{{secondaryBtnLabel}}</a>
        {{/secondaryBtnLabel}}
    </div>
</div>