@import "../../styles/driver";

page-drivers {

  wex-list-header .field-driver.id {
    text-align: right;
  }

  [content-expand] {
    display: flex;

    .driver-icon {
      height: 30px;
      width: 30px;
      margin: 1rem 1rem 1rem 0;
      &.TERMINATED {
        background: url('../assets/pages/drivers/driver-terminated.svg') no-repeat;
        background-size: contain;
      }
      
      &.ACTIVE {
        background: url('../assets/pages/drivers/driver-active.svg') no-repeat;
        background-size: contain;
      }
    }

    .driver-name {
      align-self: center;
    }

  }

  .driver-id {
    opacity: .6;
  }

  wex-list-item {
    @extend %wex-list-item-driver;
  }
}
