<div class="invoice-display">
  <wex-list-item class="invoice-display-header">
    <span>Invoice #{{ invoiceSummary.details.invoiceNumber || "N/A" }}</span>
    <span>Due Date {{ invoiceSummary.paymentDueDate | wexDate }}</span>
  </wex-list-item>

  <ion-list class="invoice-display-details-list">
    <wex-list-item>
      <span>Current Balance</span>
      <span>{{ invoiceSummary.details.currentBalance | wexCurrency }}</span>
    </wex-list-item>
    <wex-list-item>
      <span>Statement Balance</span>
      <span>{{ invoiceSummary.details.statementBalance | wexCurrency }}</span>
    </wex-list-item>
    <wex-list-item>
      <span>Minimum Amount Due</span>
      <span>{{ invoiceSummary.details.minimumPaymentDue | wexCurrency }}</span>
    </wex-list-item>
  </ion-list>
</div>
