$titlebar-height-android: 44px;
$titlebar-height-ios:     64px;

$wex-notification-bar-height: 61px;

/**----------------------------------------------------------
 Header, Navigation
 ----------------------------------------------------------**/
.bar-wex {
  background-color: $charcoal;

  .title {
    color: $inverse-font-color;
  }

  .button {
    color: $inverse-font-color;
  }
}

wex-notification-bar {
  @at-root [notification-bar-class="has-subheader"] {
    top: $wex-notification-bar-height + $bar-height;
  }

  .platform-android &.sever-connection-banner >.bar-notification {
    top: $titlebar-height-android !important;
  }
  .platform-ios &.sever-connection-banner >.bar-notification {
    top: $titlebar-height-ios !important;
  }

  ion-content & > .bar-notification {
    position: static;
    margin-bottom: 20px; // make up for .bar { top: 20px; } for content below
  }

  & > .bar-notification {
    border: 1px solid;
    color: $base-color;
    padding: 10px;
    height: auto;
    min-height: $wex-notification-bar-height;
    line-height: normal;
    overflow: hidden;

    .platform-ios & {
      top: $ios-statusbar-height;
    }

    .icon-container {
      margin-right: 8px;
    }

    .title-container {
      h1 {
        white-space: normal;
      }
    }

    .row, .col {
      margin:  0;
      padding: 0;
    }

    // override ionic level of specificity
    .platform-ios.platform-cordova:not(.fullscreen) & .row {
      margin-top: 0 !important;
      border: 1px solid transparent;
    }

    .icon-container {
      @include flexbox();
      @include justify-content(center);
      @include flex-direction(column);

      max-width: $bar-height;
      font-size: 2em;
    }

    .title-container {
      @include flexbox();
      @include justify-content(center);
      @include flex-direction(column);

      width: 100%;

      h1 {
        margin: 0 !important;
        color: #333 !important;
        white-space:   initial;
        text-overflow: initial;
        font-weight: 400;
        &:not(.has-fittext) { font-size: 15px; }
      }
    }

    .icon-container > .icon{
      margin-right: 10px;
      font-size: 22px;

      &::after {
        display: inline-block;
        width: 30px;
        text-align: center;
        font-family: 'FontAwesome';
      }
    }

    .button-container {
      max-width: $button-bar-button-height;

      .close-button {
        display: block !important;
        width: $button-bar-button-height !important;
        text-align: right !important;

        background: none;
        border: none;
        color: #bbb;
      }
    }
  }

  /* Warning (default state) */
  & > .bar,
  &.bar-warning > .bar {
    border-color:     $warning-message-color;
    background-color: $warning-message-fill;

    .icon-container > .icon::after {
      color: $warning-message-color;
      content: "\f071";
    }
  }

  /* Error */
  &.bar-error > .bar {
    border-color:     $error-message-color;
    background-color: $error-message-fill;

    .icon-container > .icon::after {
      color: $error-message-color;
      content: "\f00d";
    }
  }

  /* Success */
  &.bar-success > .bar {
    border-color:     $success-message-color;
    background-color: $success-message-fill;

    .icon-container > .icon::after {
      color: $success-message-color;
      content: "\f00c";
    }
  }
}

/* scalable images used as header bar title need to be scaled to the correct title height */
.nav-bar-title .img-scalable {
  height: $bar-height - $bar-padding-landscape*2;
  margin: $bar-padding-landscape;
}

/**------------------------------------------------------
 Text
 ------------------------------------------------------**/
 .text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
.text-captitalize {
  text-transform: capitalize;
}


/**------------------------------------------------------
 Images
 ------------------------------------------------------**/
/* scales the source image to the size of the element */
.img-scalable {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

/**-----------------------------------------------------------
 Buttons/Icons
 ----------------------------------------------------------**/
.button {

  :not(.button-bar) > &:not(.action-sheet-option) {
    border: none;
  }
  &.activated {
    color: $dark !important;
  }

  background-color: $wex-inverted-button-color;
  &,&:hover {
    color: $wex-inverted-button-font-color;
  }

  &.button-link {
    background-color: $wex-link-color;
    &, &:hover {
      color: $wex-inverted-button-font-color;
    }
  }

  &.button-icon {
    &, &:hover {
      background-color: initial;
      color: initial;
    }
  }

  &.button-primary {
    background-color: $wex-button-color;
    &, &:hover {
      color: $wex-button-font-color;
    }
  }

  &.button-primary,
  &.button-secondary {
    text-transform: uppercase;
  }

  &[disabled] {
    background-color: $wex-button-disabled-color;
    color: $wex-button-disabled-font-color;
    opacity: initial;
  }
}

/* Refresh Button - per platform */
.button-refresh {
  @extend .ion-refresh;  /* default icon - neither Android nor iOS */
}

.platform-android .button-refresh {
  @extend .ion-android-refresh;
}

.platform-ios .button-refresh {
  @extend .ion-ios-refresh-empty;
}

/* Add Button - per platform */
.button-add {
  @extend .ion-plus;  /* default icon - neither Android nor iOS */
}

.platform-android .button-add {
  @extend .ion-android-add;
}

.platform-ios .button-add {
  @extend .ion-ios-plus-empty;
}

/* Remove Button - per platform */
.button-remove {
  @extend .ion-trash-b;  /* default icon - neither Android nor iOS */
}

.platform-android .button-remove {
  @extend .ion-trash-a;
}

.platform-ios .button-remove {
  @extend .ion-ios-trash;
}

/* Remove Item Icon - per platform */
.icon-item-remove {
  @extend .ion-android-cancel;  /* default icon - neither Android nor iOS */
  color: $wex-red;
}

.platform-android .icon-item-remove {
  @extend .ion-android-cancel;
}

.platform-ios .icon-item-remove {
  @extend .ion-ios-close;
}

/* Alert Icon - per platform */
.icon-alert {
  @extend .ion-android-alert; /* default icon - neither Android nor iOS */
}

.platform-android .icon-alert {
  @extend .ion-android-alert;
}

.platform-ios .icon-alert {
  @extend .ion-alert-circled;
}

/* Back Icon - per platform */
.icon-back {
  @extend .ion-android-arrow-back; /* default icon - neither Android nor iOS */
}

.platform-android .icon-back {
  @extend .ion-android-arrow-back;
}

.platform-ios .icon-back {
  @extend .ion-ios-arrow-back;
}

/* Search Icon - per platform */
.icon-search {
  @extend .ion-search;  /* default icon - neither Android nor iOS */
}

.platform-android .icon-search {
  @extend .ion-android-search;
}

.platform-ios .icon-search {
  @extend .ion-ios-search-strong;
}

/* Warning icon */
.icon-warning {
  @extend .ion-alert-circled;  /* default icon - neither Android nor iOS */
}

/* Fingerprint icon - per platform */
.icon-fingerprint {
  /* default icon - neither Android nor iOS */
  &:after {
    font-family: "Ionicons2";
    content: "\f2ee";
  }
}

.platform-android .icon-fingerprint {
  &:after {
    font-family: "Ionicons2";
    content: "\f2ee";
  }
}

.platform-ios .icon-fingerprint {
  &:after {
    font-family: "Ionicons2";
    content: "\f17c";
  }
}

/* Ionic hides the Cancel button for action sheets on Android. Force it to be shown. */
.platform-android .action-sheet-cancel {
  display: block !important;
}

/**-----------------------------------------------------------
 Error Messaging
 ----------------------------------------------------------**/
.error-text {
  color: $error-message-color;
}

.error-msg {
  @extend .error-text;

  font-size: 0.9em;
}

.card.card-error {
  background-color: $error-message-fill;
  color: $error-message-color;
  border: 1px solid $error-message-color;
  @include box-shadow(none);

  .item-divider {
    background-color: $error-message-fill;
    color: $error-message-color;
  }
}

/**----------------------------------------------------------
 Success Messaging
 ---------------------------------------------------------**/
.card.card-success {
  background-color: $success-message-fill;
  color: $success-message-color;
  border: 1px solid $success-message-color;
  @include box-shadow(none);

  .item-divider {
    background-color: $success-message-fill;
    color: $success-message-color;
    border: none;
  }
}


/**-----------------------------------------------------------
List
 ----------------------------------------------------------**/

.list .item {
  left: 0;
  right: 0;
}

/**------------------------------------------------------
 Links
 ------------------------------------------------------**/
a {
  color: $wex-link-color;
  text-decoration: none;

  &.button {
    @extend .button.button-link;
  }
}

/**------------------------------------------------------
 Forms
 ------------------------------------------------------**/
input[name=passcode] {
  -webkit-text-security: disc;
  text-security: disc;
}

/**------------------------------------------------------
 Popup
 ------------------------------------------------------**/
.popup {

  .popup-body {
    text-align: center;
  }
  .button {
    font-size: 15px;
  }
}

/**------------------------------------------------------
 ToolTips
 ------------------------------------------------------**/
.icon-tooltip {
  color: #3A97B5;
  margin-top: -4px;
}

.transparent {
  background: transparent !important;
}

ion-modal-view.modal-network-status {
  border: 1px solid #6d6d6d;
  top: 43%;
  right: 5%;
  bottom: 43%;
  left: 5%;
  width: 90%;
  min-height: 0px;

  .contents {
    margin: 0;
    padding: 15px 0;
    text-align: center;
  }
}

ion-modal-view.modal-tooltip {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;

  ion-pane {
    .pane-tooltip {
      background-color: white;
      border: 1px solid #6d6d6d;
      margin: 110px 10px 0;

      .header-tooltip {
        background-color: #F5F5F5;
        border-bottom: 1px solid #d7d7d7;
        text-align: center;
        margin: 0;
        padding: 15px 0;
      }

      .contents-tooltip {
        margin: 0 auto;
        padding: 0 10%;
        overflow-x: hidden;

        img {
          display: block;
          margin: auto;
        }
      }
    }
  }
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

/**------------------------------------------------------
 Numeric Input Field
 ------------------------------------------------------**/
$numeric-keypad-button-border: 1px solid $inverse-font-color;
$numeric-keypad-button-voffset: 5px;
$numeric-keypad-button-color: $wex-inverted-button-color;
$numeric-keypad-button-font-color: $wex-inverted-button-font-color;
$numeric-keypad-button-disabled-color: $wex-inverted-button-disabled-color;
$numeric-keypad-button-disabled-font-color: $wex-inverted-button-disabled-font-color;
$numeric-keypad-button-activated-color: $wex-inverted-button-activated-color;
$numeric-keypad-button-activated-font-color: $wex-inverted-button-activated-font-color;
$numeric-keypad-button-height: 62px;
$numeric-keypad-button-font-size: 22px;
$numeric-keypad-rows: 4;
$numeric-keypad-height: $numeric-keypad-button-height * $numeric-keypad-rows;
$numeric-keypad-animation: all linear 0.15s;

.scroll-content.has-numeric-keypad {
  height: calc(100% - #{$numeric-keypad-height});
}

.numeric-input-field {
  @extend input;
  @extend input[type="number"];
}

.numeric-keypad {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: $numeric-keypad-height;

  border-top: $numeric-keypad-button-border;
  border-left: $numeric-keypad-button-border;

  .row, .col {
    padding: 0;
  }

  .button {
    margin: 0 0 $numeric-keypad-button-voffset 0;

    min-height: $numeric-keypad-button-height !important;

    border-right: $numeric-keypad-button-border;
    border-bottom: $numeric-keypad-button-border;

    color: $numeric-keypad-button-font-color;
    background-color: $numeric-keypad-button-color;

    font-size: $numeric-keypad-button-font-size;
  }

  .button[disabled] {
    color: $numeric-keypad-button-disabled-font-color;
    background-color: $numeric-keypad-button-disabled-color;
  }

  .button.activated {
    color: $numeric-keypad-button-activated-font-color;
    background-color: $numeric-keypad-button-activated-color;
  }

  .button-delete {
    @extend .icon;
    @extend .ion-backspace;
  }
}

/* Keypad slide transitions */
.numeric-keypad.ng-enter {
  -webkit-transition: $numeric-keypad-animation;
  transition: $numeric-keypad-animation;

  height: 0;
}

.numeric-keypad.ng-enter.ng-enter-active {
  height: $numeric-keypad-height;
}

.numeric-keypad.ng-leave {
  -webkit-transition: $numeric-keypad-animation;
  transition: $numeric-keypad-animation;

  height: $numeric-keypad-height;
}

.numeric-keypad.ng-leave.ng-leave-active {
  height: 0;
}

/**--------------------------------
  Popup
 ----------------------------------**/
.wex-popup {
  .popup {
    background-color: $warning-message-fill;
    color: $warning-message-color;
    border: 1px solid $warning-message-color;
    @include box-shadow(none);

    .popup-head {
      border: none;
    }

    .popup-title {
      color: inherit;
      font-size: small;
    }
    .popup-body {
      color: $warning-message-color;
      border: none;
    }
  }
}

/**--------------------------------
  Alert Popup
 ----------------------------------**/
.wex-alert-popup {
  @extend .wex-popup;

  .popup {

    .popup-buttons .button {
      margin-left: 27%;
      margin-right: 27%;
      background-color: $wex-button-color;
      border: none;
      color: $wex-button-font-color;
    }
  }
}

/**--------------------------------
  Confirm Popup
 ----------------------------------**/
.wex-confirm-popup {
  @extend .wex-popup;
}

/**------------------------------------------------------
 Accordion
 ------------------------------------------------------**/
.accordion {
  .collapsible-item {
    .title {
      font-weight: bold;
    }

    .body {
      transition-duration: 0.0s;
    }
  }

  .collapsible-item.open {
    .body {
      max-height: inherit;
    }

  }
}

/**--------------------------------
  Datepicker
 ----------------------------------**/
$wex-datepicker-header-color: $charcoal;
$wex-datepicker-selection-color: $stable;

.ionic_datepicker_popup {

  .selected_date_full {
    background-color: $wex-datepicker-header-color !important;
  }

  .next_btn_section .button-clear, .prev_btn_section .button-clear, .item-select::after {
    color: $wex-datepicker-header-color !important;
  }

  .item-select {
    border-color: $wex-datepicker-header-color !important;
  }

  .selected_date {
    background-color: $wex-datepicker-selection-color !important;
  }

  .today {
    border-color: $wex-datepicker-selection-color !important;
  }

  .popup-buttons {
    flex-direction: row-reverse !important;
  }

  .popup-buttons button {
    background-color: $wex-inverted-button-color !important;
    color: $wex-inverted-button-font-color !important;
    text-transform: uppercase !important;
    margin: 0 !important;
  }

  .popup-buttons button.button_set {
    background-color: $wex-button-color !important;
    color: $wex-button-font-color !important;
  }
}

.button-row {
  margin-top: 10px;
}
