/**----------------------------------------------------------
 Retina images
 ----------------------------------------------------------**/
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin ui-greeking-gradient-color($color: #ddd, $background-color: transparent) {
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, $background-color), color-stop(18%, $color), color-stop(33%, $background-color));
  background: -webkit-linear-gradient(left, $background-color 8%, $color 18%, $background-color 33%);
  background:         linear-gradient(to right, $background-color 8%, $color 18%, $background-color 33%);
}
