//global colors
$wex-red: #e51937;
$charcoal: #333;
$charcoal-light: #424242;

//typography
$error-message-color: #910000;
$error-message-fill: #ffecec;
$inverse-font-color: #fff;
$success-message-color: #005100;
$success-message-fill: #E6FFE6;
$active-control-color: #007a00;
$warning-message-color: #a65a00;
$warning-message-fill: #f9f9d0;
$link-font-color: #3A97B5;

//buttons
$wex-button-color: #fcc336;
$wex-button-font-color: #000;
$wex-button-disabled-color: #eeeeee;
$wex-button-disabled-font-color: #c2c2c2;
$wex-inverted-button-color: $charcoal;
$wex-inverted-button-font-color: #E6E6E6;
$wex-inverted-button-disabled-color: $charcoal-light;
$wex-inverted-button-disabled-font-color: $wex-button-disabled-font-color;
$wex-inverted-button-activated-color: $charcoal-light;
$wex-inverted-button-activated-font-color: $wex-inverted-button-font-color;


//customize the look and feel of Ionic
$positive: $wex-red !default;
