//global colors
$wex-red: #e51937;
$charcoal: #333;

//typography
$error-message-color: #910000;
$error-message-fill: #ffecec;
$inverse-font-color: #fff;
$success-message-color: #005100;
$success-message-fill: #E6FFE6;
$active-control-color: #007a00;
$warning-message-color: #a65a00;
$warning-message-fill: #f9f9d0;
$link-font-color: #3A97B5;

//buttons
$primary-button-color: #fcc336;
$primary-button-font-color: #000;
$secondary-button-color: $charcoal;
$secondary-button-font-color: #E6FFE6;
