// default colors
$default-light:     #fff;
$default-stable:    #f8f8f8;
$default-positive:  #387ef5;
$default-calm:      #11c1f3;
$default-balanced:  #33cd5f;
$default-energized: #ffc900;
$default-assertive: #ef473a;
$default-royal:     #886aea;
$default-dark:      #444;

//global colors
$wex-red: #e51937;
$wex-blue: #3A97B5;
$charcoal: #333;
$charcoal-light: #424242;

//typography
$error-message-color: #910000;
$error-message-fill: #ffecec;
$inverse-font-color: #fff;
$success-message-color: #005100;
$success-message-fill: #E6FFE6;
$active-control-color: #007a00;
$warning-message-color: #a65a00;
$warning-message-fill: #f9f9d0;
$wex-link-color: #0062A0;

//buttons
$wex-button-color: #fcc336;
$wex-button-font-color: #000;
$wex-button-disabled-color: #fde19b;
$wex-button-disabled-font-color: #999;
$wex-inverted-button-color: $charcoal;
$wex-inverted-button-font-color: #E6E6E6;
$wex-inverted-button-disabled-color: $charcoal-light;
$wex-inverted-button-disabled-font-color: $wex-button-disabled-font-color;
$wex-inverted-button-activated-color: $charcoal-light;
$wex-inverted-button-activated-font-color: $wex-inverted-button-font-color;


//customize the look and feel of Ionic
$positive: $wex-red !default;
$stable: $wex-blue !default;
