<ion-header>
  <ion-navbar>
    <ion-title>{{ CONSTANTS.title }}</ion-title>
    <ion-buttons *ngIf="isScheduled" right>
      <button *wexIfPlatformAndroid ion-button icon-only (click)="editPayment()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button *wexIfPlatformIos ion-button color="primary" (click)="editPayment()">
        {{ CONSTANTS.editButton }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="header-container" padding-vertical>
    <span id="payment-header" 
          [ngClass]="{ scheduled: this.isScheduled, completed: this.isCompleted }">
      {{ headerLabel }}
    </span>
    <span id="payment-date">{{ payment.details.scheduledDate | wexDate:false:DATE_FORMAT }}</span>
  </div>

  <ion-list class="detail detail-list">
    <ion-item>
      <ion-label>
        <span class="property-name">{{ CONSTANTS.bankAccount }}</span>
        <span text-wrap class="property-value">{{ payment.bankAccountDisplayName }}</span>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <span class="property-name">{{ CONSTANTS.amount }}</span>
        <span text-wrap class="property-value">{{ payment.details.amount | wexCurrency }}</span>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <span class="property-name">{{ CONSTANTS.method }}</span>
        <span text-wrap class="property-value">{{ payment.methodDisplayName }}</span>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="payment.details.confirmationNumber">
      <ion-label>
        <span class="property-name">{{ CONSTANTS.confirmation }}</span>
        <span text-wrap class="property-value">{{ payment.details.confirmationNumber }}</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="isScheduled" padding-top>
    <ion-list *wexIfPlatformIos>
      <a ion-item id="button-cancel-payment" (click)="cancelPayment()">
        {{ CONSTANTS.cancelButton }}
      </a>
    </ion-list>

    <div *wexIfPlatformAndroid id="md-button-container">
      <button ion-button block id="button-cancel-payment" color="white"  (click)="cancelPayment()">
        {{ CONSTANTS.cancelButton }}
      </button>
    </div>
  </div>
</ion-content>
