page-payments-details {

    ion-content {

        @at-root .md & {
            background: none;

            .scroll-content {
                padding-left: 16px;                
            }
        }

        #header-container {
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);

            @at-root .ios & {
                @include align-items(center);
            }

            > * {
                padding: 0.4rem;
            }

            #payment-header {
                font-size: 3.2rem;
                font-weight: 500;

                @at-root .ios & {
                    letter-spacing: -0.7px;
                }
        
                &.completed {
                    color: color($colors, secondary);
                }
            }
        
            #payment-date {
                font-size: 1.6rem;
                letter-spacing: -0.4px;
                opacity: 0.5;
            }
        }
    }
}