%list-item-activated {
  $activated-color: #3a97b5;

  color: #fff;
  background-color: $activated-color;

  .ion-chevron-right {
    color: #fff;
  }

  .widget-ui-greeking {
    svg {
      @include ui-greeking-gradient-color(#386878, $activated-color);
    }

    rect {
      fill:   $activated-color;
      stroke: $activated-color;
    }
  }
}

%list-item-divider {
  .item-divider,
  .item-alt-divider,
  + .item-divider,
  + .item-alt-divider {
    padding-top:    4px;
    padding-bottom: 4px;
    @extend .text-md;
  }
  .item-divider,
  + .item-divider {
    color:      #fff;
    background: #7f7f7f;
  }
  .item-alt-divider,
  + .item-alt-divider {
    @extend .item-divider;
    color:      #333;
    background: #e2e3e4;
  }
}

%icon-align-top {
  align-items:         flex-start;
  -webkit-align-items: flex-start;

  &:before {
    margin-top: 18px;
  }
}

.widget-infinite-list {
  @extend %list-item-divider;

  .item,
  .item-content {
    @extend .text-md;
    border-color: #ccc;

    &.item-last {
      border-bottom-color: #aaa;
    }

    &:not(.no-inverse-padding) .item-content {
      margin:  -16px;
      padding: 16px;
    }

    //override Ionic's buggy activated with our own
    //see https://github.com/driftyco/ionic/issues/814
    .activated {
      background-color: #fff;
      color: #000;
    }

    a.wex-item-activated {
      @extend %list-item-activated;
    }

    &.item-icon-left,
    &.item-icon-right {
      .icon {
        @extend .text-lg;
      }
    }

    &.item-icon-right {
      .item-content {
        margin-right:  -54px;
        padding-right: 30px;

        .ion-chevron-right {
          right: 0;
          @extend .text-lg;
        }
      }

      .icon {
        right: 0;
        color: #3a97b5;

        &.icon-align-top {
          @extend %icon-align-top;
        }
      }

      .wex-item-activated .icon {
        color: #fff;
      }
    }
  }

}
