%list-item-divider {
  .item-divider,
  .item-alt-divider,
  + .item-divider,
  + .item-alt-divider {
    padding-top:    4px;
    padding-bottom: 4px;
    @extend .text-md;
  }
  .item-divider,
  + .item-divider {
    color:      #fff;
    background: #7f7f7f;
  }
  .item-alt-divider,
  + .item-alt-divider {
    @extend .item-divider;
    color:      #333;
    background: #e2e3e4;
  }
}

%icon-align-top {
  align-items:         flex-start;
  -webkit-align-items: flex-start;

  &:before {
    margin-top: 18px;
  }
}

$infinite-list-padding:           16px;
$infinite-list-padding-with-icon: 30px;

.infinte-list-header,
.infinte-list-header-with-icon {
  @include flexbox();
  @include align-items(center);
  padding-left:  $infinite-list-padding;
}
.infinte-list-header {
  padding-right: $infinite-list-padding;
}
.infinte-list-header-with-icon {
  padding-right: $infinite-list-padding-with-icon;
}

.widget-infinite-list {
  @extend %list-item-divider;

  .component-list-item,
  .widget-list-item {
    display: block;
  }

  .item,
  .item-content {
    @extend .text-md;
    border-color: #ccc;

    &.item-last {
      border-bottom-color: #aaa;
    }

    &:not(.no-inverse-padding) .item-content {
      margin:  -$infinite-list-padding;
      padding: $infinite-list-padding;
    }

    &.item-icon-left,
    &.item-icon-right {
      .icon {
        @extend .text-lg;
      }
    }

    &.item-icon-right {
      .item-content {
        margin-right:  -54px;
        padding-right: $infinite-list-padding-with-icon;

        .ion-chevron-right {
          right: 0;
          @extend .text-lg;
        }
      }

      .icon {
        right: 0;
        color: #3a97b5;

        &.icon-align-top {
          @extend %icon-align-top;
        }
      }
    }
  }

}
