%list-item-activated {
  $activated-color: #3a97b5;

  color: #fff;
  background-color: $activated-color;

  .ion-chevron-right {
    color: #fff;
  }

  .widget-ui-greeking {
    svg {
      @include ui-greeking-gradient-color(#386878, $activated-color);
    }

    rect {
      fill:   $activated-color;
      stroke: $activated-color;
    }
  }
}

.widget-infinite-list {

  .item {
    .item-content {
      margin:  -16px;
      padding: 16px;

      &.activated {
        @extend %list-item-activated;
      }
    }

    &.item-icon-right {
      .item-content {
        margin-right:  -54px;
        padding-right: 30px;

        .ion-chevron-right {
          right: 0;
          font-size: 16px;
        }
      }
    }
  }

}
