ion-scroll,
ion-content {
  &[ion-sticky] {

    .item-divider,
    .item-alt-divider,
    + .item-divider,
    + .item-alt-divider {
      font-size: 14px;
    }
    .item-divider,
    + .item-divider {
      color:      #fff;
      background: #7f7f7f;
    }
    .item-alt-divider,
    + .item-alt-divider {
      @extend .item-divider;
      color:      #333;
      background: #e2e3e4;
    }

    .item-icon-left,
    .item-icon-right {
      .icon {
        font-size: 16px;
      }
    }

  }
}
