.widget-transaction-result-as-date {
  &.item {
    &.item-icon-right {
      .icon {
        right: 0;
        align-items:         flex-start;
        -webkit-align-items: flex-start;

        &:before {
          margin-top: 18px;
        }
      }
    }
  }

  .row,
  .col {
      padding: 0;
  }
}
