.wex-bar-button-group {
  $bar-button-height: 85px;

  padding: 0;
  height: $bar-button-height;

  > .button-bar {
   height: auto;
   padding: 15px 15px 20px;
   background: transparent;
  }

  + .has-subheader {
   top: 130px;
    @at-root .platform-ios & {
      top: $bar-button-height + $bar-height + $ios-statusbar-height !important;
    }
  }
}

.widget-wex-bar-button {
  height: 50px;
  font-family: 'open_sanssemibold';
  border-right: 1px solid #fff;
  &:last-of-type {
    border-right: none;
  }

  .button-bar.button-bar-inline > & > .button {
    width: auto;
    display: inline-block;
    float: left;
  }

  .button-bar > & {
    @include flex(1);
    display: block;
    &:first-child > .button {
      border-radius: 4px 0px 0px 4px;
    }
    &:last-child > .button {
      border-radius: 0px 4px 4px 0px;
    }
    &:before,
    .icon:before {
      line-height: 44px;
    }

    > .button {
      overflow: hidden;
      display: flex;
      align-items: center;
      padding: 0 16px;
      width:  100%;
      height: 100%;
      border-width: 1px 0px 1px 1px;
      border-radius: 0;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;

      > div {
        flex: 1;
      }
    }
  }

  input {
    /* hide any radio button inputs elements (the ugly circles) */
    position: absolute;
    left: -9999px;

    &:checked ~ .button {
      /* style the item content when its checked */
      background: #ab112f;
    }

    &:checked ~ .radio-icon {
      /* show the checkmark icon when its checked */
      visibility: visible;
    }
  }
}
