<ion-view view-title="{{::vm.config.title}}" class="page-landing" wex-hide-back-button="true">
    <wex-notification-bar class="bar-success"
                          ng-if="vm.params.showFingerprintBanner"
                          wex-toast-timer
                          wex-toast-on-hide="vm.params.showFingerprintBanner = false"
                          text="{{::vm.config.platformName}} {{::vm.config.registerSuccessBanner}} {{vm.user.username | wexTruncateString}}">
    </wex-notification-bar>

    <ion-content class="padding">

        <section class="company-details">
            <div class="card">
                <div class="card-detail">
                    <div class="item item-divider">
                        {{ vm.greeting }}
                    </div>
                    <div class="item item-text-wrap">
                        <p class="company-name">{{ vm.user.billingCompany.name }}</p>
                        <p class="account-number">{{ vm.user.getDisplayAccountNumber() }}</p>
                    </div>
                </div>
                <div class="logo" wex-cache ng-model="brandLogo" ng-show="brandLogo">
                    <div ng-bind-html="brandLogo | wexSvg"></div>
                </div>
            </div>
        </section>

        <section class="account-overview">
            <div class="card" wex-cache="invoiceSummary" ng-model="vm.invoiceSummary">
                <div class="item item-divider">
                    Account Overview
                </div>

                <div class="item item-text-wrap">
                    <div class="chart-wrapper">
                        <div class="labels">
                            <div class="label" ng-repeat="chart in vm.chartDisplay.left"
                                 style="color: {{ chart.color }};">
                                <div class="text-amount" ng-bind-html="chart.data | currency | wexSuperText"></div>
                                <div class="text-title">{{ ::chart.label }}</div>
                            </div>
                        </div>

                        <div class="chart">
                            <wex-doughnut-chart chart-config="vm.chart">
                            </wex-doughnut-chart>
                        </div>
                        <div class="labels">
                            <div class="label" ng-repeat="chart in vm.chartDisplay.right"
                                 style="color: {{ chart.color }};">
                                <div class="text-amount" ng-bind-html="chart.data | currency | wexSuperText"></div>
                                <div class="text-title">{{ ::chart.label }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="item balance-current">
                        {{ ::vm.config.currentBalance }}
                        <span class="item-currency"
                              ng-bind-html="vm.invoiceSummary.currentBalance | currency | wexSuperText"></span>
                    </div>
                    <div class="item balance-statement">
                        {{ ::vm.config.statementBalance }}
                        <span class="item-currency"
                              ng-bind-html="vm.invoiceSummary.statementBalance | currency | wexSuperText"></span>
                    </div>
                    <div class="item due-date">
                        {{ ::vm.config.paymentDueDate }}
                        <span class="item-currency">{{ vm.invoiceSummary.paymentDueDateObject | wexDefaultDateFormat : true }}</span>
                    </div>
                </div>
            </div>
        </section>

        <div class="card list">
            <div class="item item-icon-left item-icon-right"
                 ng-click="vm.goToMakePayment()"
                 wex-analytics-track-event="vm.config.ANALYTICS.events.makePaymentLink">
                <i class="icon fa fa-bank"></i>
                {{ ::vm.config.makePayment }}
                <span class="badge"
                      wex-cache="scheduledPaymentsCount"
                      ng-model="vm.scheduledPaymentsCount"
                      ng-show="vm.scheduledPaymentsCount > 0">
                    {{ vm.scheduledPaymentsCount }} {{ ::vm.config.scheduledPayments }}
                </span>
                <i class="icon fa fa-chevron-right"></i>
            </div>

            <div class="item item-icon-left item-icon-right"
                 ng-click="vm.goToTransactionActivity()"
                 wex-analytics-track-event="vm.config.ANALYTICS.events.transactionActivityLink">
                <i class="icon fa fa-exchange"></i>
                {{ ::vm.config.transactions }}
                <i class="icon fa fa-chevron-right"></i>
            </div>

            <div class="item item-icon-left item-icon-right"
                 ng-click="vm.goToCards()"
                 wex-analytics-track-event="vm.config.ANALYTICS.events.cardsLink">
                <i class="icon fa fa-credit-card-alt"></i>
                {{ ::vm.config.cards }}
                <i class="icon fa fa-chevron-right"></i>
            </div>

            <div class="item item-icon-left item-icon-right"
                 ng-click="vm.goToDrivers()"
                 wex-analytics-track-event="vm.config.ANALYTICS.events.driversLink">
                <i class="icon fontello-icon fontello-steering-wheel"></i>
                {{ ::vm.config.drivers }}
                <i class="icon fa fa-chevron-right"></i>
            </div>
        </div>

    </ion-content>
</ion-view>
