<ion-header *ngIf="!contentOnly">
  <wex-static-list-page-header [page]="this">
  </wex-static-list-page-header>
</ion-header>

<ion-content #content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <wex-static-list-page-content [page]="this">
    <ng-template #itemTemplate let-item>
      <span class="card-id">{{ item.details.embossedCardNumber | wexCardNumber }}</span>
      <span content-expand class="embossing">
        <div *ngIf="item.details.embossingValue2" class="embossingValue2" text-wrap>{{ item.details.embossingValue2 }}</div>
        <div *ngIf="item.details.embossingValue1" class="embossingValue1">{{ item.details.embossingValue1 }}</div>
      </span>
    </ng-template>
  </wex-static-list-page-content>
</ion-content>
