page-cards {

  #items-list {

    ion-item-divider {
      &.active {
        color: color($colors, success-dark);
        background-color: color($colors, success);
      }

      &.suspended {
        color: color($colors, warning-dark);
        background-color: color($colors, warning);
      }

      &.terminated {
        color: color($colors, danger-dark);
        background-color: color($colors, danger);
      }
    }
  }
}
