<ion-header>
  <ion-searchbar animated="true"
                 [placeholder]="CONSTANTS.searchLabel"
                 [(ngModel)]="searchFilter"
                 (ionInput)="updateList()">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <wex-list id="cards-list" [items]="filteredCards" [headerFields]="CONSTANTS.listLabels" [loading]="fetchingCards">
    <template #itemTemplate let-item>
      <wex-list-item active (click)="goToDetailPage(item)">
        <span class="card-id">{{ item.cardId }}</span>
        <span class="embossing">
          <span *ngIf="item.embossingValue2" class="embossingValue2" text-wrap>{{ item.embossingValue2 }}</span>
          <span *ngIf="item.embossingValue1" class="embossingValue1">{{ item.embossingValue1 }}</span>
        </span>
        <span class="status">{{ item.statusDisplayName }}</span>
      </wex-list-item>
    </template>
  </wex-list>
</ion-content>
