<div>
    <ion-item class="item-alt-divider" ng-if="alert.hasDivider">
      {{ alert.displayDate | wexDefaultDateFormat }}
    </ion-item>

    <ion-item class="item item-icon-right widget-transaction-result-as-date" ng-class="{ 'ui-greeking': alert.isGreekLoading }">
        <div class="row date-filter-list">
            <div class="col greek-block-group">
                <span class="text-block" style="color: red;">{{ alert.alertMessage }} &nbsp;</span>
                <span class="text-block text-strong">{{ alert.embossedCardNumber | wexCardNumber }} &nbsp;</span>
                <span class="text-block">{{ alert.lastName }}, {{ alert.firstName }} &nbsp;</span>
                <span class="text-block">{{ alert.merchantName }} {{ alert.productDescription }} &nbsp;</span>
            </div>
        </div>

        <ion-option-button ng-click="vm.removeItem(alert)" class="button-positive">{{ ::vm.config.labelDeleteAlert }}</ion-option-button>
    </ion-item>
</div>
