<ion-view view-title="{{::vm.config.title}}" class="page-alerts">

  <ion-content ion-sticky>

      <div class="widget-filter-transaction-list widget-filter-card-transaction-list">
          <ion-refresher class="wex-refresher" on-refresh="vm.resetSearchResults()"></ion-refresher>

          <wex-infinite-list on-reload="vm.loadNextPage"
                             reload-distance="::config.reloadDistance"
                             loading-complete="vm.infiniteScrollService.isLoadingComplete">

              <!-- Notifications Banner -->
              <ion-item class="notifications-banner-wrapper">
                  <enable-notifications-banner />
              </ion-item>

              <div collection-repeat="alert in vm.alerts.collection | groupAlertsByDate : 'data.authorizationDate'"
                   item-height="alert.renderHeight">

                      <alert-item />

              </div>
          </wex-infinite-list>
      </div>

      <div ng-show="vm.infiniteScrollService.isLoadingComplete && vm.infiniteScrollService.model.collection.length <= 0" class="no-transactions">{{::vm.config.emptyList}}</div>

  </ion-content>

</ion-view>
