@mixin wex-banner-style($bkg-color, $text-color) {

  .toolbar-background {
    background-color: $bkg-color;
  }

  ion-icon.banner-icon {
    color: $text-color;
  }
}


wex-banner {

  .banner-content {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(row);
  }

  ion-icon.banner-icon {
    font-size: 2.5rem;
    margin-right: 2rem;
    font-weight: bold;
  }

  ion-toolbar {
    padding: 0 !important;

    &[bannerStyle="Success"] {
      @include wex-banner-style(color($colors, success), color($colors, success-dark));
    }

    &[bannerStyle="Error"] {
      @include wex-banner-style(color($colors, danger), color($colors, danger-dark));
    }

    &[bannerStyle="Warning"] {
      @include wex-banner-style(color($colors, warning), color($colors, warning-dark));
    }
  }
}
