@mixin action-indicator-color($color) {
  .action-indicator {
    ion-spinner.action-spinner * {
      stroke: $color;
    }
  }
}

action-indicator {

  @at-root
    button[ion-only] &,
    button[ion-fab] &  {

    @extend ion-icon;
  }

  &[large] ion-spinner {
    width: 36px;
    height: 36px;
  }
}
