@mixin action-indicator-color($color) {
  .action-indicator {
    ion-spinner.action-spinner * {
      stroke: $color;
    }
  }
}

action-indicator {
  &[large] ion-spinner {
    width: 36px;
    height: 36px;
  }
}