<ion-header>
  <ion-navbar>
    <ion-title>{{ pageName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="options-list">
    <ion-list radio-group [(ngModel)]="currentItem" [ngClass]="{ 'inset-items': platform.isIos }">
      <ng-template ngFor [ngForOf]="options" let-item>
        
        <button ion-item (click)="currentItem = item.value">
          <ion-label>
            <h2>{{ item.label }}</h2>
            <p *ngIf="!!item.subtext">{{ item.subtext }}</p>
          </ion-label>
          <ion-radio hidden [value]="item.value"></ion-radio>
        </button>

      </ng-template>
    </ion-list>
  </div>

  <div id="action-list" padding>
    <button [disabled]="disableSubmit" ion-button block class="button-gradient" (click)="submittedItem = currentItem">
      {{ submitButtonText }}
    </button>
    <p *ngIf="instructionalText" class="text-instructions" [innerHTML]="instructionalText"></p>
  </div>
</ion-content>