@charset "UTF-8";
@import url("jquery.mobile-min.css");
@import url("jquery.mobile.datepicker-min.css");

.layout-inline { display: inline; }
.layout-block  { display: block;  }

.layout-left  { float: left; }
.layout-right { float: right; }

.text-left   { text-align: left;   }
.text-center { text-align: center; }
.text-right  { text-align: right;  }

.text-bold   { font-weight: bold; }
.text-normal { font-weight: normal; }

a.format-detection-no { text-decoration: none; font-weight: inherit !important; color: inherit !important; cursor: default; }

.text-result strong { display: block; }
.text-result-whitespace strong { display: block; }
.text-result-whitespace { white-space: pre; }
.text-instructional { font-size: 0.8em; }

.ui-mobile [data-role="page"],
.ui-mobile [data-role="dialog"],
.ui-mobile [data-role="popup"],
.ui-page {
    border-color: black transparent transparent black;
    border-style: solid !important;
    border-width: 1px;
}

[data-role="page"] {
    /* awful hack to account for the fact that JQM is not
    offsetting fixed headers correctly*/
    padding-top: 44px !important;
}

/* datepicker is hardcoded to have a z-index of 1, which results in selects being "above" the datepicker
*/
.ui-datepicker {
    z-index: 99 !important;
}

/* List Styling */
.ui-li-desc.text-result strong { display: inline-block; margin: 0 5px 5px 0; }
#popupDialog .ui-li-desc.text-result strong { display: block; margin: 0 5px 5px 0; }
.ui-li-desc.text-result-whitespace strong { display: inline-block; margin: 0 5px 5px 0; }
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit img { margin: 5px 0 0 5px; }
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb { padding-left: 60px; min-height: inherit; }
.ui-listview>li>a.ui-btn,
.ui-listview>li>a.ui-btn:hover,
.ui-listview>li>a.ui-btn-active,
.ui-listview>li>a.ui-btn:visited{
    text-decoration: none;
}

.ui-hidden { visibility: hidden; }

/* Form Styling */
.ui-body { border-radius: 10px; }
.ui-body + .ui-btn { margin-top: 20px; }
.ui-field-contain { padding: 10px 0; border-bottom-width: 0; }
.ui-field-contain label .required { color: #990000; font-weight: bold; }
.ui-field-contain input.ui-input-text { white-space: pre; }

/* Content - Application Titlebar */
.ui-header h1.ui-title { margin-left: 0; margin-right: 0; }

/* Content - Section Title */
.ui-content h2.ui-title {
    margin: 0 0 10px;
    padding-left: 40px;
    font-size: 1.2em;
    line-height: 40px;
    background-position: 0px center;
    background-repeat: no-repeat;
}
.ui-card h2.ui-title    { background-image: url("../img/ui-icon_Card.png")     }
.ui-driver h2.ui-title  { background-image: url("../img/ui-icon_Driver.png")   }
.ui-invoice h2.ui-title { background-image: url("../img/ui-icon_Invoices.png") }

/* Collapsible Content */
.ui-collapsible.ui-collapsible-collapsed.ui-body-d {
	border-color: transparent;
	background: none;
}

#home img {
    margin: 5px 0 0 5px;
}

#home .ui-listview>.ui-li-has-thumb>.ui-btn {
    min-height: 0;
}

.ui-body-b, .ui-overlay-b {
    border: 1px solid #999;
    background: #f3f3f3;
    color: #222;
    text-shadow: 0 1px 0 #fff;
    font-weight: normal;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ddd),to(#ccc));
    background-image: -webkit-linear-gradient(#ddd,#ccc);
    background-image: -moz-linear-gradient(#ddd,#ccc);
    background-image: -ms-linear-gradient(#ddd,#ccc);
    background-image: -o-linear-gradient(#ddd,#ccc);
    background-image: linear-gradient(#ddd,#ccc);
}

.ui-body-d, .ui-overlay-d {
    border: 1px solid #bbb;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    background: #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
    background-image: -webkit-linear-gradient(#fff,#fff);
    background-image: -moz-linear-gradient(#fff,#fff);
    background-image: -ms-linear-gradient(#fff,#fff);
    background-image: -o-linear-gradient(#fff,#fff);
    background-image: linear-gradient(#fff,#fff);
}

.ui-body-e, .ui-overlay-e {
    border: 1px solid #f7c942;
    color: #222;
    text-shadow: 0 1px 0 #fff;
    background: #fff9df;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fffadf),to(#fff3a5));
    background-image: -webkit-linear-gradient(#fffadf,#fff3a5);
    background-image: -moz-linear-gradient(#fffadf,#fff3a5);
    background-image: -ms-linear-gradient(#fffadf,#fff3a5);
    background-image: -o-linear-gradient(#fffadf,#fff3a5);
    background-image: linear-gradient(#fffadf,#fff3a5);
}

/*
 * jQuery UI Datepicker @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
div.hasDatepicker{ display: block; padding: 0; overflow: visible;  margin: 8px 0; }
.ui-datepicker {  overflow: visible; margin: 0 auto; /*max-width: 500px;*/  }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.4em 0; border-bottom: 0; font-weight: bold; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { padding: 1px 0 1px 2px; position:absolute; top: .5em; margin-top: 0; text-indent: -9999px; }
.ui-datepicker .ui-datepicker-prev { left:6px; }
.ui-datepicker .ui-datepicker-next { right:6px; }

.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; border-collapse: collapse; margin:0; }
.ui-datepicker td { border-width: 1px; padding: 0; text-align: center; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em 0; font-weight: bold; margin: 0; border-width: 0; text-align: center; text-decoration: none; }

.ui-datepicker-calendar th { padding-top: .3em; padding-bottom: .3em; }
.ui-datepicker-calendar th span, .ui-datepicker-calendar span.ui-state-default { opacity: .3; }
.ui-datepicker-calendar td a { padding-top: .5em; padding-bottom: .5em; }

.min-width-480px div.hasDatepicker  { width: 63%; display: inline-block; margin: 0; }

/********************************************
 * Dialog - Component
********************************************/
#popupDialog .dialog-footer{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#popupDialog [data-theme="c"] .ui-btn-inner {
    background-color: #ccc;
}

#popupDialog .ui-btn-active .ui-btn-inner{
    background: #5393c5;
}


/*********************************************
* Login Page
********************************************/
#login {
    padding-top: 0px !important;
}
