@charset "UTF-8";

/* Branding */
.ui-mobile .ui-popup-active [data-role="popup"] .ui-header h1.ui-title {
    text-indent: 0;
    background: none;
}
.ui-page .ui-header h1.ui-title {
    text-indent: -9999px;
    background: url("../img/logo.png") center center no-repeat;
}
.ui-header.ui-bar-b {
	border-bottom-color: #840a1d;
                                                                               /* color 2 */           /* color 1 */
	background-image: -moz-linear-gradient(top,                                   #444,                #666);
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #444), color-stop(1, #666));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444', EndColorStr='#666')";
}
.ui-btn-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	border: 1px solid #840a1d !important;  /* color 1 (supplied brand color) */
	background: #e11736 !important;  /* color 2 (slightly brighter than color 1) */
}
.ui-btn-b,
.ui-btn-up-b,
.ui-btn-hover-b {
                                                                               /* color 2 */           /* color 1 */
	background-image: -moz-linear-gradient(top,                                   #e11736,                #840a1d) !important;
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #e11736), color-stop(1, #840a1d)) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e11736', EndColorStr='#840a1d')";
}
.ui-btn-down-b {
                                                                               /* color 1 */           /* color 2 */
	background-image: -moz-linear-gradient(top,                                   #840a1d,                #e11736);
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #840a1d), color-stop(1, #e11736));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#840a1d', EndColorStr='#e11736')";
}