<ion-header-bar class="bar-notification">
    <span ng-transclude></span>
    <div class="row">
        <div class="col col-10 icon-container">
            <span class="icon"></span>
        </div>
        <div class="col title-container">
            <!-- Note: The title elements needs to be wrapped with a div for ngFitText to work correctly -->
            <div>
                <h1 fittext fittext-min="inherit" fittext-max="18" ng-bind-html="text"></h1>
            </div>
        </div>
        <div class="col button-container" ng-if="closeable">
            <button class="button close-button icon ion-close" on-tap="remove()"></button>
        </div>
    </div>
</ion-header-bar>