<ion-header-bar class="bar-notification">
    <span ng-transclude></span>
    <div class="row">
        <div class="col col-10 icon-container">
            <span class="icon"></span>
        </div>
        <div class="col title-container">
            <div ng-if="textIsLong">
                <h1 fittext fittext-min="12" fittext-max="15" ng-class="{ 'has-fittext': textIsLong }" ng-bind-html="text"></h1>
            </div>
            <h1  ng-if="!textIsLong" ng-bind-html="text"></h1>
        </div>
        <div class="col button-container" ng-if="closeable">
            <button class="button close-button icon ion-close" on-tap="remove()"></button>
        </div>
    </div>
</ion-header-bar>