<div class="widget-filter-transaction-list widget-filter-date-transaction-list">

    <ion-refresher class="wex-refresher" on-refresh="resetSearchResults()"></ion-refresher>

    <wex-infinite-list on-reload="loadNextPage"
                       reload-distance="::config.reloadDistance"
                       loading-complete="infiniteScrollService.isLoadingComplete">

        <div ng-if="unlessAppIsClassic">
            <ion-item class="item-divider">Pending Transactions</ion-item>
            <div ng-repeat="transaction in transactions.pendingCollection | groupTransactionsByDate : 'transactionDate'">
                <transaction-result-as-date display-chevron="false" />
            </div>
        </div>

        <ion-item class="item-divider">Posted Transactions</ion-item>
        <div collection-repeat="transaction in transactions.collection | groupTransactionsByDate : 'postDate'"
             ui-sref="transaction.postedDetail({ transactionId: transaction.transactionId })"
             item-height="transaction.renderHeight">
                <transaction-result-as-date />
        </div>
    </wex-infinite-list>

    <div ng-show="infiniteScrollService.isLoadingComplete && transactions.collection.length <= 0" class="no-transactions">{{ ::config.emptyList }}</div>

</div>
