<div class="widget-filter-transaction-list widget-filter-card-transaction-list">

    <ion-refresher class="wex-refresher" on-refresh="resetSearchResults()"></ion-refresher>

    <wex-infinite-list on-reload="loadNextPage"
                       is-pending="infiniteScrollService.isPending"
                       loading-complete="infiniteScrollService.isLoadingComplete">

        <ion-item class="item item-icon-right" collection-repeat="card in cards.collection" ng-class="{ 'item-last': $last }">
            <a class="item-content" ui-sref="transaction.filterBy({ filterBy: 'card', filterValue: card.cardId, isGreeking: card.isGreekLoading })" wex-click>
                <div ng-show="card.isGreekLoading">
                    <wex-ui-greeking />
                </div>

                <div ng-hide="card.isGreekLoading">
                    <span class="greek-block">{{ card.embossedCardNumber | wexCardNumber }}</span>
                    <i class="icon fa fa-chevron-right"></i>
                </div>
            </a>
        </ion-item>
    </wex-infinite-list>

    <div ng-show="infiniteScrollService.isLoadingComplete && infiniteScrollService.model.collection.length <= 0" class="no-transactions">{{::config.emptyList}}</div>

</div>
