<ion-view view-title="{{::vm.config.title}}">
    <ion-content>
        <div class="padding item-wrap">
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.cardNumber}}</span>
                <span class="content_align black">{{vm.postedTransaction.embossedCardNumber | wexCardNumber}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.postedDate}}</span>
                <span class="content_align black">{{vm.postedTransaction.postDate | wexDefaultDateFormat}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.transactionDate}}</span>
                <span class="content_align black">{{vm.postedTransaction.transactionDate | wexDefaultDateTimeFormat}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.transactionId}}</span>
                <span class="content_align black">{{vm.postedTransaction.transactionId}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.grossCost}}</span>
                <span class="content_align black">{{vm.postedTransaction.grossCost | currency}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.netCost}}</span>
                <span class="content_align black">{{vm.postedTransaction.netCost | currency}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.productDescription}}</span>
                <span class="content_align black">{{vm.postedTransaction.productDescription}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.driverFirstName}}</span>
                <span class="content_align black">{{vm.postedTransaction.driverFirstName}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.driverLastName}}</span>
                <span class="content_align black">{{vm.postedTransaction.driverLastName}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.currentOdometer}}</span>
                <span class="content_align black">{{vm.postedTransaction.currentOdometer}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.customVehicleAssetId}}</span>
                <span class="content_align black">{{vm.postedTransaction.customVehicleId}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.merchantName}}</span>
                <span class="content_align black">{{vm.postedTransaction.merchantName}}</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">{{::vm.config.merchantCityState}}</span>
                <span class="content_align black">{{vm.postedTransaction.merchantCity}}, {{vm.postedTransaction.merchantState}}</span>
            </p>
        </div>
    </ion-content>
</ion-view>
