<ion-view view-title="{{::vm.config.title}}" wex-back-state="{{vm.backStateOverride}}">
    <div class="bar bar-subheader">
      <div class="bar bar-header">
        <div class="button-bar bar-positive">
          <wex-bar-button ng-value="'date'"   ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.date}}</wex-bar-button>
          <wex-bar-button ng-value="'driver'" ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.driver}}</wex-bar-button>
          <wex-bar-button ng-value="'card'"   ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.card}}</wex-bar-button>
        </div>
      </div>
    </div>

    <ion-content class="has-subheader">

        <!-- Filter by Date
        <div class="list">
            <div class="item item-divider" id="pendingAuth">
                Pending Authorizations
            </div>
            <div class="item item-divider" id="date">
               Date 05/25/2016
            </div>

            <a class="item" href="#">
                Card Number<br>Drive Name<br>Asset ID<br>Description
            <i class="icon ion-chevron-right"></i>
             </a>
        </div>
        <!-- Filter by Date END -->

        <!-- Driver Name template
        <ion-list class="filter-list">
             <ion-item>
                 <a class="item-content" ng-href="">{{transaction.driverLastName}}, {{transaction.driverFirstName}}Adams,John <i class="icon ion-chevron-right"></i></a>
             </ion-item>
        </ion-list>
        <!-- Drive Name template END -->

        <!-- Card Number template
        <ion-list class="filter-list">
            <ion-item>
                <a class="item-content" ng-href="">{{transaction.embossedCardNumber | wexCardNumber}}12345  <i class="icon ion-chevron-right"></i></a>
            </ion-item>
        </ion-list>
        <!-- Card Number template END -->

        <ion-refresher class="wex-refresher" on-refresh="vm.resetSearchResults()"></ion-refresher>

        <wex-infinite-list on-reload="vm.loadNextPage"
                           on-page-loaded="vm.pageLoaded"
                           reload-distance="::vm.config.reloadDistance"
                           loading-complete="vm.loadingComplete">
            <div ng-switch="vm.postedTransactions.length > 0">
                <div ng-switch-when="true"
                     class="row"
                     collection-repeat="transaction in vm.postedTransactions"
                     ng-class="$index%2 !=0 ? 'transaction-row' :''"
                     ui-sref="transaction.postedDetail({transactionId: transaction.transactionId})">

                    <div class="col col-74 ellipsis">{{transaction.embossedCardNumber | wexCardNumber}}<br><span class="body-text">{{transaction.driverLastName}}, {{transaction.driverFirstName}}<br>{{transaction.customVehicleId}}</span><br><span class="active-link">{{transaction.merchantName}}<br>{{transaction.productDescription}}</span></div>
                    <div class="col col-26 right-align"><span class="currency">{{transaction.netCost | currency}}</span><br><span class="body-text">{{transaction.transactionDate | wexDefaultDateFormat}}</span></div>
                </div>

                <div ng-switch-when="false" ng-if="vm.firstPageLoaded" class="no-transactions">{{::vm.config.emptyList}}</div>
            </div>
        </wex-infinite-list>

    </ion-content>
</ion-view>
