<ion-view view-title="Transaction Details">
    <ion-content>
        <div class="padding item-wrap">
            <p class="padding divider">
                <span class="block_align black">Card Number</span>
                <span class="content_align black">xxxx23456</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Post Date</span>
                <span class="content_align black">05/342838</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Trans Date/Time</span>
                <span class="content_align black">06/12/2015 09:42 AM</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Gross Cost</span>
                <span class="content_align black">$150.56</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Net Cost</span>
                <span class="content_align black">$150.56</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Product Description</span>
                <span class="content_align black">Unleaded Fuel</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Driver Name</span>
                <span class="content_align black">John Smith</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Customer Vehicle/Asset ID</span>
                <span class="content_align black">VEH313</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Merchant Name</span>
                <span class="content_align black">Sunoco 123</span>
            </p>
            <p class="padding divider">
                <span class="block_align black">Merchant City,ST</span>
                <span class="content_align black">Boston,MA</span>
            </p>
        </div>
    </ion-content>
</ion-view>