<ion-view view-title="{{::vm.config.title}}" wex-back-state="{{vm.backStateOverride}}">
    <div class="bar bar-subheader">
      <div class="bar bar-header">
        <div class="button-bar bar-positive" ng-click="vm.handleFilterSelection()">
          <wex-bar-button ng-value="'date'"   ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.date}}</wex-bar-button>
          <wex-bar-button ng-value="'driver'" ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.driver}}</wex-bar-button>
          <wex-bar-button ng-value="'card'"   ng-model="vm.filterViews.transactionsFilterValue">{{::vm.config.buttonLabels.card}}</wex-bar-button>
        </div>
      </div>
    </div>

    <ion-content class="has-subheader" ion-sticky>

        <div ng-switch="vm.filterViews.transactionsFilterValue">
            <div ng-switch-when="date">
                <filter-date-transaction-list cardId="vm.cardIdFilter"></filter-date-transaction-list>
            </div>

            <div ng-switch-when="driver">
                <filter-driver-transaction-list cardId="vm.cardIdFilter"></filter-driver-transaction-list>
            </div>

            <div ng-switch-when="card">
                <filter-card-transaction-list cardId="vm.cardIdFilter"></filter-card-transaction-list>
            </div>
        </div>

    </ion-content>
</ion-view>
