<ion-view view-title="{{ ::vm.config.title }}" wex-back-state="{{ vm.backStateOverride }}">
    <div class="bar bar-subheader bar-positive" ng-switch="vm.params.filterBy">
        <h2 ng-switch-when="card"   class="title">***{{ ::vm.params.transaction.embossedCardNumber }}</h2>
        <h2 ng-switch-when="driver" class="title">{{ ::vm.params.transaction.firstName }} {{ ::vm.params.transaction.lastName }}</h2>
    </div>

    <ion-content class="has-subheader" ion-sticky>

        <filter-date-transaction-list filter-by="vm.params.filterBy"
                                      filter-value="vm.params.filterValue"
                                      is-greeking="true">
        </filter-date-transaction-list>

    </ion-content>
</ion-view>
